[2019-02-27 13:33] romcheg commented on #3300
Closing a stale issue. If it is still relevant, please re-open it or start a topic at  Ralph forum: https://ralph.discourse.group

[2019-02-27 13:33] #3300 closed, assigned to nobody

[2019-02-27 13:40] romcheg commented on #3416
The problem perhaps is in the settings of your database server. Could you please ensure you have configured correct encoding and the charset there?

Proof that it works in Ralph:
![screen shot 2019-02-27 at 14 39 09](https://user-images.githubusercontent.com/214072/53494189-75138200-3a9d-11e9-8bb2-1b2f4889aa6b.png)

[2019-02-27 13:45] romcheg commented on #3397
Users may have multiple sim cards assigned. Frankly, the list of users is not meant to be used by regular users for looking for contact information but rather to manage access settings for the assets.

[2019-02-27 13:45] #3397 closed, assigned to nobody

[2019-02-27 13:48] romcheg commented on #3299
@juniorfoo are you going to work on this issue?

[2019-02-27 13:51] romcheg commented on #3248
Adding a link is not easy -- it's super easy. However, I believe that will misguide users who log in using ldap.

[2019-02-27 13:51] CaptainSifff commented on #3419
Great! I didn't know about that.

[2019-02-27 13:54] romcheg commented on #3408
We do have to do it. However, since Ralph basically overrides a lot of Django's internals and integrates those modifications with some of the external packages, it's not that simple. We will have to come up with a testing plan before making any changes and to do a hackaton for that. So the answer is Yes, there are plans but they are not clarified yet.

[2019-02-27 13:54] #3408 closed, assigned to nobody

[2019-02-27 13:56] romcheg commented on #3334
Docker images were re-done completely and are now available pre-built at DockerHub:

- https://hub.docker.com/r/allegro/ralph
- https://hub.docker.com/r/allegro/ralph-static-nginx

[2019-02-27 13:56] #3334 closed, assigned to nobody

[2019-02-27 13:58] romcheg commented on #3270
Closing a stale issue. If it is still relevant, please re-open it or start a topic at  Ralph forum: https://ralph.discourse.group

[2019-02-27 13:58] #3270 closed, assigned to nobody

[2019-02-27 13:59] romcheg commented on #3398
We do not test Ralph with MariaDB atm. You are welcome to start a topic at  Ralph forum: https://ralph.discourse.group

[2019-02-27 14:01] romcheg commented on #3341
At the moment we have no plans to do that as a maintainers team. Any contributions are welcome.

[2019-02-27 14:01] #3341 closed, assigned to nobody

[2019-02-27 14:32] romcheg opened #3421 "Documentation links on gh-pages are incorrect"
The correct link is https://ralph-ng.readthedocs.io

[2019-02-27 14:38] #3421 closed, assigned to romcheg

[2019-02-27 18:54] maverick85 commented on #3093
So you’re not interesting in attending the professional community that uses RHEL or CentOS, because Debian is the most common platform?

Ah well, scratching this from the list.

[2019-02-27 19:15] romcheg commented on #3093
**Two vital things:**

- We won't tolerate any (passive)aggressive language or behavior in Ralph community, so please mind your words and stay professional when posting comments here. No warnings will be given.
- I do realize it is important to have packages for all major distributions but as I've mentioned there is no way to package Ralph for CentOS/RHEL 7 because Ralph requires python-3 which is

[2019-02-28 07:29] djkormo commented on #3417
After using docker-compose run web init.

I have  docker_nginx_1 restarting all the times .
$ docker-compose ps
      Name                    Command                 State               Ports
----------------------------------------------------------------------------------------
docker_db_1        docker-entrypoint.sh mysql ...   Up           3306/tcp, 33060/tcp
docker_nginx_1     nginx -g daemon

[2019-02-28 11:54] vi4m opened #3423 "Cannot set gateway via Networks API"
### Steps to reproduce

```echo '{"name": "test", "gateway": { "id": 1 }}' | http PATCH http://localhost:8000/api/networks/1/ Authorization:"Token ..."```

### Expected behavior

[code]
### Actual behavior

[code]

### Environment

Master

[2019-02-28 16:54] CaptainSifff commented on #3398
You can try my branch over here:
https://github.com/allegro/ralph/pull/3405
I updated the pipeline for mariadb and did not encounter any errors.

[2019-03-01 10:20] romcheg commented on #3398
Re-opening the issue since thanks to @CaptainSifff mariadb is back on the table. @tsdogs could you please check the issue still persists for you?

[2019-03-01 14:48] tsdogs commented on #3398
I'll have a try this weekend and report back.

[2019-03-03 10:38] tsdogs commented on #3398
I have tried setup an environment to build ralph, but either documentation is old or I'm not able to even start the vagrant environment.
If you can provide a prebuilt package that would be best, otherwise point me on how to setup build environment.

[2019-03-03 10:49] tsdogs commented on #3398
ok,never mind. docker is now building.

[2019-03-03 10:54] romcheg commented on #3398
@tsdogs vagrant support was deprecated and removed. The documentation will be automatically rebuilt as soon as we tag a release. Please make sure you have the latest sources since there should not be a vagrant catalogue there.

[2019-03-03 11:10] romcheg commented on #3398
Also you don’t have to build docker images, the latest release is available on dockerhub as  allegro/ralph and allegro/ralph-static-nginx

[2019-03-03 16:50] tsdogs commented on #3398
I've built the ng tree from @CaptainSifff installed on a 18.04 ubuntu but the "ralphctl migrate" still gives the same error:

Applying accounts.0001_initial...Traceback (most recent call last):
  File "/opt/ralph/ralph-core/lib/python3.6/site-packages/django/db/backends/utils.py", line 62, in execute
    return self.cursor.execute(sql)
  File "/opt/ralph/ralph-core/lib/python3.6/site-packages/djan

[2019-03-04 09:49] #3419 closed, assigned to nobody

[2019-03-04 09:55] MarekBleschke commented on #3407
Hi, which report do you have in mind? Do you have some error, or do you need info on how to export?

[2019-03-04 13:54] romcheg commented on #3416
@titago I will close this issue to keep it from dangling unattended. If the problem keeps happening despite correct encoding and charset in your mysql database, feel free to re-open it.

[2019-03-04 13:56] romcheg commented on #3299
Closing the issue due to no activity. Feel free to re-open it or to start a topic on our forum.

[2019-03-04 13:56] #3299 closed, assigned to nobody

[2019-03-04 15:26] romcheg commented on #3417
@djkormo so basically restarting nginx container helped, didn't it?

[2019-03-04 16:19] tsdogs commented on #3398
Hello,
I found the source of this error. It is related to the default collate of mariadb.
Creating the database with utf8 (as stated in the documentation) solved the problem (my bad).

CREATE database ralph default character set 'utf8';

[2019-03-04 16:23] romcheg commented on #3398
@tsdogs many users are hit by this issue. I will mention the solution in the documentation, perhaps. I'm normally trying to avoid documenting 3rd party systems but for this specific issue it's better to make an exceptions.

[2019-03-04 16:23] #3398 closed, assigned to nobody

[2019-03-04 17:13] tsdogs commented on #3398
@romcheg I think the issue is that in the documentation in the bionic and newer section there is no mention of the create database (there's only the part for the user creation).
So I went by default with a simple "create database ralph_ng;" with default charset.

Probably adding the create database example would be enough.

[2019-03-05 08:18] djkormo commented on #3417
Yes.

[2019-03-06 08:41] romcheg opened #3428 "ralph-static-nginx image does not have labels configured"
All labels except Description should be the same as on the main container.

[2019-03-06 09:40] lordrocyu commented on #3407
At firest, I want to user Settings ---> Report template to customize the report of Data center assets.
e.g.: hostname,barcode,sn,model.I want to get the customize report on the web and export it.
But I can't find the manual.
There is no error.

[2019-03-06 10:14] #3417 closed, assigned to nobody

[2019-03-06 10:15] #3428 closed, assigned to romcheg

[2019-03-08 05:15] LateSong commented on #3417
Hey, my question is the same as this one. I tried running docker-compose run --rm web ini’, but I also reported an error here, showing the error 'django.db.utils.OperationalError: (1050, "Table 'accounts_ralphuser' already exists")’

* docker version: 18.09.3
* Ralph version: 20190306.1
* Operating system: Deabian9.8
* Method of installation: docker-compose

[2019-03-09 10:27] tsdogs opened #3432 "Possibility to run ralph in a relative path"
I'd like to run ralph on a server with more installed applications, so it would be nice to be able to change Ralph URL path tohttps:// www.server.com/ralph/

Probably it can be done using some rewrite rules right now, though seems quite complicated.

[2019-03-09 13:17] tsdogs commented on #3432
Right now I've solved it with apache configuration like this:

[code]

[2019-03-09 13:28] tsdogs commented on #3432
Solution is not complete 'cause I get strange behaviour with display (probably some javascript or css)

[2019-03-11 12:39] diedriko opened #3433 "error get_version.sh"
Hi
When I try to upgrade my existing installation if get following error
Command '['/opt/ralph/ralph-20190306.1/get_version.sh']' returned non-zero exit status 128
Any suggestions?

[2019-03-11 12:44] titago commented on #3416
apparently You haven't used mentioned char "Ś" and "Ę"

there is my mysql encoding:

mysql> show variables like 'collation%';
+----------------------+-----------------+
| Variable_name        | Value           |
+----------------------+-----------------+
| collation_connection | utf8_general_ci |
| collation_database   | utf8_unicode_ci |
| collation_server     | utf8_unicode_ci |
+---------------

[2019-03-11 13:35] diedriko commented on #3433
nervermind, solved, needed git folder structure

[2019-03-11 13:35] #3433 closed, assigned to nobody

[2019-03-11 14:27] romcheg commented on #3433
@diedriko how do you install Ralph? Do you use the package?

[2019-03-11 16:03] romcheg commented on #3416
<img width="1280" alt="Screen Shot 2019-03-11 at 17 03 01" src="https://user-images.githubusercontent.com/214072/54138335-8a829780-441f-11e9-886a-989a5a7faf1c.png">

[code]

[2019-03-11 16:16] romcheg commented on #3416
@titago I was still not able to reproduce the behavior you described with the latest version of Ralph. However, I did manage to reproduce it on the demo setup. Let me investigate it further.

[2019-03-13 16:17] richlv commented on #3093
There doesn't seem to be anything wrong with having a package that would require "optional" or Red Hat Software Collections repos - but the lack of packager time is the important factor, of course :)

[2019-03-13 16:55] richlv opened #3437 "typo on homepage - "choosen""
See https://ralph.allegro.tech/ - "choosen" -> "chosen".

[2019-03-13 21:32] vi4m commented on #3437
thanks for reporting!

[2019-03-13 21:43] romcheg commented on #3093
@richlv we will of course be happy, if someone besides the maintainers could help us with RPM packaging. Would you consider doing that? My experiments with RHEL8 Beta during my free time ended up with an export hold they have put onto my account. :) As soon as I resolve the issue I will probably continue experimenting.

[2019-03-14 22:01] maverick85 commented on #3093
It took me a couple of months to decide to reply.
Python 3 is widely available for CentOS. You can use the most commonly used EPEL repository to get it installed in ... 2 minutes. (not so long really)
Your text makes it look like its some world revolving task to have python3 on CentOS. It is not.
Any basic good for nothing software installer now a days sets up EPEL and REMI or IUS repos and instal

[2019-03-14 22:18] romcheg commented on #3093
@maverick85 I have spent a significant portion of my career at a company doing RPM packaging for RHEL/CentOS and besides that I was a part of the python-3 initiative team in OpenStack. In both places we had to limit our python usage to python-2 only not because it was impossible to use an extra repo but because using that repo would brake RedHat’s support agreements.

Anyway, if you’d like to see

[2019-03-14 22:22] maverick85 commented on #3093
First we're not talking about RH we're talking about CENTOS. (regarding support agreements).
Second I will try to do that. Unfortunately I don't have much free time, I travel a lot for work, and sometimes I do software testing. I found Ralph to be promising, definitely congrats for the work put into it, my rant was exclusively to your reply that, again, I don't agree with the aforementioned diffic

[2019-03-14 22:37] romcheg commented on #3093
There are a few bigger companies that use Ralph and use RHEL as their base distribution. I’m not sure how they resolve the problem atm but I think they run Ubuntu or CentOS just for Ralph. Unfortunately when we are talking about DCIM systems like Ralph we have to deal with bigger users who actually do have their own DCs and those companies often use RHEL instead of CentOS so we have to keep in min

[2019-03-14 22:47] maverick85 commented on #3093
I remember seeing someone installing python3 directly on rh and using scl to enable it on some project that required it and I remembered it worked damn well. the python that was installed came directly from some RH repo too, but that was my colleague doing it I just saw him doing it can't remember all the details.
100% on the companies that have DC's have RH... setting up 200 next two weeks... lol

[2019-03-14 22:48] maverick85 commented on #3093
I remember seeing someone installing python3 directly on rh and using scl to enable it on some project that required it and I remembered it worked damn well, but can't detail how he configured.
100% on the companies that have DC's have RH... setting up 200 next two weeks... lol
but will install CentOS anytime to run an application that seems worthwhile, virtualising its easy pie.

The thing here i

[2019-03-15 11:29] titago commented on #3416
Thanks for your involvement, where should I search for encoding settings?

[2019-03-17 17:06] vi4m opened #3438 "Cannot add host cloud manually"
### Steps to reproduce

https://ralph.discourse.group/t/i-can-not-add-host-cloud/46/3

### Expected behavior

Ralph should allow to add cloud host manually.

### Actual behavior

it's not possible to add cloud host manually.

[2019-03-18 08:08] szymi- commented on #3438
I think this has already been discussed in the past. Cloud hosts are ephemeral and should be added to and removed from Ralph automatically via API. If somebody wants to treat Open Stack instances as VMs, then I guess it would make sense to add them to Ralph as VMs.

[2019-03-18 08:17] romcheg commented on #3438
It would be pretty hard to do since the general idea behind cloud instances is that they are managed automatically. Virtual machines are to be used in manual scenarios.

[2019-03-18 09:54] vi4m commented on #3438
So why showing "Add" operations?

[2019-03-18 10:16] romcheg commented on #3438
The button should be removed but I think it makes sense to file a separate issue for this to avoid confusions in the future.

[2019-03-21 19:39] amcleod15 opened #3439 "Multi-site/customer needs"
Hi,
We like the simplicity of Ralph.   We have a large company using this.  We also have multiple customers that are independent of each other that we want to track inside one Ralph database.

Is there any plans for multi-tenency (more than one customer tracked inside 1 DB)?  There's several areas that would need to be touched if so:
1) Allowing of Duplicate IPs - need a customer table with custId

[2019-03-22 08:24] romcheg commented on #3439
Hi @amcleod15,

It's nice to hear (or rather read) you like Ralph. The quick answer is no -- we do not have any plans to implement multi-tenancy ourselves at this moment. However, we had been using Ralph in a bigger multi-national company that later was split by the investors, so the idea of multi-tenancy sounds nice. Would you as a company be interested in contributing appropriate changes to the

[2019-03-25 17:50] richlv commented on #3093
Heya, thank you all for the attention to this topic. As I haven't got to installing Ralph even once yet, for now I could at best help with package testing.

[2019-03-25 18:47] amcleod15 commented on #3439
Hi Roman,

Thanks for the reply!

We're open to the idea to contribute here.     The amount of time available
will depend on several factors - mostly whether my work wants to "donate"
this time with myself or another...or if this is more off-hours work that I
volunteer outside of work.

I'm more of a DB and Perl guy...and senior.   I've been meaning to pickup
more of the django stuff as I have a R

[2019-04-01 19:15] renguomin opened #3441 "API multi tag filter does not work"
### Steps to reproduce

In the demo website, I added tags for 3 machines:
tag: test
https://ralph-demo.allegro.tech/data_center/datacenterasset/910/

tag: windows
https://ralph-demo.allegro.tech/data_center/datacenterasset/908/

tag: test,windows
https://ralph-demo.allegro.tech/data_center/datacenterasset/907/

curl -X GET 'http://sig-os015033022:8000/api/virtual-servers/?tag=test' -H 'Authorizati

[2019-04-27 09:24] mosesmosheh opened #3446 "Back Office Hardware doesn't show with custom permissions"
### Steps to reproduce
1. Log in as a super user
2. Create a group and apply every permission available to it
3. Create a test user and assign user to group
4. Ensure you have back office hardware
5. Log in as the test user, and try to look at Back Office Hardware - nothing appears
6. Try to add a back office asset, and it will break as region permissions are not respected.

### Expected behavior

[2019-04-27 14:36] vi4m commented on #3446
Thanks for reporting this, checking what's the cause..

[2019-05-11 07:17] Talangor opened #3449 "500 internal error"
hi
OS ubuntu Buster

i imported about 900 vms in virtual servers and it have 9 pages now
i can view 6 pages without problem but in pages 7 - 9 i get this error

Environment:

Request Method: GET
Request URL: http://foo.bar/virtual/virtualserver/?p=6

Django Version: 1.8.19
Python Version: 3.6.7
Installed Applications:
('ralph.admin',
 'django.contrib.admin',
 'django.contrib.auth',
 'django.contri

[2019-05-12 06:54] Talangor commented on #3449
i have found several more 500 errors

Environment:

Request Method: GET
Request URL: http://foo.bar/operations/change/

Django Version: 1.8.19
Python Version: 3.6.7
Installed Applications:
('ralph.admin',
 'django.contrib.admin',
 'django.contrib.auth',
 'django.contrib.contenttypes',
 'django.contrib.humanize',
 'django.contrib.sessions',
 'django.contrib.messages',
 'django.contrib.staticfiles',

[2019-05-12 06:55] Talangor commented on #3449
Environment:

Request Method: POST
Request URL: http://foo.bar/networks/ipaddress/export/

Django Version: 1.8.19
Python Version: 3.6.7
Installed Applications:
('ralph.admin',
 'django.contrib.admin',
 'django.contrib.auth',
 'django.contrib.contenttypes',
 'django.contrib.humanize',
 'django.contrib.sessions',
 'django.contrib.messages',
 'django.contrib.staticfiles',
 'django_rq',
 'import_expor

[2019-05-12 12:00] vi4m commented on #3449
Thanks for reporting it @Talangor

@MarekBleschke looks like easy bug in "operations/changes" templates - I think @romcheg commited to operations last time

[2019-05-13 09:04] Talangor commented on #3449
thanks, @vi4m for replying but how can I fix this? and I don't think its only in operations/changes!
I have posted 3 different tracebacks from different menus.

[2019-05-15 09:38] #3396 closed, assigned to nobody

[2019-05-15 20:07] vi4m commented on #3449
@Talangor Is something specific about the imported data on 7-th page? Some weird labels / empty text or non-standard fields?

[2019-05-18 03:47] Talangor commented on #3449
@vi4m I have checked it and could not detect anything,
can you give me your e-mail address so I can send you the file I'm importing? , I will appreciate if you could check it out
I even reinstalled another ubuntu and checked if it will be working but no luck

[2019-05-18 04:25] Talangor commented on #3449
I have tried to delete one field at a time and import it.
it had to do something with parent field in virtual servers I was importing because when I removed every parent it did not return 500 error.
I would like to have some specific error so I could trace it down but I appreciate your hard work.

[2019-05-18 05:11] Talangor commented on #3449
me again

can you guys analyze this? its general log from when i get 500 error

"2019-05-18 09:30:10.544822","[ralph_ng] @ localhost [127.0.0.1]",140,0,"Connect","ralph_ng@localhost on ralph_ng using TCP/IP"
"2019-05-18 09:30:10.545411","ralph_ng[ralph_ng] @ localhost [127.0.0.1]",140,0,"Query","SET default_storage_engine=INNODB;"
"2019-05-18 09:30:10.545760","ralph_ng[ralph_ng] @ localhost [127.0

[2019-05-18 08:41] Talangor commented on #3449
sorry to bother but I should report.
I found the problem ! it was an datacenter hardware and could not recognize why because everything was right

i have 2 more problems
1 is when i try to export ip addresses
with this log
django.core.exceptions.FieldError: Invalid field name(s) given in select_related: 'base_object'. Choices are: Ethernet, network
**_by the way in your own Ralph demo it returns 5

[2019-05-20 07:01] Talangor commented on #3449
2 days and no reply?
it can't be fixed?

is when i try to export ip addresses
with this log
django.core.exceptions.FieldError: Invalid field name(s) given in select_related: 'base_object'. Choices are: Ethernet, network
by the way in your own Ralph demo it returns 500 error when exporting ip address

[2019-05-20 13:36] szymi- commented on #3449
Hi @Talangor , please email us the file you are trying to import to pylabs@allegro.pl.

I checked the first error you reported (at /virtual/virtualserver) and I am unable to replicate it.

[2019-05-21 04:35] Talangor commented on #3449
HI @szymi-  i have found and solved the problem that i had with virtual machines it had to do something with one of the hardwares in the datacenter (virtual server parent) just deleted the machine and recreated it and everything is fine now

i have other problem now, when i try to export ip address in network section i get 500 error.
i have checked your official demo site and it has the same probl

[2019-05-21 08:31] szymi- commented on #3449
OK, I'll investigate the error with IP export.

[2019-05-22 03:15] Talangor commented on #3449
thanks @szymi-  it fixed ip export error

[2019-05-24 09:01] #3449 closed, assigned to nobody

[2019-05-26 16:03] hkyyx opened #3457 "autocomplete not working"
I add a model ResourceGroup, and this model has a manytomany relationship with other model.

In the search view, when i click the row, it redict the detail view, not select the result
![image](https://user-images.githubusercontent.com/12455492/58384276-832c5c80-8012-11e9-990d-ff60120c925e.png)

![image](https://user-images.githubusercontent.com/12455492/58384287-9c350d80-8012-11e9-8d83-55662470f14

[2019-05-27 07:26] romcheg commented on #3457
@yanyixing is there a chance you can push a PR with your changes so we can take a look at the code?

[2019-06-01 04:24] Talangor commented on #3449
hi
it's me again
after patch by @szymi-  i can export ip addresses but when i try to import same exported data i get error

Line number: 1 - Column 'asset': not enough values to unpack (expected 2, got 1)
OrderedDict([('asset', '1293'), ('asset_str', 'VirtualServer: test1 (IT-Infra - test1)'), ('network', '39'), ('network_str', 'MT-SR-none-VLAN (0.0.0.0/0 | VLAN: None)'), ('id', '14'), ('created',

[2019-06-01 04:29] Talangor opened #3460 "IP Export & Import"
hi
it's me again
after patch by @szymi-  i can export ip addresses but when i try to import same exported data i get error

Line number: 1 - Column 'asset': not enough values to unpack (expected 2, got 1)
OrderedDict([('asset', '1293'), ('asset_str', 'VirtualServer: test1 (IT-Infra - test1)'), ('network', '39'), ('network_str', 'MT-SR-none-VLAN (0.0.0.0/0 | VLAN: None)'), ('id', '14'), ('created',

[2019-06-09 20:32] richlv commented on #3093
Were the manual install instructions included in the official documentation in the end? Planning to try them out and possibly contribute to the docs at least.

[2019-06-09 20:34] richlv commented on #2978
Unfortunately the official docs do not cover RHEL family at all - perhaps the manual install instructions can be adopted in the documentation?

[2019-06-10 04:07] Talangor commented on #3460
nothing ?

[2019-06-12 08:39] rdarioc opened #3461 "django.db.utils.OperationalError: (1054, ..."
### Steps to reproduce

I've added ralph repos and ran apt-get update and apt-get upgrade.

Original installation was made manually with ralph 3

Python 3.6.8
/opt/ralph/ralph-core/bin/django-admin --version
1.8.19
 DISTRIB_DESCRIPTION="Ubuntu 18.04.2 LTS"
full log available on https://xsnippet.org/363996

### Expected behaviour

I would have expected ralph to keep working as usual.

### Actual be

[2019-06-17 06:52] rdarioc commented on #3461
Issue has been fixed. Documented here [https://ralph.discourse.group/t/upgrade-via-apt-issue/67](url). I would recommend the execution of the migration script at the end of the installation scripts of ralph on Ubuntu from repo, just to make sure all structures are aligned.

[2019-06-17 06:52] #3461 closed, assigned to nobody

[2019-06-17 06:52] rdarioc commented on #3461
Just a recommendation to add the migration script at the end of the installation scripts for the installation of ralph from repo on Ubuntu.

[2019-06-17 07:27] vi4m opened #3463 "Ralph upgrade breaks ralph installations, well, by design"
Currently, apt-get upgrade of ralph installation doesn't run ralph migrate.

The problem is - users are not notified it's required to run ralph migrate command, which will cause severe errors reported to github / forum

We need to do something about it:

1) Auto run migrations given the fact they are non-destructive
2) Notifiying user(printing on console?) what command to run (similar to homebrew?

[2019-06-17 07:28] vi4m commented on #3461
Thanks @rdarioc for reporting this.

We will try to improve upgrading experience, https://github.com/allegro/ralph/issues/3463

[2019-06-17 09:34] romcheg commented on #3463
Touching users' data automatically isn't the best choice -- you never know where all hosts are ready for a new data format. Displaying a big notification is a better option, yet in production installations where the upgrade process is controlled by puppet/chef/whatever those logs won't be seen. It is necessary to make it more clear in the documentation that data are not migrated automatically.

[2019-06-17 12:42] bprfh commented on #3463
How about adding a question on apt upgrade?
For example some packages have default configs, which can overwrite your custom settings.
On apt-upgrade, they ask you if you want to keep your configuration or use the new upstream config.
But I think it is reasonable to modify things on apt upgrade.

[2019-06-18 12:03] rdarioc commented on #3463
If I may suggest, if not running ralph migrate leaves the server inconsistent, then it is not matter of an option. it has to be executed. Rather I would say the question should be asked beforehand, not after. And always recommend users to do a backup of the machine.

[2019-06-19 11:01] IxFail opened #3465 "City name not showing in My profile page"
### Steps to reproduce

1. Set City in user profile.
2. View "My Profile"
3. Only see City title and no City name.

Even if user is superuser and/or has all User permissions enabled you do not see the city name.
Edit user:
![image](https://user-images.githubusercontent.com/1544552/59760011-96d58680-9291-11e9-9ec4-5224d9dc5d2a.png)
"
My profile page:
![image](https://user-images.githubusercontent.c

[2019-06-23 03:15] SuperChaw commented on #3304
Is that this issue closed?
But when i test to export ip, the 500 error in web still occurs again.
The logs:
'base_object'. Choices are: ethernet, network Exception Location: /opt/ralph/ralph/lib/python3.4/site-packages/django/db/models/sql/compiler.py in get_related_selections, line XXX

[2019-06-23 03:45] SuperChaw commented on #3460
some days ago, i test to export ip address ,but i faild that it comes up 500 error.
today i find out that the IPAddress module in ralph web(https://ralph-demo.allegro.tech/) has changed.
And even adding a ip address will cause 500 error.

[2019-06-24 14:33] Talangor commented on #3460
@SuperChaw
hey buddy
I did something about this but it does not relate to the code itself
I exported and created queries from MySQL database itself
and I really really regret choosing Ralph and working on it
maybe I'm wrong but i think it's designed so no one can migrate from Ralph
you will see what I mean when you go and investigate SQL tables
everything is referenced to other tables with id's

[2019-06-25 23:53] CentevaAdmin opened #3468 "hypervisor should allow for vcenter"
With a vcenter setup there isn't always a single "hypervisor". Is there a way to make a vcenter asset?

[2019-07-16 11:13] dennisjmi24 opened #3473 "500 error on Dashboard if i have loan in progress"
Hey i tested it with my admin user

if i am the user of a device in back office assets and the device has status loan in progress then i get a error 500 message on my Dashboard

log
`[16.07.2019 13:01:41,968] ERROR   [MainProcess 26801] base - Internal Server Error: /
Traceback (most recent call last):
  File "/opt/ralph/ralph-core/lib/python3.6/site-packages/django/core/handlers/base.py", line 16

[2019-07-16 11:14] dennisjmi24 commented on #3473
if i  change the status from my device to another like "in use" then the error message is gone

[2019-07-18 13:27] rmcclelland97 opened #3475 "Manually change host name field"
Hi, quite new to Ralph 3, cannot find in the settings how to stop the host name field auto generating, is it possible to change this so I can enter hostname manually? Thanks.

[2019-07-22 11:06] diedriko opened #3476 "problem installing ralph - gulp"
./node_modules/.bin/gulp
assert.js:375
    throw err;
    ^

AssertionError [ERR_ASSERTION]: Task function must be specified
    at Gulp.set [as _setTask] (/opt/ralph/ralph-20190627.1/node_modules/undertaker/lib/set-task.js:10:3)
    at Gulp.task (/opt/ralph/ralph-20190627.1/node_modules/undertaker/lib/task.js:13:8)
    at Object.<anonymous> (/opt/ralph/ralph-20190627.1/gulpfile.js:140:6)
    at M

[2019-08-06 08:16] richlv commented on #3476
Facing the same issue - gulp 3.x did not work with the latest node, gulp 4.0 gets the error as reported here.

Perhaps https://www.sitepoint.com/how-to-migrate-to-gulp-4/ is relevant.

[2019-08-06 11:36] richlv commented on #3437
For the record, typo still present.

[2019-08-06 11:36] richlv opened #3479 "website problems - broken links, mismatching claims, typo"
### Steps to reproduce

See https://ralph.allegro.tech/ .

a) Section "Install Ralph" says "We provide DEB package and Docker image for your convience", but clicking through to the linked documentation page reveals "The package can be installed inside a Docker container, however at the time of this writing there is no official image yet".

b) There's a typo "convience" - should be "convenience".

[2019-08-08 17:07] richlv commented on #3476
Ralph does not support gulp4 - you'll have to force installation of gulp3.

[2019-08-13 14:21] richlv commented on #3093
Getting ralph_ng running on RHEL 7.5 was a long journey, thanks to all the help in the Ralph chat - that was crucial for the final steps.

This is really not a nice way to install things, but perhaps it helps somebody - just throwing it out here.

[code]

[2019-08-30 01:38] cactu1900 opened #3482 "ralph3 centos7 install help"
Hi
i have to install ralph3 as centos7.
ralph officially supports ubuntu and has trouble installing on centos7.
Can you record how to install from start to finish?
need your help to install on centos7
If you have documents, please forward me as documents.

[2019-09-11 02:55] lordrocyu opened #3483 "500 error on /networks/ipaddress/export/"
Environment:

Request Method: POST
Request URL: http://10.27.132.32:8888/networks/ipaddress/export/

Django Version: 1.8.19
Python Version: 3.4.3
Installed Applications:
('ralph.admin',
 'django.contrib.admin',
 'django.contrib.auth',
 'django.contrib.contenttypes',
 'django.contrib.humanize',
 'django.contrib.sessions',
 'django.contrib.messages',
 'django.contrib.staticfiles',
 'django_rq',
 'im

[2019-09-12 04:48] SuperChaw commented on #3483
It fixed #3449
Closed in 1b315e6

[2019-09-13 05:29] fabiankrack commented on #3482
Hi,

please have at look at #3093

Cheers Fabian

[2019-09-13 08:22] fabiankrack opened #3484 "CentOS/RHEL package"
Providing an RPM for CentOS/RHEL would expand the distribution of Ralph.

A manual step-by-step procedure has been provided in #3093.

[2019-09-13 09:02] fabiankrack commented on #3484
See PR #3485

[2019-09-16 06:44] sarath196 commented on #3093
I tried all your steps on Centos7.. till ralph syncdb, but I get the following error.

`Synchronizing apps without migrations:
Creating tables...
    Running deferred SQL...
  Installing custom SQL...
Running migrations:
  Rendering model states...Killed
`

[2019-10-21 16:00] oswinfox commented on #2193
Hello, I am trying Ralph installed with docker and I have the same error... Anyone can help me?

[2019-10-21 16:09] oswinfox commented on #3484
+1 it would be great to have a RPM package for centos7

If you need help? or test? let me know

[2019-10-24 07:24] w5t3f opened #3487 "Customfields from model template do not propagate to assets of that model"
### Steps to reproduce
Set custom fields in a model configuration template Settings -> Asset Model
Add asset of that model to DataCenter -> Hardware
Open asset details
There are empty custom fields in Basic info of that asset details. I can find and add those ones (which were set in Asset Model) but I need to do it manually. Fields are not automatically populated from asset template.

### Expected

[2019-10-24 07:47] pnowaczyk commented on #3479
I'll fix this

[2019-10-24 07:47] pnowaczyk commented on #3437
I'll fix this

[2019-10-24 14:09] oswinfox commented on #1187
Hello, i am using the latest image but have a 500 just after running the container, can someone help?

[2019-10-25 18:36] fthommen opened #3490 "Question: Integration of fusioninventory (or other software) as discovery agent?"
In issue #3131 a possible integration ralph <-> fusioninventory had been suggested. Has this happened in the meantime or does ralph integrate other discovery agents (namely for inventorizing installed software)?

[2019-11-08 10:41] Ruilkyu opened #3491 "sorry,I want to know how to use docker compose install"
cd /ralph-20191001.1/docker/  &&  docker-compose up -d    cannot login

[2019-11-13 13:20] CaptainSifff commented on #3490
To my knowledge ralph-cli is still the only thing that is available. I had written my own hardware discovery wrappers here: https://ralph.discourse.group/t/customization-stories-and-tricks/27

[2019-12-16 13:07] schka17 commented on #3491
you need to run some manual commands inside the docker container to initialise the database and create the super user:
start a shell in the container:
$ docker exec -it ralph_web1 /bin/bash
init database:
root@7adfe6813308:/var/local/ralph# ./docker-entrypoint.sh init  --> init db
create superuser:
root@7adfe6813308:/var/local/ralph#ralphctl createsuperuser

to cretea demodate runn the command:
ra

[2020-01-02 10:44] Yansre opened #3502 "ralph internationalization support"
hello：

Will Ralph support internationalization? E.g. Chinese

[2020-01-30 13:40] skrbx commented on #3417
@LateSong try without --rm option

[2020-02-01 06:04] ilovefood2 opened #3515 "how to modify hardware attributes"
I followed instructions and installed ralph as default,
everything seems to be ok, while i browse the UI, and I want to make change of datacentre>hardware attributes, but i can't seems to find a way.

for example, i want to remove barcode, location columns and add some other columns as needed.
![image](https://user-images.githubusercontent.com/4293869/73587822-87a4f100-448e-11ea-9ca5-742c7dea5e4c.

[2020-02-02 14:21] chaoyangqq commented on #3491
![image](https://user-images.githubusercontent.com/3190376/73609602-55200300-460a-11ea-80a0-477a545f3ecb.png)

[2020-02-07 04:59] saiprashanth173 opened #3516 "Discussion on database design decisions"
Hello,

Thanks for developing Ralph.

We are part of the database group at Georgia Tech. We are developing a tool, called sqlcheck, for assisting database application developers in designing performant and maintainable applications. sqlcheck automatically detects sub-optimal database design choices and suggests better alternatives. For instance, storing comma-separated values in a column violates

[2020-02-12 20:41] mwalkowski commented on #3416
Hi, for example you can check encoding for change message column using this query:
```SELECT character_set_name FROM information_schema.`COLUMNS` WHERE table_schema = "ralph_ng" AND table_name = "django_admin_log" AND column_name = "change_message";```

[2020-02-14 19:04] JustOneMoreDog opened #3517 "500 error when using csv on /data_center/datacenterasset/process_import/"
### Steps to reproduce
Importing a csv file will cause a 500 error
Datacenter -> hardware -> import
Choose csv file
it will show you a preview of the stuff that will be imported (its correct here)
confirm import
get 500 error

### Expected behavior

Expected it to bulk import datacenter assets.  I was trying to do around 50 at once but I was also getting the same error when only do 3

### Actual b

[2020-02-14 19:04] JustOneMoreDog opened #3518 "TypeError when importing xlsx on /data_center/datacenterasset/import/"
### Steps to reproduce
Importing a xlsx file will cause a `TypeError encountred while trying to read file: 'generator' object is not subscriptable`
Datacenter -> hardware -> import
Choose xlsx file and hit submit
TypeError encountred while trying to read file: 'generator' object is not subscriptable

### Expected behavior

Expected it to bulk import datacenter assets.  I was trying to do around 50

[2020-02-17 10:22] colttt opened #3519 "feature request: add cartridges/consumables"
Hello,
it would be very nice if we can add (printer) cartridges or other consumables and get triggered when a lower limit is be reached (so we can buy new one).

[2020-02-17 14:38] JustOneMoreDog commented on #3517
Replicable step by step to reproduce this issue
steps to reproduce
create 2 test assets
search for newly made assets
export as csv
[code]
open in excel
delete the 3rd row that contains the 2nd asset leaving just the first test asset
change the following information to make the test import asset unique
id: 497 -> 498
hostname: import-bug-test-00 -> import-bug-test-01
sn: 123 -> 1234
position: 10 ->

[2020-02-17 19:03] JustOneMoreDog commented on #3517
despite having found a solution I am going to keep this open because I do not feel that just a 500 error should be shown.  I ended up hoping onto the CLI and after reading the docs on how to import csv using ralph importer I was able to find the issue.

The first thing I did was remove all the values from the ID column in hopes that Ralph would auto assign those values (it did).

[code]

it seems

[2020-02-18 11:00] vi4m commented on #3519
I think you could "work around" it, with adding custom field "cartridge ink level" and then you can use simple API script to notify you when it's date is expired (or ink level descreased)

Does this idea help?

[2020-02-18 11:23] vi4m commented on #3517
Thank you very much for detailed story about the issue. I think we should do better job showing import errors to the user.

[2020-02-18 20:54] vi4m commented on #3515
The only way to hide fields, is to modify permission settings (removing access to the given field)

[2020-02-18 20:55] vi4m commented on #3515
And you can add new fields with “custom fields”, but it won’t modify default columns(currently there is no way to customize columns view on listing).

Hope it helps.

[2020-02-18 20:56] #3515 closed, assigned to nobody

[2020-02-18 20:59] vi4m commented on #3490
As said before, we provide open API, and ralph-cali to allow custom integrations.
We don’t have plans to write discovery agents by ourselves.

@fthommen you can also ask Fusion Inventory staff , if they have plans to integrate with Ralph

[2020-02-18 20:59] #3490 closed, assigned to nobody

[2020-02-20 19:17] JustOneMoreDog opened #3520 "500 error when clicking on any datacenter asses"
### Steps to reproduce
trying to view any datacenter asset results in a 500 error both from the gui and from the api
/data_center/datacenterasset/224/

### Expected behavior

Expected it to show datacenter assets.

### Actual behavior

Server Error (500)

### Environment

* Ralph version: Ralph-Core version: 20200129.1
* Operating system: Ubuntu 18.04.3 LTS 4.15.0-74-generic
* Method of installati

[2020-02-20 19:21] JustOneMoreDog commented on #3520
I can reliably trigger this by simply using the API

[code]

[code]

By doing this I get the following error in /var/log/ralph/ralph.log

[code]

I am able to import assets but I can not view them.

[code]

It is worth noting that setting the `--verbosity 3` flag has no impact on the output of the command either

[2020-03-05 11:37] #3483 closed, assigned to nobody

[2020-03-16 18:06] vi4m commented on #3520
Seems like a bug in https://github.com/allegro/ralph/commit/e93006480e446bfae029f9de066ca5e8926f07c8

[2020-03-16 18:07] vi4m commented on #3520
If you happen to upgrade Ralph recently, you should run `sudo ralphctl migrate` to apply changes to the database.

[2020-04-13 22:46] MithunGatade opened #3523 "Synchronization with vCenter"
Is there a way to add vCenter / vCenters  as a collector and add all VM's and ESXi in Inventory ?

[2020-04-15 10:46] f31n opened #3524 "demo login credentials are not working"
hey there, i just wanted to have a look into ralph but found following error message:

"Please enter the correct username and password for a staff account. Note that both fields may be case-sensitive."

when using on https://ralph-demo.allegro.tech
with "ralph" / "ralph"

as https://ralph.allegro.tech/ shows

is there a way to fix that?

thanks a lot.

[2020-04-16 07:22] ar4s commented on #3524
Thank you for reporting. Try now.

[2020-04-16 07:22] #3524 closed, assigned to nobody

[2020-04-16 08:03] f31n commented on #3524
working again, thank you very much.

[2020-04-29 11:00] mahomedh opened #3528 "Adding Rack in DC Visualization mode not saving"
### Steps to reproduce

1. Go to Data Center > DC Visualization > Choose any server room
2. Click Edit
3. Click on a blank square/tile to add a rack
4. Fill in a name
5. You can add a description or leave it blank, makes no difference
6. Click save.

Nothing happens and you get the following error in the `ralph.log`:

`[29.04.2020 12:48:37,668] WARNING [MainProcess 1272] base - Not Found: /api/rac

[2020-04-30 13:57] schka17 commented on #3460
late reply, but that's the way Django is working with databases, this relations are defined as model classes and database independent (more or less). So all the relationship are in the model and you can export that

[2020-04-30 14:07] schka17 commented on #3423
Any progress ?

Same issue here

[2020-05-10 16:38] albevt opened #3530 "Problems with fresh install"
Hi, with fresh install on ubuntu 18.04 with last version on deb package i receive this error message after "sudo ralphctl migrate" i follow this docs for setup: https://ralph-ng.readthedocs.io/en/stable/installation/installation/

ubuntu@inventory:~$ sudo ralphctl migrate
Operations to perform:
  Synchronize unmigrated apps: rest_framework, table, messages, django_rq, dc_view, staticfiles, ralph_a

[2020-05-12 13:57] rudvolkov opened #3532 "Auto generate barcode"
Does the system have a barcode generation function?

[2020-05-12 14:38] romcheg commented on #3532
@rudvolkov No, the barcodes should be entered manually. The only option for automating the process was using @vi4m 's iphone app but I'm not sure it still exists in AppStore.

[2020-05-12 14:44] rudvolkov commented on #3532
Will the barcode auto-generation function be added in new versions?

[2020-05-12 14:46] romcheg commented on #3532
Unfortunately we did not have it in our plans. However, we will gladly accept a change introducing that functionality.

[2020-05-12 14:49] rudvolkov commented on #3532
@romcheg I used to see the order in 2017, they also asked about barcode, there was an answer that in the future they might introduce a system, so I decided to clarify.
Ник скрывает русскую натуру?)

[2020-05-12 15:03] romcheg commented on #3532
Due to limited capacity of the maintenance team we have to prioritise the most essential changes and cut off the rest. The prioritisation on our case has to be done basing on how we use Ralph internally. In our scenario barcodes are generated before assets are introduced into Ralph so it's unlikely we will be be working on auto-generating them in observable future.

Open-source software gives ever

[2020-05-13 07:41] ssaklica commented on #3517
![image](https://user-images.githubusercontent.com/61520068/81784782-0ab1fa80-9506-11ea-8283-bd498136a5b4.png)
I'have same issue about importing net Virual Machines.  it says blank is not accecptable. I tried  higher number last items id still no luck.

[2020-05-18 16:07] apricots-muesli opened #3536 "Ralph on custom port https:// keeps redirecting to http://"
### Steps to reproduce
- Listen to non standard https:// port in nginx

### Expected behavior
should not redirect to http://

### Actual behavior
redirects to http:// after form submission or other actions like logout

### Environment
* Ralph version: 1.8.19
* Operating system: Ubuntu 18.04
* Method of installation: Deb package

[2020-05-20 10:48] Retrospector opened #3537 "Adding RAID controllers to Component view"
Hi Ralph Team!

We are currently checking out Ralph 3, and are wondering if there's a possibility to add a RAID controller to the Components list?
Or is there a possibility to add custom Components somewhere in the Ralph backend? I looked around but couldn't find anything.

It would be great to see the Controllers at a glance, especially the BBUs that are used.

Thank you for the great work on Ral

[2020-05-20 12:28] romcheg commented on #3537
@Retrospector Ralph is not ready for adding RAID controllers but it would be pretty easy to do. Would you be willing to make appropriate changes given that we will provide you necessary assistance? We would be happy to release this feature once it's implemented.

[2020-05-28 08:27] Geqsogen opened #3540 "Service environments need sort by ascending"
### Steps to reproduce

http://localhost/assets/serviceenvironment/
or
Settings -> Service environments

### Expected behavior

Sort list by ascending

### Actual behavior

Displays a list of uncomfortable

### Environment

* Ralph version: 20200521.1
* Operating system: Ubuntu 18.04.4 LTS
* Method of installation: Deb package

[2020-05-28 10:48] romcheg commented on #3540
@Geqsogen the patch is posted for a review and is likely to land today. I would be reluctant to make a new release just to fix the ordering in one place. Please give us a few days so we can land a few more changes and then release a new version of Ralph.

[2020-06-17 06:54] #3540 closed, assigned to romcheg

[2020-06-20 06:38] adamwoolhether commented on #3358
Yea, I'm unable to import from yml, son, xlsx either...

[2020-07-01 13:12] ZeroSum24 opened #3545 "Ralph open-source app details"
Recently delighted to come across Ralph, and might be looking to contribute in the future.

I seen in the [Fosdem 2016](https://www.youtube.com/watch?v=j_OQxIoCPgw) talk that there was a demo of and some discussion about an open-source app that was produced to complement Ralph.

Was this app released? If so where might I find it, and is it still supported by yourselves?

[2020-07-01 13:23] ZeroSum24 commented on #3545
Replicated this question on Glitter IM, feel free to close

[2020-07-01 13:23] #3545 closed, assigned to nobody

[2020-07-01 13:42] romcheg commented on #3545
@ZeroSum24 the app was never released and was put off the roadmap as the priorities had shifted.

[2020-07-02 10:00] ZeroSum24 commented on #3545
@romcheg thanks for getting back to me, that's good to know

[2020-07-14 20:27] saccadt opened #3546 "Install Failure on Ubuntu 20.04"
### Steps to reproduce

On a new install of Ubuntu 20.04, following install documentation for ralph, failure occurs at step:
`sudo apt-get install mysql-server nginx ralph-core`

### Expected behavior

Expected successful installation of package.

### Actual behavior

[code]

### Environment

* Ralph version: latest
* Operating system: Ubuntu 20.04
* Method of installation: Deb package, following

[2020-07-22 09:41] aksharbarot commented on #3524
It is not working now.

Please enter the correct username and password for a staff account. Note that both fields may be case-sensitive.

[2020-08-07 20:47] strongestFairy opened #3551 "Ralph demo site does not allow to log in with default login and password"
### Steps to reproduce

Open http://ralph-demo.allegro.tech/
Use login: ralph
and password: ralph

### Expected behavior

Successful login

### Actual behavior

Error: Incorrect login or password.

[2020-08-11 21:50] torpedofish commented on #3551
Am experiencing the same login failure.

[2020-08-12 11:02] greavette opened #3554 "How to display blade or twin/quad servers in the Rack U space"
Hello,

I use twin servers in my rack where a 2U space has two servers side by side. So the left half if the 2U space is server 1 and the right side is server 2.

Is there a way to identify in Ralph that both servers take up each half of my 2U space?

Thank you.

[2020-08-12 20:24] kronnopio commented on #3551
someone will have changed the password.
continue to fail

[2020-08-12 21:30] romcheg commented on #3551
Hi folks. Ralph-demo web site is managed by Allegro that I'm not part of anymore, so perhaps @MarekBleschke or @ar4s can help sorting this out.

[2020-09-01 10:26] triple-it opened #3556 "docker sensible-editor editor not working (Vim, Vim.tiny, Nano, Nano-tiny)"
### Suggested Fix

[code]

### Steps to reproduce
make build-snapshot-package

+ VERSION=20200828.1
+ [[ 20200828.1 == *\S\N\A\P\S\H\O\T* ]]
+ VERSION_PARAMS=--release
+ echo 20200828.1
20200828.1
+ gbp dch --ignore-branch --git-author --spawn-editor=release --new-version 20200828.1 --release
gbp:info: Changelog last touched at 'ec9d42ca97bdaf6f48b8dd5d23abc0018b6fa70e'
gbp:info: No changes detect

[2020-09-01 10:44] romcheg commented on #3556
@triple-it Thanks for the report and for the proposed fix. Would you like to submit those changes as a PR? Otherwise I will do it.

[2020-09-11 10:04] w5t3f commented on #3487
Hi
Is there any progress?

[2020-09-14 06:43] romcheg commented on #3546
@saccadt sorry for not responding to you earlier. Ralph currently does not support python 3.7 which is the part of Ubuntu 20.04.

At this moment I would suggest you to run Ralph as a docker container using our official docket image, if it’s important for you to have Ubuntu 20.04 as a base system.

[2020-10-01 07:38] #3556 closed, assigned to vi4m

[2020-10-01 16:55] niteshsinghal88 commented on #3348
Hello, I am getting the similar issue:

![error1](https://user-images.githubusercontent.com/31091290/94838669-89ff8680-0433-11eb-857e-5ccf73351cbf.JPG)
![error2](https://user-images.githubusercontent.com/31091290/94838689-91bf2b00-0433-11eb-9ce2-c62559948fc4.JPG)

[code]

I already tried following but didn't help:

1. exporting environment variables in my user's bash profile.
2. tried updating Py4

[2020-10-01 18:55] ghost opened #3565 "ExitCodeException exitCode=134: Fatal Python error: Py_Initialize: Unable to get the locale encoding"
### Steps to reproduce
Hello, I am getting following error while using Jupyter notebook:

[code]

I already tried following but didn't help:

1. exporting environment variables in my user's bash profile.
2. tried updating Py4j version to py4j-0.10.9-src.zip in '/usr/hdp/current/spark2-client//python/lib'
3. updating python version to 3.6 and then 3.7 and pointing '/opt/anaconda3/bin/python3 -> /us

[2020-10-03 09:40] dheerajsavita opened #3566 "CloudHost UI Feature is not working for default all hosts"
### Steps to reproduce

Add CloudProvider/Flavours/Projects/Hosts via POST API and all cloud hosts is showing inside All Hosts of Data Center but not Cloud Host Section. When we click into Cloud Host Section UI, it is returning "AttributeError at /virtual/cloudhost/
'NoneType' object has no attribute 'id' "  but it is working when go thourgh Data Center --> All Host --> http://<dns>/virtual/cloudh

[2020-10-08 15:36] vi4m opened #3568 "[hacktoberfest] QR Code generator"
Implement simple view for QR code / EAN-128 / EAN-93 code generator.

[2020-10-08 15:38] vi4m commented on #3565
Sorry, but this is Ralph project issue tracker. Is this even related to this project? It seems like a mistake.

[2020-10-08 17:47] gkydev commented on #3568
Hi can you assign this to me please

[2020-10-09 14:28] vi4m commented on #3568
I think we need:

- separate view with some JS library to render qr code / or barcode
- should be opened from asset view (maybe some kind of button?)

[2020-10-13 08:38] rajeevsonkhia opened #3569 "Not able to login on the demo interface."
Not able to login on the demo interface
https://ralph-demo.allegro.tech/ using ralph /ralph

its giving an error :
Please enter the correct username and password for a staff account. Note that both fields may be case-sensitive.

[2020-10-13 12:17] romcheg commented on #3569
@MarekBleschke it should be possible to resolve this kind of issues by revoking write permissions to Ralph’s DB user. Changing password won’t be possible after that. There is a chance it will be necessary to migrate to Postgres to set per-column permissions

[2020-10-14 19:54] kingmaiku commented on #3463
Is there even documentation of the need to run ralph migrate?
I ask because I just searched on https://ralph-ng.readthedocs.io/en/stable/ for 'upgrade' and found nothing about upgrades at all.

[2020-10-15 08:08] vi4m opened #3572 "Improve documentation (broken links to images)"
There are missing links in documentation, since we renamed folder with images.
Fix this :)

[2020-10-15 08:11] vi4m commented on #3475
We should make this configurable in settings.

With flag "RALPH_HOSTNAME_AUTOGENERATED=False" we should make it free to change.

[2020-10-15 09:56] vi4m opened #3573 "Integrate translations"
The task is to integrate all languages translations into new release.

[2020-10-15 12:39] haribhatt34 commented on #3572
Hi @vi4m, I would like to work on this issue.

[2020-10-15 12:39] JakubGacki commented on #3572
I can take care of it! Would you mind to assign it to me?

[2020-10-23 13:21] lunit4 opened #3579 "PROTOCOL_ERROR while authenticating"
Good morning,

I'm stuck with the LDAP authentication, Ralph is able to map users from the requested group, but not authenticate them. I have a stunnel connected to the LDAP server using certs, and in the Ralph's conf, the bind user and password.

I had to change in base.py user for person the LDAP_SERVER_OBJECT_USER_CLASS attribute, otherwise, no successful search was performed.

### Steps to rep

[2020-10-27 18:12] vi4m commented on #3572
Thanks!

[2020-10-27 18:12] #3572 closed, assigned to nobody

[2020-10-28 03:25] dadayechong commented on #3569
Not able to login on the demo
——————
+1

[2020-10-28 05:51] MarekBleschke commented on #3569
Hi @dadayechong. Resetted password. Logging to ralph-demo should be working.

[2020-11-20 11:49] Free6838 opened #3587 "Hello guys, I have issue with Databases and Disk Shares"
can't add databases and DiskShares, because of no form to fill

![image](https://user-images.githubusercontent.com/18496000/99796464-f4d16200-2b46-11eb-9ea1-3f666cf6d1af.png)
![image](https://user-images.githubusercontent.com/18496000/99796988-dae44f00-2b47-11eb-9fdc-322bc389a6b9.png)
![image](https://user-images.githubusercontent.com/18496000/99797034-f2233c80-2b47-11eb-8922-c92d4de74a34.png)

[2020-11-29 20:23] Free6838 commented on #3093
So,  i managed to run on CentOS without any issue, but I had to modify some commands

here's full list of commands and that might help you

[code]

ralph server will run on server-ip:8000

if you will receive error 500 on main page, edit file

ralph_core/src/ralph/settings/prod.py

edit line 7 set ralph_debug  to True instead of false, that's all

[2020-12-13 14:09] Computroniks opened #3591 "Submitting form on Chrome causes security warning"
### Steps to reproduce

Using chrome 87.0.4280.88 to access the ralph instance. The instance is located behind a haproxy load balancer that is acting as an ssl terminator for the instance. User accesses web interface on port 443. Load balancer forwards request on port 80. Enter the web interface and edit a datacenter asset. Upon save the error should show. Accepting the error saves the changes.

T

[2020-12-16 13:04] avenetj opened #3593 "CSS not showing / not found on a 3.0 ralph install"
### Steps to reproduce

I followed the instructions to install ralph found on : https://ralph-ng.readthedocs.io/en/stable/installation/installation/

This seems to be similar to #2978 yet i couldnt find a way to solve it from this issue thread.

### Actual behavior

While running ralph the CSS doesnt show and the app is text-only.

Logs show that some CSS files arent found, yet the /static folder

[2020-12-27 01:30] tomcontr opened #3595 "Google Auth"
Hi, has anyone been able to add Google Auth method?

[2020-12-29 09:10] crumohr commented on #3408
Hi @romcheg,

a lot of time has passed, is there any way we can support with bringing the dependencies of Ralph up-to-date?

[2021-01-04 10:24] NotJ3st3r opened #3599 "Incomplete .po files"
The english .po file seems to be incomplete.

[2021-01-19 15:17] MuratKurnaz opened #3602 "Translation of Ralph's user interface into German"
* Ralph version: 3
* Operating system: MacOS Big Sur Version 11.1
* Method of installation: Ralph development environment: https://ralph-ng.readthedocs.io/en/stable/development/development_environment/

Hello folks,

I'm currently working on Ralph 3 and trying to translate the interface into German. With a German django.po file, a few words can be translated. However, I am not able to translate so

[2021-01-22 09:07] NotJ3st3r commented on #3602
I've been working on a german translation too. But it seems that the original .po is missing some strings. I've attached my german .po-file, but as you mentioned some translations are a bit odd.
[german.po.zip](https://github.com/allegro/ralph/files/5854647/german.po.zip)

[2021-01-22 11:12] MuratKurnaz commented on #3602
Yes, I have found that some translations are not realised by translating an English word with a German one. Variable extensions have to be done. I'll show you how I did it for the word warehouse. But first things first.

First you have to go to the file /src/ralph/settings/base.py. In the line (at least for me) is the variable LANGUAGE_CODE: with the value ("en-us") replace it with ("de-de").
OK,

[2021-01-22 22:44] hussamnasir commented on #3537
@romcheg Can you please share this piece of magic. We need to add a section for GPUs and NVMe Drives

[2021-01-28 14:01] juanpebalsa opened #3603 "Error when adding a new license"
I get a Server Error (500) when trying to add a new license.

/var/log/ralph/ralph.log
[code]

* Ralph version: 20210119.1
* Operating system: Ubuntu 18.04
* Method of installation: Deb package

[2021-01-29 08:12] NotJ3st3r commented on #3602
Then whats the purpose of the .po file? I thought all string that need to be translated will be stored in that file and only be linked in the source code to insert to right translation?

Wouldn't it be easyer to not hardcode the strings and instead use the .po file for every translation?

[2021-01-29 13:41] MuratKurnaz commented on #3602
I agree you and I dont know why the .po File doesnt work 100 %.

Some words are translatable through the .po File and some not. This is the way which work for me.

[2021-02-04 10:46] emmericl commented on #3593
I am not sure if that is a general issue, but it seems like the
[code]
needs to be in `/etc/nginx/nginx.conf` as well. Adding that solved the issue for us.

[2021-02-04 10:47] avenetj commented on #3593
That indeed fixed it, thanks a lot !

[2021-02-04 10:47] avenetj commented on #3593
That indeed fixed it, thanks a lot !

[2021-02-04 10:47] #3593 closed, assigned to nobody

[2021-02-04 12:51] juanpebalsa commented on #3603
I get the same error when I try to add any new item:

[code]

 It happens to me since I upgraded.

[2021-02-04 13:02] juanpebalsa commented on #3603
I have been able to solve it by running:
`ralphctl sitetree_resync_apps`

and then:
`systemctl restart ralph `

[2021-02-04 13:02] #3603 closed, assigned to nobody

[2021-02-04 13:03] MuratKurnaz opened #3604 "Log in to Ralph without staff status"
* Ralph version: 3
* Method of installation: Ralph development environment : https://ralph-ng.readthedocs.io/en/stable/development/development_environment/

Hi guys,

I have a question. As a Ralph administrator, you can add new users to the Ralph system and give them certain rights. This also includes a box to select whether this user is Active, has a Staff status and/or an Administrator status.

[2021-02-19 18:25] fire commented on #3568
Is there any status change on this?

[2021-02-25 14:39] Omegabug opened #3607 "Installation on CentOS 7"
### Steps to reproduce

I followed this guide #3093 to install RALPH on a VM, I got until `make install`l where I ran into a problem.

### Expected behavior

Make install should compile the code into binaries in a timely fashion.

### Actual behavior

Error due to dependency conflict:
-On oslo.utils 3.7.0 where it tells me it wants version 3.16.
-On keystoneauth1 2.3.0 where it tells me it wants v

[2021-03-01 11:31] Carlos-SS-PMI commented on #3551
Used credentials are working fine.

[2021-03-05 05:00] spearcrow commented on #3607
I also experienced the same problem when installing Ralph on Centos 7

what I did was change the pip version to version 19.3.1 and I managed to run the installation process

[2021-03-09 14:21] Omegabug commented on #3607
Thanks, though in the end I installed Ralph with docker it was easier and quicker.

[2021-03-09 14:21] #3607 closed, assigned to nobody

[2021-03-12 07:16] Carlos-SS-PMI opened #3611 "ralph-demo.allegro.tech login isn't working"
Hi all!
I want to show to my coleagues your excellent application, but online demo isn't working at: ralph-demo.allegro.tech
Login isn't working with "ralph" user and password.

Please, can you fix it?

Thanks!

[2021-03-15 15:11] ttsyliuryk commented on #3611
Having the same issue with the demo, is there an ETA for a fix?

[2021-03-16 14:52] Carlos-SS-PMI commented on #3611
Now is working. Thanks!

[2021-03-16 14:52] #3611 closed, assigned to nobody

[2021-03-23 20:56] netbox2020 commented on #3093
Hi
I am trying to install it for Centos , what should be settings for
/etc/httpd/conf.d) and systemd

Thanks

[2021-04-25 07:49] sunnyBob opened #3623 "Test demo reports 500 error when login"
### Steps to reproduce

input user(ralph) and password(ralph) to login

### Expected behavior
login successfully and see the main page

### Actual behavior
show "Server Error (500)" after login button clicked

### Environment
test demo (https://ralph-demo.allegro.tech/)

* Ralph version:
* Operating system:
* Method of installation: Deb package? Manual installation? Docker?

[2021-04-25 07:53] sunnyBob opened #3624 "500 error when login"
### Steps to reproduce

input user(ralph) and password(ralph) to login

### Expected behavior
login successfully and see the main page

### Actual behavior
show "Server Error (500)" after login button clicked

### Environment
test demo (https://ralph-demo.allegro.tech/)

* Ralph version:
* Operating system:
* Method of installation: Deb package? Manual installation? Docker?

[2021-04-25 07:53] #3624 closed, assigned to nobody

[2021-04-26 09:43] szymi- commented on #3623
Thanks for reporting this issue @sunnyBob. I fixed Ralph Demo, it should work now.

[2021-04-28 05:52] sunnyBob commented on #3623
Yes, It works now

[2021-04-28 07:07] #3623 closed, assigned to nobody

[2021-05-04 10:16] m-ketan opened #3626 "dev_ralph migrate throws an error"
I'm trying to setup the Ralph's development environment on my mac (osx 11.2.2, m1 chip) but the command ```dev_ralph migrate``` is failing with the below output:

[code]

[2021-05-05 07:09] vi4m commented on #3626
We've tested Ralph on Python 3.6. Try to install it and re-run virtualenv.

[2021-05-05 07:27] m-ketan commented on #3626
I'm using python 3.9. Is that likely to cause issues? But I'll try with 3.6 anyways.

[2021-05-05 07:30] vi4m commented on #3626
Yes. You can use `pyenv` to easily install Python 3.6.

[2021-05-05 08:30] m-ketan commented on #3626
Also, can I please ask which versions of node and npm are supported?

[2021-05-05 11:53] m-ketan commented on #3626
@vi4m Ok so tried with python 3.6.0 and still running into dependency issues:

[code]

[2021-05-09 19:51] C-Fu opened #3627 "Wrong docker-compose location at readthedocs.org"
Current doc url: https://ralph-ng.readthedocs.io/en/stable/installation/installation/
Current description:
Docker installation (experimental)
You can find experimental docker-compose configuration in https://github.com/allegro/ralph/tree/ng/contrib directory. Be aware, it is still a beta.

Correct description:
Docker installation (experimental)
You can find experimental docker-compose configuratio

[2021-05-25 16:18] m-ketan commented on #3626
Fixed after using python 3.6.0. Closing the issue!

[2021-05-25 16:18] #3626 closed, assigned to nobody

[2021-05-25 16:20] m-ketan opened #3637 "Renaming "hostname" to "HOSTNAME" throws an error"
I'm trying to rename the ```hostname``` attribute of class CloudHost to ```HOSTNAME``` but after the ```dev_ralph migrate``` command I'm running into the below issue. Same is the case on adding custom attributes like ```TAGS``` and ```REMARKS```

[code]

**Modified Code**

[code]

[2021-06-01 12:48] zackfair1412 opened #3638 "Customize status"
### Steps to reproduce

None

### Expected behavior

Hello,
I am new to Ubuntu and Ralph. Just want to ask, is it possible to customize 'Status' choices to what i only require?

### Actual behavior

can't change 'Status' choices

### Environment

Desired=Unknown/Install/Remove/Purge/Hold
| Status=Not/Inst/Conf-files/Unpacked/halF-conf/Half-inst/trig-aWait/Trig-pend
|/ Err?=(none)/Reinst-required (

[2021-06-03 21:43] kp2401075 opened #3640 "Future Roadmap for Ralph"
## Future Roadmap of Ralph
First of all This is great project.

I would like to understand future roadmap for Ralph.

Is there a published/unpublished Roadmap for Ralph?

Is there a plan to upgrade Ralph to work with latest Django  & Python version?

[2021-06-07 11:56] vmathurpaytm opened #3641 "Add associated IP's to Cloud Host Export file"
### Steps to reproduce
1) Go to ralph project
2) http://127.0.0.1:8000/virtual/cloudhost/
3) Click otherActions -> export  button
4) csv format (or any)

Currently Ip addresses associated with this hosts are not coming in export file
How to add IP address in this csv file ??

[2021-06-14 14:20] poisonedy opened #3642 "No baseobjects available to link to ethernets"
### Steps to reproduce

Networks -> IP Addresses : Add ip address
Press "add ethernet" button (green plus sign)
Click on base object find icon.

### Expected behavior

A list of base objects to select

### Actual behavior

An empty list but the counter of the bottom is reflecting base objects

### Environment

dpkg -l:
Desired=Unknown/Install/Remove/Purge/Hold
| Status=Not/Inst/Conf-files/Unpacked

[2021-06-14 14:24] poisonedy opened #3643 "Can't view add baseobject form, got a 403 Forbidden"
### Steps to reproduce
Go to:
https://{ralph_url}/assets/baseobject/add/

### Expected behavior

Add baseobject form will appear

### Actual behavior

Got a 403 Forbidden response from server

### Environment
Desired=Unknown/Install/Remove/Purge/Hold
| Status=Not/Inst/Conf-files/Unpacked/halF-conf/Half-inst/trig-aWait/Trig-pend
|/ Err?=(none)/Reinst-required (Status,Err: uppercase=bad)
||/ Name

[2021-06-16 11:39] jayooin commented on #3038
I have the exact same problem.
I did a synchronisation from the LDAP, Active Directory, and got all my users in the database.
However, I could not log in.
They had the password starting with
`!jennid4Vo3kae8CmawOScm6hJmSdL07CzdQal16h` as well.
I updated the passwords in the database, to something different, and the login worked.

The answer is that the Python module adds unusable passwords. There

[2021-06-18 11:27] kzltp opened #3645 "Ralph Ldap Problem"
### Steps to reproduce

I have installed ralph 3 successful on docker. I configured ldap and when run ralph ldap_sync, i toke error.

My ldap configuration;

https://justpaste.it/98cb1

Error;

`root@1ca8c16e4d85:/opt/ralph# ralph ldap_sync
Traceback (most recent call last):
  File "/opt/ralph/ralph-core/lib/python3.6/site-packages/django/core/management/__init__.py", line 179, in fetch_command

[2021-06-23 06:23] funyfizik commented on #2774
cant login with ralph or demo login/pass

[2021-06-23 06:25] funyfizik commented on #3569
Cannot login too...

[2021-06-23 06:30] funyfizik commented on #3524
Not working too(

[2021-06-23 06:31] funyfizik opened #3646 "Cant login demo"
ralph/ralph as login/password are not correct. How to try demo? I used demo/demo but it stil not working

[2021-06-23 07:02] MarekBleschke commented on #3569
Hi @funyfizik, password is back to default.
Also we've set periodic reset of password (once per hour), so this problem should be less troublesome in future :)

[2021-06-23 07:02] #3569 closed, assigned to nobody

[2021-06-23 07:11] funyfizik commented on #3569
thx!

[2021-07-11 14:43] Cyber40014 opened #3650 "Missing capabilities to modify Docker installation for SSL support"
### Steps to reproduce

Try to use the docker installation on a linux server and add SSL Encryption to the web interface and see how much time you spend finding a minimal invasive method without modifying the docker containers itself.

### Expected behavior

There should be an easy and documented way to modify the docker images by e.g. environment variables to allow switching
from HTTP to HTTPS.
H

[2021-07-15 07:24] mperniola commented on #3358
Same error today...

[2021-07-16 08:02] vmathurpaytm opened #3651 "Change Password throwing Error :"
### System
django-reversion==1.9.1
Django==1.8.19
djangorestframework==3.2.2
djangorestframework_xml==1.2.0

### Steps to reproduce

1) got to URL/users/123/password
2) Enter password
3) submit

### Expected behavior

Password should be changed

### Actual behavior
`
    [13:25:07] ERROR   Internal Server Error: /accounts/ralphuser/2/password/

    Traceback (most recent call last):

      File "/

[2021-07-16 13:44] andrewm659 commented on #3093
@Free6838  It took forever to do a a 'make install-test' and it failed.  Has anyone tried newer versions of the dependencies?

Still failing on RHEL8 and its variants. (AlmaLinux and RockyLinux)

[2021-08-04 09:53] BakaKiller commented on #3643
Same problem here with a docker install...
This is very problematic :/

[2021-08-06 08:34] BakaKiller commented on #3643
Alright, i found a turnaround :
I first added a hardware asset and I could use it in the hypervisor category.

[2021-08-08 17:32] #3591 closed, assigned to nobody

[2021-08-11 14:43] wid opened #3653 "Found wrong number (0) on migrate"
### Steps to reproduce

Install ralph onto mysql 8.0.23

### Expected behavior

[code]

### Actual behavior

Sometime it works, sometime I get this:

[code]

State of the database:

mysql> show create table data_importer_importedobjects \G
*************************** 1. row ***************************
       Table: data_importer_importedobjects
Create Table: CREATE TABLE `data_importer_importedobj

[2021-08-13 08:57] fatganz opened #3654 "Demo is down"
Demo site throws 500 Error

[2021-08-18 16:07] kryvel opened #3655 "Missing init.sh script"
Hi,
I'm trying to deploy ralph with docker-compose.
Following instructions here: https://ralph-ng.readthedocs.io/en/stable/installation/installation/#build

It said to run ```docker-compose run --rm web /root/init.sh```
 but file /root/init.sh is missing in container `web`

Could you please help with that ?

[2021-08-18 19:03] kryvel commented on #3655
Ok, I've found solution in new docs here: https://github.com/allegro/ralph/pull/3403

[2021-08-18 19:03] #3655 closed, assigned to nobody

[2021-08-20 14:41] xGSTx opened #3656 "Group Hardware Assets administered by one vCenter"
Hi,

Ralph is amazing. I have an improvement idea to make ralph even more amazing.

There needs to be a possibility to group hardware assets controlled by one instance of vCenter.

If i add the vCenter IP to more than one Hardware Asset in the Network Tab, Ralph throws an error saying that the IP Adress already exists.

Please add this or a similar option so we are able to group hardware assets by

[2021-08-27 11:24] Taker567 commented on #2225
Was the "connections" functionality from Ralph 2, as mentioned in the comment above, even been ported to Ralph 3?
We're running version 20210706.1 of Ralph 3 and cannot seem to find this functionality.

[2021-09-03 12:14] mr-maxo opened #3658 "Looks like Ralph does not support changing base URL"
### Steps to reproduce

Setup ralph behind proxy on for example mydomain.com/ralph/

### Expected behavior
Variable like RALPH_BASE_URL = "mydomain.com/ralph/"

Redirects to mydomain.com/ralph/login/?next=/
Static files served from mydomain.com/ralph/...

### Actual behavior

Redirects to mydomain.com/login/?next=/
Static files served from mydomain.com/...

### Environment

* Ralph version: 1.8.19

[2021-09-19 19:55] fthommen commented on #3654
The demo seems to be running, but it doesn't accept the demo usernamd/password combination (ralph/ralph)

[2021-09-21 07:18] vi4m commented on #3640
Thanks for good words!

We're working on a roadmap, upgrading Django and Python is the main focus here. We will share it when it's ready.

[2021-10-14 10:48] fr0z3nfyr commented on #3654
Bump!

[2021-10-14 10:48] fr0z3nfyr commented on #3646
Bump!

[2021-10-15 10:02] vi4m commented on #3654
fixed

[2021-10-15 10:02] #3654 closed, assigned to nobody

[2021-10-15 10:03] vi4m commented on #3587
We don't support adding it manually - you can do it through the API.

[2021-10-15 10:03] #3587 closed, assigned to nobody

[2021-10-15 10:40] romcheg opened #3667 "Suspisious commit"
Is there any particular reason why an unverified commit 04abcc9e78136ac1fb1ac119e2c660ee3baa396d was pushed without any code review into the main branch? I propose to revert it and to follow the regular procedure since the change does not seem to be urgent and there are multiple potential improvements that could be noticed during the code review.

[2021-10-16 04:02] floppywiggler opened #3669 "Lacking input sanitization in Cluster name leads to persistent XSS"
It is possible to perform a persistent XSS attack in the "Name"-field of any cluster that is created. This will then be executed when rendering for example the "Network->IP addresses" page.

### Steps to reproduce

Create a new cluster, in the name field, add any javascript code you'd like to execute. As a demo: `<script>alert(XSS)</script>`. Save the cluster.
Now navigate to for example Networks

[2021-10-20 20:44] r1bnc commented on #3646
bump

[2021-11-04 15:00] martin3000 commented on #3546
this means ralph does not natively run in ubuntu 20.04?

[2021-11-15 09:28] vi4m commented on #3667
Yeah, it was an accident. We were testing codespaces to simplify setting up development environment. It works great, but has caveats:

* you don't work on separate fork, but on the **origin** (similar to Stash) - master is the **origin** master
* commiting to master, pushes the changes immediately
* we should keep master branch protected, but the deployment scripts don't allow it at the moment

It

[2021-11-15 11:43] Napsty opened #3678 "Feature Request: Handle disks as datacenter asset"
### Real life situation
In most cases, disks are always assigned to the same server. In this case, the current way the disks can be added to a hardware as a component is sufficient.
But due to server rebuilds, migrations, customer requests, etc. the disks might change place, migrated from one server to another.
Also disk replacements cannot be documented *fully*, as the different disks may have di

[2021-11-22 07:49] colabware-app commented on #3678
Hey @Napsty, it’s hard finding open-source contributors to build your features for free. By [submitting your request through Colabware](https://colabware.co/project/1626013205658x789052755885973900), harness the power of crowdfunding to encourage developers, whilst enabling others to support your vision. Please do let us know if you have any questions, and I hope we can assist with your project!

[2021-11-29 13:29] ghost opened #3684 "Contact | Security Issue"
Dear Ralph contributors,

I've tried to contact several of you through email, but got no response.
Please get back to me at: vulnerability@whitesourcesoftware.com.
It's about security issues found in your project.

Thanks,
Miriam

[2021-11-29 13:36] #3667 closed, assigned to nobody

[2021-11-30 13:12] szymi- commented on #3684
Hello Miriam, I responded to your email about two weeks ago. Maybe my email ended up in your Spam folder. Upon closer inspection of the issue (i.e. https://owasp.org/www-community/attacks/CSV_Injection), we decided we will not fix it in the foreseeable future. Import / export of data in Ralph is not a feature useful for users who wish to browse Ralph data in any spreadsheet software. Exported data

[2021-11-30 19:56] dedisoft opened #3685 "French translation"
Hi,

I'm working on French translation using Transifex.

I'd like to try my translations on my local Ralph installation.

I can download the latest .po file from Transifex but how can I update the local translation with it ?

Thanks

Regards,

[2021-12-01 15:46] Napsty opened #3686 "Cannot enable ralph service with systemd"
### Steps to reproduce

- Restart VM in which ralph runs
- ralph is not automatically started
- `systemctl enable ralph` returns an error

### Expected behavior

We can use `systemctl enable ralph` so ralph is automatically started after boot.

### Actual behavior

`systemctl enable ralph` returns an error:

[code]

### Environment

* Ralph version:  20211112.1
* Operating system:  Ubuntu 18.04.6

[2021-12-04 16:07] vmathurpaytm opened #3687 "api to add custom field for service environment"
I like to know if there is any API which let me PUT, PATCH custom fields (key , value) to an existing service environments objects

PUT, PATCH API for service environment is blocked (Not Available)

Can this be done using any other existing API ???

[2021-12-07 15:53] Napsty opened #3689 "Server Error 500 when trying to delete an IP address"
### Steps to reproduce

- Open Data Center / All hosts and Open a host or datacenter asset (alternative: search for an object)
- Switch to Network tab (/data_center/datacenterasset/52/network/)
- Delete IP Address

### Expected behavior

IP Address is removed from field

### Actual behavior

Server Error 500

`/var/log/ralph/ralph.log` shows:

[code]

### Environment

* Ralph version: 20211123.1
*

[2021-12-09 20:36] rsaxena13 opened #3690 "Import Components section using csv"
I want to import Component parameters (Data Center-> Hardware -> Select host->Components) using csv. Does this functionality exist in the tool , if yes, what is the way and if no, then how can it be done to import bulk Component parameters without doing manually.

[2021-12-15 11:47] vi4m opened #3692 "Remove gitter & redirect to the forum"
We've decided to not use Gitter IM since it's error prone. Discourse forum will be the default communication method.

[2021-12-15 11:47] vi4m opened #3693 "Generate / incorporate translations."
- download current translations from transifex
- check if it works correctly with the Ralph language settings
- commit

[2021-12-15 12:31] gkhan496 opened #3694 "Stored cross site scripting in cluster field values via value and choice name"
### Steps to reproduce

Go create a cluster with custom field values then save the cluster.
Payload : `"><<img onerror=alert(66) src>`

![ggwp](https://user-images.githubusercontent.com/28159253/146186790-7fad101d-1991-408e-857b-3ff43992bc2a.png)
![ggwp2](https://user-images.githubusercontent.com/28159253/146186797-003952b2-1d2f-4abd-985b-53cd07bcd6d4.png)

Vulnerable cluster : https://ralph-demo.

[2021-12-15 13:00] gkhan496 commented on #3694
Why csrftoken cookie not httpOnly?

[2021-12-16 07:03] JamieSlome opened #3695 "Security concern"
Hey there!

I belong to an open source security research community, and a member (@ktg9) has found an issue, but doesn’t know the best way to disclose it.

If not a hassle, might you kindly add a `SECURITY.md` file with an email, or another contact method? GitHub [recommends](https://docs.github.com/en/code-security/getting-started/adding-a-security-policy-to-your-repository) this best practice to

[2021-12-16 09:03] vi4m commented on #3694
thanks @gkhan496 for reporting it, we're working on a fix

[2021-12-16 09:08] vi4m commented on #3646
Information for future newcomers: We're resetting password once a day - in case of trouble please wait until it resets.

[2021-12-29 21:29] vmathurpaytm opened #3700 "bulk-edit-fill class not coming for FileField in Bulk_edit option"
###  Model
file_item = models.FileField(blank=False, verbose_name=_('ABC'),)

### Admin
bulk_list_display = ['file_item']

### Expected behaviour
Want this file field to be copied over selected assets for bulk_edit

### Actual behaviour
copy button is missing (class=bulk-edit-fill   is not applied)  over selected assets for bulk_edit for FileField

<img width="1321" alt="Screenshot 2021-12-30 at 2

[2022-01-05 15:21] svennd commented on #3546
also debian 11 requires this package, and doesn't work :(  Is there an alternative method of installing ? (no docker) ?

[2022-01-05 16:15] martin3000 commented on #3546
why does ralph need libmysqlclient20 and not libmysqlclient21?

[2022-01-08 20:14] vmathurpaytm opened #3702 "clean method for bulk edit method is not getting called"
**Model**
`file_item = models.FileField(blank=False, verbose_name=_('ABC'),)`

**Admin**
[code]

**Expected behaviour**
Want this file field clean method to be called

[2022-01-10 06:13] m-ketan opened #3703 "Can't login to the demo"
I can't login to ralph's demo at https://ralph-demo.allegro.tech/login/?next=/

It says "Please enter the correct username and password for a staff account. Note that both fields may be case-sensitive."

[2022-01-12 10:56] hipek8 commented on #3669
Fixed in version 20211220.1

[2022-01-12 10:56] #3669 closed, assigned to nobody

[2022-01-14 19:38] kingmaiku commented on #3546
Hi @romcheg
The docs still make it sound like the docker image is experimental
![image](https://user-images.githubusercontent.com/1733853/149574851-5907c75d-edab-4b45-bfaa-9880f977079c.png)

Is that still true? Or is it pretty safe to use now?
Is there a doc that describes the full process of migrating your ralph instance off of the .deb package and onto a docker image?
Thanks!

[2022-01-26 11:57] vi4m opened #3705 "Block password chaning"

[2022-01-26 12:08] vi4m opened #3706 "hostname handling should not be automatic for opensource"

[2022-01-27 15:56] twproject commented on #3546
also docker-compose.yml.tmlp is not available on github

[2022-02-04 20:12] cerealkella commented on #3546
is there a workaround for this? I suspect many people attempting to install this package would prefer to use Ubuntu 20.04 rather than 18.04. Thanks!

[2022-02-16 11:36] vi4m commented on #3703
We reset passwords daily.

[2022-02-16 16:59] CodyCloudSrls commented on #3546
Just installing this software, the easiest solution i found is this:

sudo add-apt-repository ppa:deadsnakes/ppa
sudo apt-get update
sudo apt-get install python3.6

and the installer just works like in ubuntu 18.04

[2022-02-16 20:58] cerealkella commented on #3546
This [StackOverflow post](https://askubuntu.com/questions/1264943/problem-while-installing-libmysqlclient20-on-ubuntu-20) was very helpful for getting past the libmysqlclient20 error.

[2022-02-17 08:29] szymi- commented on #3705
#3709

[2022-02-17 08:29] #3705 closed, assigned to szymi-

[2022-02-17 08:37] szymi- opened #3710 "Ralph Demo - VM recreation"
Recreate Ralph Demo VM to verify provisioning procedure and scripts.

[2022-03-04 19:20] JohnAWasco commented on #3692
... might want to clean up the Allegro page ...

https://ralph.allegro.tech/

[2022-03-08 13:31] orflop opened #3717 "New installations getting stuck on migrate"
### Steps to reproduce

Have tried both installing on 18.04 and 20.04 on docker, same result. After running ralphctl migrate, installation gets stuck and exists on

Operations to perform:
  Synchronize unmigrated apps: import_export, staticfiles, permissions, notifications, table, rest_framework, humanize, hooks, ralph_admin, messages, taggit_serializer, django_rq, dc_view, djmoney, mptt, foundati

[2022-03-09 23:29] firain opened #3718 "Networks missing import & export options"
Hi there,

I am trying to import some networks into ralph. But there is no import-export option listed in the "other actions" option. Only "recover deleted networks". This can also be seen in the online demo env.

Thank you.

### Expected behavior

there should be import and export like the other assets

### Actual behavior

there is only a "recover deleted networks" option when clicking on "other

[2022-03-27 15:58] az0mb13 opened #3720 "Multiple Stored XSS in Operations - Ticket ID"
### Steps to reproduce

Multiple stored XSS have been found by @nullvoiddeath and myself (@az0mb13) in Operations inside Ticket IDs in Changes and Problems. There may be more vulnerable endpoints similar to this.

![image](https://user-images.githubusercontent.com/4147463/160289653-64f5ac52-6f8f-4426-85e1-e986e2327863.png)

![image](https://user-images.githubusercontent.com/4147463/160289602-879a3

[2022-03-29 04:06] babvin opened #3721 "ARM64 support"
Please provide ARM64 images to run Ralph on Raspberry Pi's. I've a K3S cluster and want to run the Ralph3 on this cluster alongside other container apps.

* Ralph version: 3
* Operating system: Ubuntu Server 21.10 for Raspberry pi
* Method of installation: Docker and Kubernetes?

[2022-05-16 08:52] hatl3n commented on #3703
So, I have to wait until tomorrow and hope nobody changed the pw again? That's not a cool demo env :( Should at the very least disable pw-changing function in the demo env. Maybe add a config-param where demo=true and add that as a if-check on the pw-change function - as a super simple patch.

[2022-05-30 08:46] JensTimmerman opened #3730 "ralh is still based on django 1.8 when this is no longer supported"
This means there is a high chance that there exist critical security updates in django that never make it to this project
https://endoflife.date/django

consider porting to django 3.2

[2022-06-10 23:20] eayonm commented on #3717
Same problem here 😢

[2022-06-20 10:52] ErikSlevin commented on #3703
ralph:ralph isnt correct for the demo since Monday last week. Pls tell me the correkt user:password for the Demo - Thanks.

[2022-07-14 21:54] richlv opened #3737 "docker-compose.yml.tmpl missing / located elsewhere"
https://ralph-ng.readthedocs.io/en/stable/installation/installation/ says to look for docker-compose.yml.tmpl in https://github.com/allegro/ralph/tree/ng/contrib , but that file is not there.

There's [docker-compose.yml](https://github.com/allegro/ralph/blob/ng/docker/docker-compose.yml) in https://github.com/allegro/ralph/tree/ng/docker , but it's not quite clear whether that's the same thing.

[2022-07-25 11:17] #3706 closed, assigned to nobody

[2022-07-30 01:20] thisisannetwork opened #3739 "the ralph default password?"
* Ralph version: 3.0
* Operating system:  ubuntu 20.04
docker compose install ;
https://ralph-ng.readthedocs.io/en/stable/installation/installation/    this is the url .

I installed ralph via docker, I have reached the login screen after the installation is complete, but there is no password to log in properly, docker-compose installation, please ask what is the default password?

[2022-08-03 20:44] #3692 closed, assigned to vi4m

[2022-08-06 21:32] dszryan commented on #3737
bump

[2022-08-06 21:34] dszryan commented on #3737
please update the docker related documentation

[2022-08-11 12:57] afatym opened #3740 "How to add vmware server?"
I couldn't figure out how to add a vmware server.
Please tell me how to add this server and all the virtual machines in it.

[2022-08-23 09:20] Harryf890 commented on #3703
Can anyone help I was able to use the ralph demo last week but I've come back to it this week and yesterday and today and I'm getting the same error as others: 'Please enter the correct username and password for a staff account. Note that both fields may be case-sensitive.'

[2022-09-29 21:14] DonNeelin commented on #3358
I can import 64 records at a time in a JSON file.  Anything more will result in the 500 error.

[2022-10-17 04:13] ChrisJMacdonald commented on #2193
Same again, on docker

[2022-10-23 06:51] 0xYashwanth commented on #3568
Hey @vi4m, I have a pretty decent knowledge of Python, and I want to contribute to the QR Code Generator project.
Could you please assign this to me?
Thanks for reading!

[2022-10-27 12:06] TheFulmini opened #3742 "Delete user sends me Server Error (500)"
Hello I have managed to run the app on OpenShift container platform.

### Steps to reproduce

Converting the Docker-compose file into yaml files usable by OpenShift I was able to run it on our Platform on our private network.
Everything works as expected. I can add users, machines, licences, etc... and i cant delete all of them except for users.

### Expected behavior

The user should be deleted a

[2022-10-27 14:25] TheFulmini commented on #3742
I have the same problem with domain deletion

[2022-10-27 15:11] TheFulmini commented on #3742
it looks like some tables are missing in my mysql db.
here is the list of tables in the db.

I could add it manually but i would like to know which fields are necessary for this table.

+--------------------------------------------+
| Tables_in_ralph_ng                         |
+--------------------------------------------+
| access_cards_accesscard                    |
| access_cards_accesscard_

[2022-11-07 09:03] #3742 closed, assigned to nobody

[2022-11-07 09:03] TheFulmini commented on #3742
i was just missing the latest migration silly me

[2022-11-21 10:43] wusa88 commented on #3739
Same here.
Docker installation works great. I can access to the login screen. But i dont know the default password.