[2016-05-06 13:20] #2405 closed, assigned to nobody

[2016-05-11 07:04] danielniccoli opened #2418 "Possible to add Invoices and Quotes?"
I am looking for a good and flexible CMDB solution. Ralph 3 looks appealing.

We have a workflow regarding purchases. Get a quote and get it signed by the head of department. Then place the order.

What we do with our current self-built Microsoft Access Solution is:
1. Create a quote object.
2. Add each item to the quote object with price, product number, description, technical details, etc.
3. Ad

[2016-05-11 21:17] delize commented on #1502
Any update to this?

Also, I would like to confirm if there would be any iDrac funcationality with this scan method, like there is in 2.x versions.

[2016-05-12 05:27] mkurek commented on #1502
Hi @delize - yes - we're working on it right now in [ralph-cli](https://github.com/allegro/ralph-cli) repository. It's cli wrapper around Ralph's API, able to run various scripts (written in any language!) to fetch data from host (for example idrac, ilo etc - there will be predefined plugins for some platforms, but you'll be able to write and run your own) and push it to Ralph.

[2016-05-12 08:53] vi4m commented on #1502
#TODO: replace the contents with our in-house proposal.

[2016-05-12 10:06] kevinba commented on #2344
Hi,

I have installed the latest version of Ralph "releases 20160512.1" and I see that the problem appears to have been resolved.

Thank you very much

[2016-05-12 10:18] #2344 closed, assigned to ar4s

[2016-05-12 17:20] delize commented on #2193
Just for reference, I have to make the same change with version (3.0.0-snapshot-20160512-5556) to be able to effectively run

[2016-05-12 20:30] mkurek commented on #2208
Solved in #2357

[2016-05-12 20:30] #2208 closed, assigned to nobody

[2016-05-12 23:00] vi4m commented on #2418
The answer: no and yes.

We have customizable workflow mechanism(http://ralph.mkurek.com/transitions/transitionmodel/1/) So you can define e.g. 3 statuses (quoting, purchasing, billing) with custom actions (such as pdf attachment generation with our templating mechanism).

The missing part could be a Quoting mechanizm(we don't have 'Quote' object), but it should be easy to add it. You could also e

[2016-05-15 06:44] ju5t commented on #2224
This is definitely something I'd like to test. I've installed ralph from your packages. What would be the best way to do this?

[2016-05-15 06:45] ju5t commented on #1782
Is this implemented already? If so, how would I test this?

[2016-05-15 21:32] vi4m commented on #2236
Everybody happy, so closing this issue :-)

[2016-05-15 21:32] #2236 closed, assigned to nobody

[2016-05-15 21:35] vi4m commented on #1347
No work here, so closing.

[2016-05-15 21:35] #1347 closed

[2016-05-15 21:36] vi4m commented on #968
Ralph 2 is now unsupported. If unsure - i recommend to upgrade to the Ralph 3 version.

[2016-05-15 21:36] #968 closed

[2016-05-15 21:37] vi4m commented on #1238
Ralph2 is now unsupported. Please upgrade to the Ralph 3 version if unsure.

[2016-05-15 21:37] #1238 closed

[2016-05-17 13:09] rebeccakandiah opened #2430 "Is Ralph 3 finished?"
Hi,

I just wanted to confirm and see if the creation of Ralph 3 is completely finished or is Ralph 3 still being built?

Regards,
Rebecca

[2016-05-17 15:02] vi4m commented on #2430
I would say it's production stable since couple of months, and a lot of companies already uses it in production. That's why we decided to publish it till the end of May under 3.0 version.

[2016-05-17 15:06] vi4m commented on #2430
The reason we haven't closed the 3 version is the feedback we got from end users, who needs more functionalities. For example, custom fields will be included in the 3.0 version. We want 3.0 version to be all-inclusive when it comes to migrating existing data, making a transition to ralph, complete.

[2016-05-17 16:01] mholttech commented on #2298
I am wondering if any progress has been made on this issue

[2016-05-17 18:46] rebeccakandiah commented on #2430
Is it possible to give me a date on when it should be completely finished?

[2016-05-18 09:34] mkurek commented on #2430
@rebeccakandiah what do you mean by 'completely finished'? As @vi4m said, we want to publish 3.0 version till the end of the May and it should cover most (if not all) features from Ralph 2 (we'll fully migrate in our company from Ralph2 to Ralph3 then).

[2016-05-18 09:37] mkurek commented on #2298
@mholttech i'm afraid that it's not our (Ralph's) issue, but rather your's LDAP server (or network configuration etc). It look's like you have everything properly configured - we're running our production Ralph on the same config (excluding ldap host and password of course) and everything is working fine. We have also messages (confirmations) from some other users of Ralph that LDAP is working for

[2016-05-18 09:40] #2188 closed, assigned to nobody

[2016-05-18 09:40] #1638 closed, assigned to nobody

[2016-05-18 09:41] #1654 closed, assigned to mkurek

[2016-05-19 07:37] pydubreucq commented on #2430
Hi,
Could you update the Roadmap please ?
https://github.com/allegro/ralph/wiki/Ralph-3.x-roadmap
Thanks by advance
Best Regards

[2016-05-19 08:50] vi4m commented on #2430
Updated. Basically, we merged 3.0 + 3.1 + 3.2 into one 'bigger' release.

[2016-05-19 09:00] pydubreucq commented on #2430
Wow !!! Thanks a lot !!!

[2016-05-20 04:57] cchongXD opened #2436 "ralph migrate fails unless if user ralph_ng exists"
When I follow the steps on http://ralph-ng.readthedocs.io/en/latest/installation/installation/, I was unable to successfully run "ralph migrate" unless I first created MySQL user "ralph_ng".

It was not found in the docs. It is the expected behavior?

Thank you.

[2016-05-21 11:30] mkurek commented on #2436
hi @cchongXD. I'm assuming that you're using DEB package, am I right?

[2016-05-24 13:35] MahmoudTaher opened #2442 "KeyError at /data_center/vip/add/"
**Kindly find the attached traceback error:**

Environment:

[code]

[2016-05-25 17:23] mholttech commented on #2298
I just tested with the latest snapshot and i've got ldap_sync working however I can not log in with any of the users, appears to be the same issue as https://github.com/allegro/ralph/issues/2240 but I don't see a resolution there

[2016-05-25 20:13] mkurek commented on #2298
@mholttech - do you still have `django_auth_ldap.backend.LDAPBackend` in your `AUTHENTICATION_BACKENDS` (http://ralph-ng.readthedocs.io/en/ng/installation/#ldap-authentication) in settings?

[2016-05-25 21:23] mholttech commented on #2298
This is what i've got on the bottom of prod.py

[code]

[2016-05-25 21:24] mholttech commented on #2298
oops missed a bit, this is right above the import ldap

[code]

[2016-05-27 06:45] mkurek commented on #2298
@mholttech Could you add the following logger to your settings:

[code]

Then you should see additional output in console and log file when logging. Could you paste it here?

[2016-06-06 07:38] ghost opened #2454 "Agent Client for Windows?"
Good morning,

Is there an agent to run or install on a windows client?

Thank you

[2016-06-06 19:19] #2158 closed, assigned to nobody

[2016-06-06 19:21] #1682 closed, assigned to nobody

[2016-06-06 19:23] mkurek commented on #1697
Implemented in #2334

[2016-06-06 19:23] #1697 closed, assigned to nobody

[2016-06-06 19:25] mkurek commented on #1874
Fixed in 1abf16d0092712f8f6068bb5024d466893582b95

[2016-06-06 19:25] #1874 closed, assigned to nobody

[2016-06-06 19:26] mkurek commented on #1389
it's ralph2 bug.

[2016-06-06 19:26] #1389 closed, assigned to nobody

[2016-06-10 11:41] daro1337 opened #2478 "500 inernal after upgrade ralph-core"
Hey guys I have got 500 internal after upgrade ralph-core from 3.0.0-snapshot-20160607-5736 to  3.0.0-snapshot-20160610
this did help https://github.com/allegro/ralph/issues?page=2&q=is%3Aissue+is%3Aopen

Error:

ralph migrate
/opt/ralph/ralph-core/lib/python3.4/site-packages/django/contrib/contenttypes/models.py:161: RemovedInDjango19Warning: Model class django.contrib.contenttypes.models.Content

[2016-06-10 11:52] daro1337 commented on #2478
ok, errors are still occurs, but somehow it works now: what i did: install apt-get purge ralph-core and again install, ralph migrate (with errors),
Type ralph sitetree_resync_apps to reload menu.
=>ralph createsuperuser to add new user.

i created new user (previously after upgrade i didn't made this). Is it essential?
then i run ralph  with errors, but it's working.

[2016-06-10 12:18] mkurek commented on #2478
@daro1337 these are just warnings. Could you paste some traceback of this 500 error?

[2016-06-10 12:55] vi4m commented on #2478
probably it's the settings being set to the DEBUG=false in the /opt/ralph ... settings file

[2016-06-10 13:01] vi4m commented on #2478
should be DEBUG=true

[2016-06-15 13:29] kevinba opened #2488 "Add Switches to DC Visualization ?"
Hi,

Is there a way to add switches in my server room and be able to view some information such as the number of ports, the associated VLAN, consumed ports...

This feature does already exist on Ralph ?
Thank you for your help

[2016-06-15 15:29] ghost commented on #2454
I'm try http://ralph.readthedocs.io/en/latest/donpedro.html#installation but not works for me... Someone can help me ? Thk

[2016-06-15 18:23] vi4m commented on #2454
We haven't ported Windows agent to the Ralph 3 yet. It's on our Roadmap though.

[2016-06-16 06:36] ghost commented on #2454
Thanks vi4m!

I saw the ralph roadmap , and since it is in development , in addition to discovering hardware components and mac addresses, I think it is not a complicated thing for you also enter all applications like office ( including the license from the registry key ) , shared disks , printer , etc.

In addition to being a useful thing (especially me ) , I think that these additions will make

[2016-06-26 12:14] greavette opened #2499 "Looking for information on Ralph functionality"
Hello Team,

Wow!  What an amazing system you've created here.  I've been using Racktables on and off for a few years but your Ralph system looks amazing!  I'm not sure where to post this question so I'm hoping someone can point me in the right direction.

I'm looking to fulfill the following with Ralph to use in our server room:
- Power Usage(Killowatt) tracking.
- HDD including all other compone

[2016-06-29 03:40] 176bis opened #2506 "ralph sitetree_resync_apps ( issue ) during installation."
Hi Ralph Team,

I can install Ralph successfully and can create account and login to Ralph without error but but got error during installation. I'm not sure this error can affect to my installation.
Thank you,

[2016-06-29 05:16] mkurek commented on #2506
Hi @176bis . This bug was fixed few days ago. Please fetch the latest snapshot of deb package and confirm if it's working.

[2016-06-29 07:10] 176bis commented on #2506
Yup...you're right. Many thanks, Mkurek.

[2016-06-29 07:10] #2506 closed, assigned to nobody

[2016-06-30 14:51] knippers opened #2515 "add Weight and Power to Asset Model and sum totals in DC Visualization"
I have a feature request. Would it be possible to add Weight (KiloGram) and Power (Watt) to the AssetModel. And display the sum/total Weight and Power in DC Vizualization per rack for all Assets in the rack that have AssetModels attached with Weight and Power filled-in.
Using custom fields per Asset allows for the registration of the Weight and Power but you can't do much more with it.
Thanks for

[2016-07-04 18:22] knippers opened #2531 "package support for Ubuntu Xenial"
Add support for the Ubuntu Xenial (16.04) in the package release. I guess adding the platform is not the issue but supporting Python 3.5.

[2016-07-08 15:46] djrock opened #2560 "ar"

[2016-07-08 18:55] #2560 closed, assigned to nobody

[2016-07-11 11:47] markovanderpuil opened #2562 "default: cp: cannot stat ‘/vagrant/conf/nginx.conf’: No such file or directory"
Fresh install on vagrant up dies with this error:
default: cp: cannot stat ‘/vagrant/conf/nginx.conf’: No such file or directory
The SSH command responded with a non-zero exit status. Vagrant
assumes that this means the command failed. The output for this command
should be in the log above. Please read the output to determine what
went wrong.

[2016-07-12 06:25] #2562 closed, assigned to ar4s

[2016-07-12 09:41] renki81 commented on #2478
Hi
I become the same error.
If I want to start ralph and open it in the browser I get this message:
`Environment:

Request Method: GET
Request URL: http://server/

Django Version: 1.8.12
Python Version: 3.4.3
Installed Applications:
('ralph.admin',
 'django.contrib.admin',
 'django.contrib.auth',
 'django.contrib.contenttypes',
 'django.contrib.humanize',
 'django.contrib.sessions',
 'django.contr

[2016-07-12 09:44] renki81 commented on #2478
I can see that on the server:

`Internal Server Error: /
Traceback (most recent call last):
  File "/opt/ralph/ralph-core/lib/python3.4/site-packages/django/apps/registry.py", line 148, in get_app_config
    return self.app_configs[app_label]
KeyError: 'cross_validator'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/opt/ralph/ralph

[2016-07-12 09:44] daro1337 commented on #2478
in my case, i had this problem when I did 'apt-get upgrade' (ralph-core) when ralph server was running. Now, i'm stopping ralph server,  then i'm updating ralph core, and starting server again.

[2016-07-12 09:48] renki81 commented on #2478
@daro1337 This is also my problem

[2016-07-12 09:50] daro1337 commented on #2478
so, is it working now?:)

[2016-07-12 10:02] ar4s commented on #2478
@daro1337 @renki81 please add
`
export RALPH2_RALPH3_CROSS_VALIDATION_ENABLED=1
`
to yours `.profile` until we fixed this bug

[2016-07-12 10:36] daro1337 commented on #2478
that works, but i had to change DEBUG=true after upgrade :)

[2016-07-12 12:20] renki81 commented on #2478
for me it does not work unfortunately.

When i make: ralph sitetree_resync_apps
comes this:

`Traceback (most recent call last):
  File "/opt/ralph/ralph-core/lib/python3.4/site-packages/sitetree/utils.py", line 93, in item
    perm = Permission.objects.get(codename=codename, content_type__app_label=app)
  File "/opt/ralph/ralph-core/lib/python3.4/site-packages/django/db/models/manager.py", line 1

[2016-07-12 12:29] ar4s commented on #2478
@renki81 please try `ralph migrate` before `ralph sitetree_resync_apps`

[2016-07-12 12:49] renki81 commented on #2478
yes i made ralph migrate before ralph sitetree_resync_apps

[2016-07-13 15:52] vi4m commented on #2478
Did the #2565 fix your problem?

[2016-07-14 08:28] renki81 commented on #2478
No Sorry.
I made apt-get install ralph-core and set Debug=True
Than: ralph migrate and ralph sitetree_resync_apps
But comes the same error as before :(

[2016-07-14 10:02] ar4s commented on #2478
@renki81 can you run this query `SELECT * FROM ralph_ng.auth_permission where codename like '%crossvalidation%';`  from MySQL console and paste the results? where `ralph_ng` is name of your db

[2016-07-14 10:16] daro1337 opened #2580 "delete DC rack and hardware problem"
RACK:
OperationalError at /data_center/rack/
(1054, "Unknown column 'assets_genericcomponent.model_name' in 'field list'")
Request Method: POST
Request URL:    http://x.x.x.x:8000/data_center/rack/
Django Version: 1.8.12
Exception Type: OperationalError
Exception Value:
(1054, "Unknown column 'assets_genericcomponent.model_name' in 'field list'")
Exception Location: /opt/ralph/ralph-core/lib/pytho

[2016-07-14 11:49] renki81 commented on #2478
Yes my database name ist ralph_ng
I have set the query on my mysql. but i become no results.
I thought that the db perhaps has a problem.

[2016-07-14 12:03] renki81 commented on #2478
Ok sorry my db is damage. i create a new one and all works.

[2016-07-14 12:06] ar4s commented on #2478
@renki81 i'm glad hear that!

[2016-07-15 11:49] vi4m commented on #2515
When it comes to power usage, we already have it in the asset model.

[2016-07-15 11:49] vi4m commented on #2515
<img width="522" alt="zrzut ekranu 2016-07-15 o 13 48 21" src="https://cloud.githubusercontent.com/assets/552398/16873355/f7bc6e7c-4a92-11e6-8bc1-0452a9635b43.png">

[2016-07-15 11:51] vi4m commented on #2515
Displaying total power usage / weight per rack sounds like a good idea, i like it.

[2016-07-15 12:21] vi4m commented on #2499
- Power usage tracking - we have Scrooge billing system for estimated (nominal) power consumption per Asset Model. Not anything automatic, though.
- vlan tracking - you can enter vlan numbers https://ralph-ng.allegrogroup.com/networks/network/add/
- ip subnets tracking - yes, https://ralph-ng.allegrogroup.com/networks/network/add/
- on the shelf tracking - yes
- hdd - we're not using it at the mom

[2016-07-15 12:22] vi4m commented on #2499
Unfortunatelly Back Office assets are not ip-addressable at the moment, so it's not possible to track back office networks usage.

[2016-07-15 12:23] vi4m commented on #2488
No. Currently you can add accestories and provide labels with connections, as a form of replacement.

[2016-07-29 15:49] cgoswami opened #2645 "Query regarding latest stable version"
Hi this more of query than issue, could you tell me the latest stable version from deb packages, i installed the latest but seems to have issues and then i installed another version but it too had issues 404 on all static file.

Since the docs dont mention it could you tell me the latest stable version on a fresh ubuntu 14.04 ?

[2016-08-02 10:22] vi4m commented on #2645
Probably it's the settings/prod.py bug - you should set DEBUG=True in it

[2016-08-02 10:23] vi4m commented on #2645
Link: https://github.com/allegro/ralph/issues/2478

[2016-08-02 14:36] #2645 closed, assigned to nobody

[2016-08-02 14:38] cgoswami opened #2658 "Installation issue"
I have the following error   **Applying supports.0001_initial...Killed** after the first raplh migrate during installation, i dropped the DB and restarted the migration, no effect, the prod.py has DEBUG = True,

`Operations to perform:
  Synchronize unmigrated apps: humanize, dc_view, taggit_serializer, import_export, ralph_admin, mptt, table, rest_framework, ralph2_sync, foundation, messages, dja

[2016-08-02 19:26] vi4m commented on #2658
It looks like ... someone murdered your python process ;-) out of memory ? How much memory have you assigned to your Ralph machine ?

[2016-08-03 07:41] cgoswami commented on #2658
hi Vi4m what is the recommended minimum on a vagrant box ?

[2016-08-03 07:45] mkurek commented on #2658
@cgoswami 1024 MB will work for sure, but you could try with lower values too (maybe 512 MB will be sufficient).

[2016-08-03 07:59] cgoswami commented on #2658
thanks for the info, all working now, closing this issue

[2016-08-03 07:59] #2658 closed, assigned to nobody

[2016-08-03 23:44] gatvo opened #2667 "Cannot import data center assets or IP addresses"
Hello,

I'm trying to import data center assets on ralph from a file (any of the valid formats), but whenever I do, I get an error such as this:

[code]

I thought I first needed to add the IP addresses, but upon trying to do that I get the following error:

[code]

[2016-08-04 07:02] shinogata opened #2668 "Cannot import Asset Model"
Hi team,

Similar to #2667 but seems a little different.

When I try to import "Asset model", it always produces errors after "submit" was clicked.
I used an Excel file (*.xls) just exported from Ralph itself, and it still occurs even if I removed "assets_count" row from the Excel sheet. It also happens in *.csv as well (not tested in other formats).
FYI I have no issue in importing other fields f

[2016-08-04 18:14] chrisbmin opened #2680 "ralph migrate fails on new install"
Hello all,
I'm new to ralphing, and just trying to get setup.
I'm using Ubuntu 14.04 Trusty, and have pasted the following into my ~/.profile
![capture1](https://cloud.githubusercontent.com/assets/5017742/17412956/fa0cc7aa-5a44-11e6-9496-080938badd2e.PNG)

I go ahead and run ralph migrate, and I get a big epic fail.

[code]

[code]

What am I doing wrong?

Thanks for you help!
Chris

[2016-08-04 18:27] chrisbmin commented on #2680
and I believe I found the solution. If you building fresh like me, make sure to perform a reboot after you install ralph.
I just rebooted, and now the migrate is working.

[2016-08-04 18:29] mkurek commented on #2680
It's not about rebooting - it's about "applying" variables you've exported in `~/.profile`. Running `source ~/.profile` should be enough here.

[2016-08-04 18:29] #2680 closed, assigned to nobody

[2016-08-04 18:32] ar4s commented on #2680
@chrisrbmn did you create new user for database? If yes, did you run `FLUSH PRIVILEGES;` in mysql console?

[2016-08-05 15:30] chrisbmin commented on #2680
Hi ar4s, yes, I did do that. My issue was with the variables applying, like mkurek mentioned above.

mkurek, I think you assume every user is highly proficient with Ubuntu.  I think its safe to say, not everyone looking at your project, may be a linux/Ubuntu expert. If I might make a small recommendation: clarifying or adding small tips to your install document, or creating an FAQ that highlights

[2016-08-17 08:57] vi4m opened #2731 "__str__ improvements"
For Change management systems which use our API, we use **str** for filtering and displaying CI's. Currently **str** includes direct ORM information, such as "data center asset" which is not concrete enough to be usable to the user.

<img width="787" alt="zrzut ekranu 2016-08-17 o 10 54 21" src="https://cloud.githubusercontent.com/assets/552398/17730497/3042c01c-6469-11e6-9986-15b483201583.png">

[2016-08-17 13:54] danmx commented on #2430
any news?

[2016-08-17 18:48] vi4m commented on #2430
I've updated our roadmap, it seems everything is in place. We're tagging our codebase into RC1 stage.

[2016-08-19 13:58] trondhindenes opened #2747 "Customization options"
Is it possible to remove classes from ralph? We need a simple cmdb just to keep track of servernames, ip addresses and some key-value pairs with metadata. Is there any documented procedure for how to configure a "minimized" version?

[2016-08-19 16:45] jayme commented on #2747
I believe you can customize the menus in `sitetrees.py`

[2016-08-21 00:14] trondhindenes commented on #2747
Thanks - I was thinking more in terms of simplifying the objects themselves - we simply don't need that many dimensions.

[2016-08-21 14:02] vi4m commented on #2747
You can hide most of the fields using permissions. There are only 3 required fields for Asset from within GUI so you can slim visible part of the system  a lot. When you grow with the system you can enable particular fields again.

[2016-08-22 08:40] heidsoft opened #2749 "Mac os devlope env config error"
[code]

[2016-08-22 09:49] heidsoft opened #2750 "src/ralph/cross_validator/__main__.py migrate error"
[code]

[2016-08-22 17:27] mkurek commented on #2750
Hi @heidsoft. How did you run this command? Do you need Ralph's cross validator? We use it (almost) only internally to compare data in Ralph2 and Ralph3 during migration process.

[2016-08-22 17:29] mkurek commented on #2749
Hi @heidsoft . What command did you run? How did you installed Ralph and what version are you using?

[2016-08-24 05:40] shinogata commented on #2668
Probably something to do with #2268 .

[2016-08-24 06:44] heidsoft commented on #2750
/Users/heidsoft/work/ralph/src/ralph/cross_validator/**main**.py migrate

[2016-08-24 06:46] heidsoft commented on #2749
i am git clone master , run /Users/heidsoft/work/ralph/src/ralph/cross_validator/**main**.py migrate

[2016-08-24 15:46] vi4m commented on #2747
# Why we provide so many models / schema ?

We want to standarize objects as much as we can. So we provide a lot of models which are common in all tcp/ip networks and common dc/bo hardware.  When we standarize objects, we can provide a lot of functions on top of it.

# I don't need it

Hiding from UI is certainly possible and encouraged using GUI (permissions) or modifying sitetree file via the co

[2016-08-25 13:21] yanfosec opened #2769 "ralph migrate issues --> Can't install!"
Just installed 3.0.0-snapshot-20160824-6995, and can't seem to run ralph migrate:

[code]

[2016-08-26 19:04] rebeccakandiah opened #2774 "Demo of Ralph"
Hi,
We are looking to see if anyone will be able to provide our company a demo of Ralph. We also would like someone who can help evaluate our current asset management tool and see if Ralph can fulfill our needs. If anyone is available to help us please let me know.

[2016-08-29 16:27] davidblum commented on #2769
Similar error here:

[code]

This is happening on a fresh ubuntu vm, following the install instructions from the docs site.

I've tried updating ralph, (its current), and also creating a new DB, issue persists.

[2016-08-30 07:29] mkurek commented on #2769
@yanfosec @davidblum what mysql version are you using?

[2016-08-30 07:57] blacknon commented on #2225
Hi Developers

I also have waiting for this functionality is implemented.
Is there progress anything?

[2016-08-30 11:09] vi4m commented on #2225
Yes, we have plans to start working on this feature in October.

[2016-08-30 18:35] yanfosec commented on #2769
@mkurek Here you go:

[code]

[2016-09-02 14:05] #1010 closed

[2016-09-02 14:05] vi4m commented on #1010
We don't support Ralph 2 anymore, please upgrade to Ralph 3

[2016-09-02 14:07] vi4m commented on #1046
Ralph 2 is not supported anymore, please migrate to the Ralph 3 which fixes many bugs and shortcomings of the previous version.

[2016-09-02 14:07] #1046 closed

[2016-09-02 14:07] vi4m commented on #1171
Ralph 2 is not supported anymore, please migrate to the Ralph 3 which fixes many bugs and shortcomings of the previous version.

[2016-09-02 14:07] #1171 closed

[2016-09-02 14:07] vi4m commented on #1197
Ralph 2 is not supported anymore, please migrate to the Ralph 3 which fixes many bugs and shortcomings of the previous version.

[2016-09-02 14:07] #1197 closed

[2016-09-02 14:08] vi4m commented on #1235
Ralph 2 is not supported anymore, please migrate to the Ralph 3 which fixes many bugs and shortcomings of the previous version.

[2016-09-02 14:08] #1235 closed

[2016-09-02 14:08] vi4m commented on #1242
Ralph 2 is not supported anymore, please migrate to the Ralph 3 which fixes many bugs and shortcomings of the previous version.

[2016-09-02 14:08] #1242 closed

[2016-09-02 14:08] vi4m commented on #1246
Ralph 2 is not supported anymore, please migrate to the Ralph 3 which fixes many bugs and shortcomings of the previous version.

[2016-09-02 14:08] #1246 closed

[2016-09-02 14:08] vi4m commented on #1250
Ralph 2 is not supported anymore, please migrate to the Ralph 3 which fixes many bugs and shortcomings of the previous version.

[2016-09-02 14:08] #1250 closed

[2016-09-02 14:08] vi4m commented on #1348
Ralph 2 is not supported anymore, please migrate to the Ralph 3 which fixes many bugs and shortcomings of the previous version.

[2016-09-02 14:08] #1348 closed

[2016-09-02 14:08] vi4m commented on #1349
Ralph 2 is not supported anymore, please migrate to the Ralph 3 which fixes many bugs and shortcomings of the previous version.

[2016-09-02 14:08] #1349 closed

[2016-09-02 14:09] vi4m commented on #1372
Ralph 2 is not supported anymore, please migrate to the Ralph 3 which fixes many bugs and shortcomings of the previous version.

[2016-09-02 14:09] #1372 closed

[2016-09-02 14:09] vi4m commented on #1392
Ralph 2 is not supported anymore, please migrate to the Ralph 3 which fixes many bugs and shortcomings of the previous version.

[2016-09-02 14:09] #1392 closed, assigned to nobody

[2016-09-02 14:09] vi4m commented on #1394
Ralph 2 is not supported anymore, please migrate to the Ralph 3 which fixes many bugs and shortcomings of the previous version.

[2016-09-02 14:09] #1394 closed, assigned to nobody

[2016-09-02 14:09] vi4m commented on #1404
Ralph 2 is not supported anymore, please migrate to the Ralph 3 which fixes many bugs and shortcomings of the previous version.

[2016-09-02 14:09] #1404 closed, assigned to nobody

[2016-09-02 14:09] vi4m commented on #1624
Ralph 2 is not supported anymore, please migrate to the Ralph 3 which fixes many bugs and shortcomings of the previous version.

[2016-09-02 14:09] #1624 closed, assigned to nobody

[2016-09-02 14:09] vi4m commented on #1677
Ralph 2 is not supported anymore, please migrate to the Ralph 3 which fixes many bugs and shortcomings of the previous version.

[2016-09-02 14:09] #1677 closed, assigned to nobody

[2016-09-02 14:16] vi4m commented on #1502
Replaced with: https://github.com/allegro/ralph-cli

[2016-09-02 14:16] #1502 closed, assigned to nobody

[2016-09-02 14:31] vi4m commented on #2243
Closing this REP since it was not implemented in Ralph 3.

[2016-09-02 14:31] #2243 closed, assigned to nobody

[2016-09-02 14:32] vi4m commented on #1971
Accepted and implemented: https://github.com/allegro/ralph-cli

[2016-09-02 14:32] #1971 closed, assigned to nobody

[2016-09-02 14:33] vi4m commented on #1803
Implemented completely in Ralph 3.0

[2016-09-02 14:33] #1803 closed, assigned to nobody

[2016-09-02 15:47] mkurek commented on #1796
Implemented in #2433

[2016-09-02 15:47] #1796 closed, assigned to nobody

[2016-09-02 15:48] mkurek commented on #2377
It's already implemented. Closing.

[2016-09-02 15:48] #2377 closed, assigned to nobody

[2016-09-04 09:41] blacknon commented on #2225
Thanks!

[2016-09-05 19:14] LordMrcS commented on #2769
Same thing here! Can't install!

[code]

[2016-09-06 06:04] mkurek commented on #2750
Don't use `src/ralph/cross_validator/main.py` - just use `ralph` command.

[2016-09-06 14:06] vi4m commented on #2769
@LordMrcS have you stopped ralph instance before applying migration?

[2016-09-06 15:10] LordMrcS commented on #2769
@vi4m no, it was a clean first install atempt. I don't have a working database to start an instance.

ps.: using pre-compiled packages for ubuntu.

[2016-09-08 22:36] yanfosec commented on #2769
@vi4m Same here, a clean install on Ubuntu, following installation instructions.

[2016-09-09 12:35] josesuperlopez commented on #2769
@vi4m Hi, same error here. Clean install on Ubuntu 14.04 and following install instructions.

[2016-09-09 14:44] vi4m commented on #2769
@ar4s @mkurek calling

[2016-09-11 01:50] gerickt opened #2799 "ralph impossible to install (errno: 150)"
[code]

[2016-09-11 01:51] gerickt commented on #2799
version is latest... i try another version 7080, 7076 and 7074... same problem too

[2016-09-11 01:54] gerickt commented on #2769
same problem here, can't install on fresh ubuntu 14.04....
version 7080, 7078 and 7076... same errors

[2016-09-11 10:40] vi4m commented on #2769
@ar4s does this migration broke something?

[2016-09-11 18:33] ar4s commented on #2769
@vi4m At the first glance there is the bug around [this](https://github.com/allegro/ralph/blob/ng/src/ralph/assets/_migration_helpers.py#L151). I will debug tomorrow.

[2016-09-12 05:53] yiyuandao commented on #2799
I got the same problem too.
And downgrade to ralph-core_3.0.0-snapshot-20160805-6680, then works well.
It seems that the latest version have problems.

[2016-09-12 05:57] mkurek commented on #2799
@gerickt @yiyuandao please refer to https://github.com/allegro/ralph/issues/2769 - we'll continue to fix this bug there.

[2016-09-12 05:57] #2799 closed, assigned to mkurek

[2016-09-13 03:39] ti22406 opened #2801 "Delete the data with bulk"
Hi, thanks for deploying the app, this is really helpful for us.
We are deploying the apps in our company and will migrate the data in the spread sheet to Ralph this week.  We have one simple question here, I know the data can be imported/exported and it is feasible to have bulk upload using import function, however, not sure how to do the "Bulk-Delete" on Ralph.  Yes, we can delete the data one b

[2016-09-13 05:44] mkurek commented on #2801
Hi @ti22406. You could either select multiple items on the list (see screenshot below) and then use `Actions` -> `Delete selected ...` or use ralph's shell (run `ralph shell` in command line) if you're familiar with Django.

<img width="1412" alt="screen shot 2016-09-13 at 07 42 39" src="https://cloud.githubusercontent.com/assets/107437/18462805/c7e65470-7985-11e6-991f-45cc24ff79c1.png">

[2016-09-14 13:54] willowpet commented on #2668
any news for this issue ?

[2016-09-14 15:43] vi4m commented on #2668
@mkurek @ar4s

[2016-09-15 11:22] vi4m commented on #2769
Apart from this, we should think about migrating to the Django 1.9, where you can run initial syncdb without running hundreds of pointless migrations, for new installations.

[2016-09-15 11:26] ti22406 commented on #2801
Thank you for quick reply!

iPhone$B$+$iAw?.(B

2016/09/13 14:44$B!"(BMateusz Kurek <notifications@github.com<mailto:notifications@github.com>> $B$N%a%C%;!<%8(B:

Hi @ti22406https://github.com/ti22406. You could either select multiple items on the list (see screenshot below) and then use Actions -> Delete selected ... or use ralph's shell (run ralph shell in command line) if you're familiar

[2016-09-15 16:33] vi4m commented on #2801
Ok, closing then.

[2016-09-15 16:33] #2801 closed, assigned to nobody

[2016-09-15 16:39] jhcruvinel opened #2807 "Cant run ralph migrate after install ubuntu packages"
After create database and run ralph migrate, get:

Operations to perform:
  Synchronize unmigrated apps: foundation, ralph2_sync, mptt, taggit_serializer, messages, dc_view, rest_framework, ralph_admin, staticfiles, table, import_export, humanize, django_rq, permissions
  Apply all migrations: operations, authtoken, domains, security, reports, auth, data_importer, sessions, dhcp, networks, externa

[2016-09-15 16:48] vi4m commented on #2747
Did it work?

[2016-09-16 08:39] ar4s opened #2808 "REP 15: Integration tests"
# Introduction

We have few external services like DNSaaS (via REST API) or DHCP (via configuration agent) and we don't have any integration tests.
# Proposal of solution

Run linked containers (by docker-compose) on Travis and write some integration tests.
Services to test:
1. DNSaaS
2. DHCP
3. InkPy
# To discuss

Can we interpret `Vagrant` as a service? Anyway, `Vagrantfile` need to be test.

[2016-09-17 09:00] vi4m commented on #2769
I've just merged the solution please wait couple of minutes until new build arrive,  and install upgrade, then Ralph migrate as usual should work.

[2016-09-17 21:52] gerickt commented on #2774
this demo: http://ralph-demo.allegro.tech/login/?next=/

doesnt works... the login & password: ralph
not login...

i looking for a live demo, because cant install
[https://github.com/allegro/ralph/issues/2799](url)

[2016-09-17 22:08] vi4m commented on #2774
We will reset demo instance on Monday.

[2016-09-19 06:27] ar4s commented on #2774
@gerickt try demo:demo

[2016-09-19 19:52] LordMrcS commented on #2769
It's working now! Thanks!

[2016-09-20 09:27] josesuperlopez commented on #2769
Hi, now working fine. Thanks!

[2016-09-20 15:48] gatvo opened #2812 "DC grid disappears when the amount of columns in a DC is greater than 40"
I found out that the DC grid is limited to a 40x40 square and if the DC has more columns than 40, then the grid on it disappears completely. I think it would be nice to remove this limit so that the grid could scale indefinitely if possible or at least increase the limit to say 100x100.

[2016-09-21 13:55] yanfosec commented on #2769
Thanks for your help guys!!!

[2016-09-21 13:55] #2769 closed, assigned to nobody

[2016-09-21 14:59] greavette commented on #2499
Very sorry for not responding to your replies @vi4m  I appreciate you answering my questions!  Great to hear that vlan and IP subnet tracking is available and that I can track items on the shelf.

I'm taking another look at Ralph now as I've noticed a lot of work has been going on in Ralph these past few months.  I'm very impressed with how Ralph looks now.

I'm very happy to see that I can add in

[2016-09-22 10:07] mkurek commented on #2807
Duplicate of https://github.com/allegro/ralph/issues/2769 (and solved in https://github.com/allegro/ralph/pull/2800)

[2016-09-22 10:07] #2807 closed, assigned to nobody

[2016-09-22 11:07] mkurek commented on #2774
ralph:ralph should work fine now too

[2016-09-26 08:22] mkurek commented on #2499
Hi @greavette. We are planning to add more features to components module (like installation date etc), but we cannot provide you specific date. We'll handle this topic probably at the beginning of 2017.

[2016-09-26 09:03] mkurek commented on #2750
@heidsoft did you try it? Did it solve your problem?

[2016-09-26 11:53] greavette commented on #2499
Hi @mkurek, thank you for this update.  Being able to put in the installation date of key components like hard drives and memory modules would be key for me to begin using Ralph...looking forward to your upcoming changes in 2017!

I'd also like to ask for help on how to use the auto scan feature of Ralph I've heard of.  I believe there is a scan button somewhere on Ralph that will let me scan my n

[2016-09-28 06:13] mkurek commented on #2499
@greavette there is no scan built-in directly into ralph3 (it was built-in in ralph2), but we have new tool for such things - [ralph-cli](https://github.com/allegro/ralph-cli) - it has plugins for different servers types and could push information to ralph. It's also easily extendable so you could write your own scripts (in any language you want) for your servers as well. Check it out!

[2016-10-04 07:26] #2812 closed, assigned to ar4s

[2016-10-06 20:38] gatvo commented on #2667
This might be able to help:
http://stackoverflow.com/a/33850878/4876466

[2016-10-13 15:21] shift opened #2839 "Docker instructions expose services which possibly shouldn't"
Using '-P' on Docker will bind all `EXPOSE`ed ports defined within the Dockerfile on random host ports. This could expose ports for people which they didn't know about and cause security problems.

[2016-10-19 08:57] spuzirev opened #2842 "Server parts management"
Hi.
I'm trying to find following feature, but I can't.

We have lots of servers and we have lots of parts of servers, for example, HDDs, SSDs, motherboards, NICs, etc. All of them have their own serial numbers and positions inside servers, for example HDD's can be located in specified physical slot on the front panel and memory units can be located in cpecified DIMM-slots on the motherboard.

Is t

[2016-11-01 00:09] aogilvie opened #2851 "[Docker Compose] [NG] no such file or directory error"
Steps to reproduce:

- git clone ng branch
- copied docker compose from `/ralph/contrib` to `/`.
- run `docker-compose build`

[code]

[2016-11-02 03:21] rifnasahd opened #2853 "Features Comparision with Latest Ralph 3.0 and Previous Ralph 2.X"
Hi @vi4m @mkurek

I'm very new to Ralph and went through V3 and V2.X documentation. Can you please verify me whether following features avaialbe in Ralph 3.0 version?

Is there any link to compare available features of version 3.0 and 2.X?

1. scan networks automatically through periodic or manual scans and identify.

2. deploy servers by generating appropriate DNS/DHCP configs and uses I/PXE meth

[2016-11-07 09:31] damian1976 opened #2855 "Rack outside DC grid"
Can add a rack outside DC grid.

![grid](https://cloud.githubusercontent.com/assets/9283029/20052651/36d0cf76-a4d5-11e6-9063-48b39aa0c7a7.JPG)

[2016-11-07 09:32] damian1976 opened #2856 "Cannot remove BO from menu"
Cannot remove BO menu (with all its items) from main menu. Operating on groups permissions (all users belong to a single group) doesn't help.

[2016-11-07 09:38] damian1976 opened #2857 "Main page/dashboard: wrong links?"
Within the main page & dashboard:
when hovering & clicking on circles representing Server Rooms the following links are built: https://ADDRESS/dc_view#/dc/DC_NUMBER
However, the circles should point to SRs, not DCs, so the links for the circles should look like:
https://ADDRESS/dc_view#/sr/SR_NUMBER

[2016-11-07 18:37] vi4m commented on #2808
+1

I would say, the best option is to use docker instead of vagrant. Docker make sense only if it's used both in development and production. That's the purpose to have it.

[2016-11-08 11:31] mkurek commented on #2856
Aren't they superusers? Could you send dump (printscreen) of whole page with permissions definitions for this group and print screen of menu after logging as a user in this group?

[2016-11-08 12:13] damian1976 commented on #2856
Ok, so the situation looks as follows:
1/ I'm the superuser and the other users are regular, staff users belonging to a single (LDAP) group
2/ From superuser account I'd like to disable BO menu (and possibly any other functionality later on)
3/ Currently the group has the following permissions set:

![permissions](https://cloud.githubusercontent.com/assets/9283029/20098547/b8eb7c92-a5b4-11e6-910b-

[2016-11-08 12:21] mkurek commented on #2856
And what do you see in menu? All (3) items?

[2016-11-08 12:23] damian1976 commented on #2856
![menu](https://cloud.githubusercontent.com/assets/9283029/20098960/89206c96-a5b6-11e6-963d-cc3e9d798121.PNG)
![menu_bo](https://cloud.githubusercontent.com/assets/9283029/20099286/00aa8778-a5b8-11e6-8eab-c1610350ac4f.png)

[2016-11-08 12:30] mkurek commented on #2856
i mean back office (sub)menu

[2016-11-08 12:36] damian1976 commented on #2856
screenshot updated

[2016-11-08 12:38] damian1976 commented on #2856
OK. Warehouse & office infrastructure needed to be unchecked too.

[2016-11-08 12:38] #2856 closed, assigned to nobody

[2016-11-08 16:30] greavette commented on #2853
Great question!  I'm also very interested in these answers.  We use Zabbix exentisvely in our office so having third part integration into Zabbix would be very helpful!

I've opened an issue a while back asking a question about automatic discovery.  https://github.com/allegro/ralph/issues/2499.  There is a ralph-cli tool that was mentioned (I still need to test it out myself).  The Windows Agent w

[2016-11-09 14:31] mkurek commented on #2853
Hi @rifnasahd @greavette

You could do this using ralph-cli (although it's not possible right to scan whole network at once - we have this in our [roadmap](http://ralph-cli.readthedocs.io/en/latest/development/#sooner), but right now you'll have to run this command for each ip in network)

yes - ralph could generate DHCP configs and deploy servers using (i)PXE. We should add this section to the do

[2016-11-09 15:00] xor-xor commented on #2853
AFAIR all this boils down to user permissions and home dir handling.

[2016-11-12 21:43] vi4m commented on #2842
This is work in progress for now - we will update Asset to have "parts" links in it. Cannot promise any timeline, though.

[2016-11-12 21:50] vi4m commented on #2478
Fixed, closing then.

[2016-11-12 21:50] #2478 closed, assigned to nobody

[2016-11-12 21:50] #1468 closed, assigned to nobody

[2016-11-17 09:49] yangliping opened #2864 "Can not import Data center assets from xls file"
I think it's related to the management_ip field. If I put an IP in it, it will raise following error:

![screen shot 2016-11-17 at 5 42 17 pm](https://cloud.githubusercontent.com/assets/6970919/20384205/f29cb6fa-aced-11e6-9dc9-89651448b0bc.png)

ERROR:root:save() prohibited to prevent data loss due to unsaved related object 'base_object'.
Traceback (most recent call last):
  File "/opt/ralph/src/r

[2016-11-17 10:56] vi4m commented on #2864
@xliiv ?

[2016-11-17 12:11] ghost commented on #2864
@yangliping make sure that IPs (and other objects related to Asset) mentioned in your import xls file do exist in db. Can you confirm that?
Beside the above, a minimal problematic file would be very helpful to debug/write regression test.
Could you attach one?

[2016-11-18 03:00] yangliping commented on #2864
@xliiv The IP do not exist in db. But if you add the IP ahead, there will be another error. And the error is also relative to IP. Github does not support uploading xls files, so I save the file as xlsx and attached below.

![screen shot 2016-11-18 at 10 50 59 am](https://cloud.githubusercontent.com/assets/6970919/20416992/4c3b1f96-ad7d-11e6-9c5a-4f83d1fd2de7.png)

ERROR:root:save() prohibited to p

[2016-11-18 19:01] hanej opened #2866 "Custom Fields for IP Addresses"
We would like to use Ralph to also track our multicast IP address usage and to do so effectively, we will need to use custom fields as part of the IP address record.  Since a multicast IP can span multiple hostnames we will need to track which application and environment a multicast IP is assigned.  I don't see a way to do this currently.

[2016-11-24 06:03] yangliping commented on #2864
What's the best practice of debugging alpha inside the container? I'm now using the image from docker hub.

https://hub.docker.com/r/allegrogroup/ralph/

[2016-11-24 10:45] ghost commented on #2864
@yangliping ok i got the error, I'll do the fix, hold on :)

ad. "docker debugging" if you have working docker container you can do

[code]

to go into working container. The rest should be the same as usual except it's docker image ;)

[2016-11-29 13:16] ghost commented on #2864
Here's the fix:
https://github.com/allegro/ralph/pull/2873

[2016-11-30 03:00] yangliping commented on #2864
@xliiv I've tested the fix. It works great. Thank you.

[2016-11-30 03:00] #2864 closed, assigned to nobody

[2016-12-01 09:13] mywatch opened #2881 "Ralph 3: Upgrade to latest version causes error."
Hi Ralph-Team,

We are using Ralph build (Version: 3.0.0-snapshot-20160607-5736) in our production.

On above setup we found below issues.

a. Ralph ACL issue for Bulk Update.
b. ACL does not work on Back Office.
c. Import function does not work on "Support" Tab.

So we decided to use later build (Version: 3.0.0-snapshot-20161115-7304).

With the latest build we observed that the database schema i

[2016-12-02 05:54] angelionix99 commented on #2264
+1

[2016-12-02 14:39] vi4m commented on #2881
@ar4s @xliiv  can you take a look  ?

[2016-12-02 14:43] vi4m commented on #2881
did you run `ralph migrate` after the upgrade?

[2016-12-02 17:56] mywatch commented on #2881
Thanks for your reply!

Yes I performed $ralph migrate

It throws error complaining table already exists.

[2016-12-05 06:58] mywatch commented on #2881
Here is console output of my attempts to various ralph options.

[Console Output for Ralph Issue in GIT 5Nov16.txt](https://github.com/allegro/ralph/files/630331/Console.Output.for.Ralph.Issue.in.GIT.5Nov16.txt)

[2016-12-06 18:21] vi4m commented on #2881
@xliiv i think we can skip failiing migration with --fake [something] flag,right ? How to do it here?

It failed here on  `Applying assets.0012_auto_20160606_1409...Traceback (most recent call last):`
with:
`_mysql_exceptions.OperationalError: (1050, "Table 'assets_configurationclass' already exists")`

[2016-12-07 08:39] ghost commented on #2881
We could skip this migration by this:
`ralph migrate assets 0012 --fake`
and then run
`ralph migrate`

To see the progress you can do like this:
[code]
then run
`ralph migrate assets 0012 --fake`
should produce something like this:
[code]

[2016-12-07 15:42] project0 commented on #2298
Nested group sync doesnt work for me, there is at minimum one issue with python3
The following line gets an byte char:
https://github.com/allegro/ralph/blob/d871ef91fe01c57e3b3660fa5bed7ae2175d2720/src/ralph/accounts/ldap.py#L156 but in https://github.com/allegro/ralph/blob/d871ef91fe01c57e3b3660fa5bed7ae2175d2720/src/ralph/accounts/ldap.py#L169 is a string required. When fixed with string casting

[2016-12-08 02:45] mywatch commented on #2881
On a setup with my Prod build and Prod Data, I followed suggested steps.  Same can be viewed in attached sheet.

Above approach doesn't solve our problem. By skipping 0012, migration failed further for 0014.

_Applying assets.0014_memory...Traceback (most recent call last):_

So I tried skipping one by one as per error message and again reach to our first error as:

_Applying assets.0012_auto_2016

[2016-12-08 09:59] mywatch opened #2889 "Ralph Development Environment setup: Vagrant up doesn't activate virtual environment"
Dear Ralph-team

Vagrant up command doesn't activate the virtual environment. Though file exists at /home/vagrant/bin/activate. Please find the whole command output in attached file.

$ vagrant up
.
.
.
.
.
.
.2.0 pytz-2015.4 ralph redis-2.10.3 requests-2.9.1 rq-0.5.6 simplegeneric-0.8.1 simplejson-3.8.2 six-1.10.0 snowballstemmer-1.2.1 sphinx-1.5 sqlparse-0.1.16 stevedore-1.12.0 tablib-0.11.2 tor

[2016-12-09 07:17] ghost commented on #2881
@mywatch catch me on gitter, ok?

[2016-12-09 10:05] ghost commented on #2889
Did you try rebuild your vagrant image?
Be aware that this WILL DESTROY your current image..

[code]

[2016-12-13 13:21] Rhaelyx opened #2895 "Cannot run ralph migrate (Errno 13)"
Hello,

I get a permission error when running Ralph migrate. I've run source ~/.profile after editing it.

This is a clean install ubuntu 14.04 (Used the wiki install page)

When I use command with user and password from .profile.
'mysql -u root -p 'password' -h localhost ralph'. The login is succesful.

[Pastebin full error](http://pastebin.com/6ki5XPzx)

[2016-12-15 16:27] vi4m commented on #2895
I think you should run ralph migrate as a root user

[2016-12-16 08:22] Rhaelyx commented on #2895
I'm by no means a Linux expert. But I'm pretty sure that my user is a root user. I checked with the command ID.

`uid=1000(myuser) gid=1000(myuser) groups=1000(myuser),4(adm),24(cdrom),27(sudo),30(dip),46(plugdev),110(lpadmin),111(sambashare)`

When I try sudo ralph migrate it says `sudo: ralph: command not found`
I'm assuming this is because $path changes when I use sudo. (Based on my google find

[2016-12-16 09:00] Rhaelyx commented on #2895
I ued the `sudo env "PATH=$PATH"` command in front of ralph migrate. Now it gives me the following error.

[Pastebin](http://pastebin.com/CNEJRBXY)

[2016-12-16 09:08] ghost commented on #2895
`_mysql_exceptions.OperationalError: (1045, "Access denied for user 'ralph_ng'@'localhost' (using password: YES)")`
According to the above the connection with db can't be settled.
Make sure you can connect to your db, and use these credentials in settings.

[2016-12-16 10:19] Rhaelyx commented on #2895
As per [this issue](https://github.com/allegro/ralph/issues/2680) it first suggest I need to create user ralph_ng. But it corrects by saying that running source ~/.profile is sufficient.

Seeing that it's not documented that I need to create this user I'm uncertain how to proceed. I have tested the credentials that are entered here.

export DATABASE_NAME=ralph
export DATABASE_USER=root
export DATA

[2016-12-16 18:58] vi4m commented on #2895
@xliiv we should clean up this docs with custom user creating

[2016-12-19 07:45] mywatch commented on #2881
We found, in our environment some how 27 extra tables are created and they are empty.
So after deleting all of them, our migration is successful. So I am closing this task.

Huge thanks to Ralph team (Special thanks to @xliiv) for their help and support.

[ExtraTables In Prod DB.txt](https://github.com/allegro/ralph/files/660386/ExtraTables.In.Prod.DB.txt)

[SuccessFullMigration13Dec16.txt](https:

[2016-12-19 07:45] #2881 closed, assigned to nobody

[2016-12-20 07:14] ghost commented on #2895
@Oreios creating superuser is similar to Django version, like this:
https://docs.djangoproject.com/en/1.10/intro/tutorial02/#creating-an-admin-user
but you should replace `$ python manage.py` with `ralph`, so the whole command is:
`$ ralph createsuperuser`
After this, follow the steps from above link.

*Contribution opportunity*
When you success you can fix the documentation, how about that? ;)

[2016-12-20 07:34] Rhaelyx commented on #2895
@xliiv Even though creating a superuser is on step 3 and I'm still on step 1. I went ahead and tried the command. However it tells me '$: command nog found'.

I'm by all means just an amateur linux user, getting by with lots of internet help. Not sure I'd trust myself with an installation document.

[2016-12-20 07:53] ghost commented on #2895
Could you catch me on Gitter https://gitter.im/allegro/ralph ?

[2016-12-20 13:42] Rhaelyx commented on #2895
After verifying many files and settings with @xliiv. Somewhere in /settings/base.py I made a change that later got reverted trough a snapshot. Then we proceeded to verify the names trough ralph shell. Using this information logged in to the SQL and exited out.

Running ralph migrate worked perfectly now. In theory we didn't change any files. Only verified some.

[2016-12-20 13:42] #2895 closed, assigned to nobody

[2016-12-26 14:00] exebit opened #2900 "Asset holder vs user"
Hello,
Assets and licences have a field **Property of**. It is an **Asset Holder** entity. On the other side users have **My equipment** info, it's always empty. Is it bug of existance of two same entities?

[2016-12-27 07:58] mkurek commented on #2900
Asset Holder entity (and field property of, which is related to it) is used (at least in our case) for storying **companies** (which owns financial rights for some asset, for example they bought it). It's useful when ralph is used to store information about assets from multiple companies.

On the other hand my equipment is for **users** which are owning (or using) particular asset - when you fill

[2016-12-27 12:14] exebit commented on #2900
Oh, I see, backoffice equipment has such fields. Thanx!

[2016-12-27 12:14] #2900 closed, assigned to nobody

[2017-01-02 16:00] greavette opened #2922 "Feature request for Hardware Components"
Hello @vi4m  @mkurek ,

Happy New Year to the Ralph community!

I'd like to make a suggestion on adding custom fields for any component on the Hardware tab.  In my case I would like to add to the existing fields already existing in the components section in the slot number for each Memory Module and the date of install.  For our Hard Drives I will need to add in the bay the drive is installed in,

[2017-01-02 16:26] vi4m commented on #2922
Thanks for your request. I think the "components" area is something we're interested in extending in terms of functionality.

[2017-01-02 20:12] greavette commented on #2922
Thank you for the reply @vi4m !  Looking forward to seeing Ralph extend it's functions even further in 2017.  It looks like a great project so far.

[2017-01-05 14:42] Vaygh commented on #2515
Forgive me if I missed it in the documentation, but what unit is the "Power consumption" field in? It seems to be an integer value, so I'm guessing it's not amps, but I'd like to know for sure. Thanks!

[2017-01-05 14:53] Vaygh commented on #2264
+1

[2017-01-09 12:57] spinnnor opened #2928 "Installation"
Hi,

i have a Problem, i will tested ralph3 but cannot installation.

1. sudo apt-get update && sudo apt-get install apt-transport-https
2.sudo apt-key adv --keyserver  hkp://keyserver.ubuntu.com:80 --recv-keys 379CE192D401AB61
3.sudo sh -c "echo 'deb https://dl.bintray.com/vi4m/ralph wheezy main' > /etc/apt/sources.list.d/vi4m_ralph.list"
4.sudo apt-get update

Error:
OK:1 http://de.archive.ubunt

[2017-01-09 13:40] ghost commented on #2928
What OS are you using?
Could you run in shell `lsb_release -a`?

[2017-01-09 13:50] ghost commented on #2928
I think recommended version of Ubuntu for Ralph is: 14.04 aka `trusty`

[2017-01-09 13:51] spinnnor commented on #2928
Oh  sorry :)

Latest Ubuntu16 version x86_64... I installed a new server and i hope thats work now.

Update: The same problem

No LSB modules are available.
Distributor ID:	Ubuntu
Description:	Ubuntu 16.04.1 LTS
Release:	16.04
Codename:	xenial

x86_64

[2017-01-09 13:54] spinnnor commented on #2928
ahhh ok, i try the ubuntu 14.04.5 version

[2017-01-09 14:21] Skvortsovg commented on #2928
I have the same problem in ubuntu 14.04.5

[2017-01-09 14:41] spinnnor commented on #2928
Yes, me to...

W: Failed to fetch https://dl.bintray.com/vi4m/ralph/dists/wheezy/main/binary-amd64/Packages  HttpError403

W: Failed to fetch https://dl.bintray.com/vi4m/ralph/dists/wheezy/main/binary-i386/Packages  HttpError403

E: Some index files failed to download. They have been ignored, or old ones used instead.
sebastian@DEV02:~$ ping 8.8.8.8
PING 8.8.8.8 (8.8.8.8) 56(84) bytes of data.
64

[2017-01-10 00:21] mywatch commented on #2889
I have used Windows for setting Ralph development environment and it seems this could be the issue.
So closing this issue.
Note: It would be nice to make development environment available for windows users as well.

[2017-01-10 04:53] mywatch opened #2930 "Rack Orientation is not working"
Hi Ralph Team,

For DC Visualization, rack orientation does not change once user change it at Racks Orientation settings to bottom to top and vice-versa. Rack numbering always start with descending order.

![image](https://cloud.githubusercontent.com/assets/14229096/21794244/04a12c6e-d73c-11e6-9d42-fcc3b53ab3df.png)

[2017-01-10 05:29] ar4s commented on #2930
Did you restart main server procesem like gunicorn?

[2017-01-10 05:52] mywatch commented on #2930
Yes, I restarted server too, no change, still same issue.

[2017-01-10 07:05] mywatch commented on #2930
I am not sure about main server process like gunicorn and how to run it.
I just changed orientation from top to bottom and restarted server $ralph runserver .0.0.0.8000.
And received no difference in orientation.

[2017-01-10 09:20] mywatch opened #2931 "Region option missing from Groups List"
Dear Ralph team,

Under (Settings  --> Groups list), option to select Regions is missing. But same is available under (Settings --> Users list). Is there any specific reason to not provide regions in groups-list (or) its a bug.

Your quick response will be appreciated.

![image](https://cloud.githubusercontent.com/assets/14229096/21800432/fcbefe48-d760-11e6-9b3d-bdc49b4b7f24.png)

[2017-01-10 09:24] mkurek commented on #2931
Currently region is assigned only to user - but I think we could add this field for group too - then regions for user will be sum of its direct regions and it's groups regions.

[2017-01-10 09:30] mywatch commented on #2931
Thank you so much for you quick response.

Actually we required groups-list to have regions option, so that our ldap sync all user with right regions, instead of doing one-by-one mapping under users-list.

[2017-01-11 06:44] spinnnor commented on #2928
no solution?

[2017-01-11 06:52] Skvortsovg commented on #2928
I tried to use manual installation as it is written in readme file, but this way also failed:(

[2017-01-11 08:45] mkurek commented on #2928
I'll tackle this problem today

[2017-01-11 23:44] mywatch commented on #2930
Hi Ralph Team,
I miss understood rack orientation functionality. I checked rack orientation worked fine with (top, bottom, left and right) given options.

But, there is a different requirement from us, could you please let us know, is it possible to reverse the slot ordering from descending to ascending in a rack.

Right now, default ordering is descending. Also is it possible to have both (ascend

[2017-01-12 12:18] exebit opened #2934 "Report tree node uniqueness"
Hello,
I see a mistake in **Manufactured - category - model** report. I have 1 Avaya Telecom and some Fortinet telecom devices. But report is the following:
![image](https://cloud.githubusercontent.com/assets/14807529/21889005/d74627fe-d8d7-11e6-8b2b-38cf4da50769.png)
All telecom devices are linked to Avaya.

Fortinet node is empty:
![image](https://cloud.githubusercontent.com/assets/14807529/2188

[2017-01-13 04:47] blocksmither commented on #2930
There was a setting added a few months ago called RACK_LISTING_NUMBERING_TOP_TO_BOTTOM in settings/base.py that applies to all racks in the ralph instance. However, some companies deal with multiple datacenters and clients and the standards may differ.

I will submit a pull request next week. You can change the orientation per rack, so some racks can be in one order and some can be in another.   I

[2017-01-13 06:12] mkurek commented on #2930
That would be great @thescriptbender!

[2017-01-16 06:56] spinnnor commented on #2928
Is there already a solution? :)

[2017-01-16 11:28] Tibshot commented on #2225
Hello,

Thank you for your amazing work.

Have any update about this feature ? Clearly, in term of datacenter management, it would be great to have this feature developed. In order to help or test, is there an available branch to pull/push some fix/feature ?

We are currently testing Ralph 'ng' branch but we can checkout another one for testing purpose.

Keep up the good work,

Tib

[2017-01-16 11:40] Tibshot commented on #2842
Hello @vi4m,

Is there any branch to track/debug/add feature ?

Thanks,

Tib

[2017-01-16 19:31] vi4m commented on #2225
We use one branch (ng) for the most recent changes, so it should be the base one for work.

[2017-01-16 19:32] vi4m commented on #2225
We're still waiting for some input, how this feature should be implemented in details. Any ideas / needs ?

[2017-01-16 19:58] vi4m commented on #2928
Still working on it.

[2017-01-17 06:47] #1783 closed, assigned to nobody

[2017-01-17 18:04] vi4m commented on #2928
Problem fixed. You can update & install it the sam way as before.

[2017-01-18 15:44] rnldnkp opened #2941 "[feature request] Auto generate barcode"
It would be great if Ralph could auto-generate a barcode (UID) for an object. You should be able to set a prefix and length of the value.

For example VM or PC makes: VM12345 or PC12345

Or did I mis something and is this already possible?

[2017-01-18 15:46] rnldnkp opened #2942 "barcode and SN missing 'asterisk'/required indication"
When adding an asset in the demo, some field shown an asterisk telling me it is required. But both Barcode and SN do not show an asterisk but do give an error when you save without them.

I guess those should have an asterisk as well, or they should be red when empty, not after I hit 'save'.

[2017-01-19 18:49] vi4m commented on #2941
The feature is not present yet, we autogenerate hostname's numbers only.

[2017-01-19 21:57] vi4m commented on #2942
That's true. It is this way because it depends which one you will use (one of: barcode or sn is required)

[2017-01-20 07:51] rnldnkp commented on #2941
Hi vi4m, thanks for your comment.

Ok, i'll look in to that. Maybe I misplaced 'barcode' and can we accomplish our goal with the hostname field. At the end, most of the assets are not physical objects. Like VM's or Software.

I have managed to get some hostnames popup in the demo. It seems to be attached to a transition. But I can't add transitions, and I cannot define what the hostname should loo

[2017-01-20 09:06] rnldnkp commented on #2941
The hostname is only generated under Back Office (?) and I cannot tell how it's configured (lenghth etc.)

[2017-01-20 12:06] Tibshot commented on #2225
In fact, we are thinking about switch from racktable to ralph-ng. We already setup it for testing purposes and we find it great. But there are some missing features that we would like to help to develop or specify. For us there are 3 missing features that blocks our final decision:

- Cable path. Our current discussion topic.
- Ip/Network range management (like racktable way of linking).
- Hardcod

[2017-01-25 20:01] greavette commented on #2922
Hello @vi4m  and @mkurek ,

Is pull request 2948 related to this request to add in custom fields to components in the Hardware tab/section of Ralph?

Thank you.

[2017-01-26 12:17] #2930 closed, assigned to nobody

[2017-01-26 23:22] #2889 closed, assigned to nobody

[2017-01-27 11:52] bencheikh commented on #2179
Hello everyone i read your comments , so Ralph it's not supported on Debian jessie ? i had the same probleme as cdb-fr but i have an x86_64 Debian.
I think it's not available for this distribution , it works only with wheezy or ubuntu.
May you confrm vi4m and tell me if there will be some new changes

[2017-01-27 12:42] mkurek commented on #2179
Hi @bencheikh . It should work fine on jessie - we probably didn't release deb for this version. I'll do this by the monday.

[2017-01-29 14:45] vi4m opened #2950 "demo is crashing"
There are multiple 500's on Demo site. Maybe before we clean the data, we can check the cause of it.

[2017-01-29 14:56] vi4m commented on #2774
Demo is online 24/365. Closing.

[2017-01-29 14:56] #2774 closed, assigned to nobody

[2017-01-29 14:57] vi4m commented on #1538
@mkurek done?

[2017-01-29 14:57] vi4m commented on #1635
Done.

[2017-01-29 14:57] #1635 closed, assigned to nobody

[2017-01-29 14:58] vi4m commented on #1662
@xliiv are we gonna do it?

[2017-01-29 14:59] vi4m commented on #1686
Done.

[2017-01-29 14:59] #1686 closed, assigned to nobody

[2017-01-29 15:03] #2224 closed, assigned to nobody

[2017-01-29 15:03] vi4m commented on #2224
IPAM is now implemented. Just install the latest version. Closing this issue.

[2017-01-29 15:04] vi4m commented on #1825
We support now only the 3.x version. Please upgrade. Closing.

[2017-01-29 15:04] #1825 closed, assigned to nobody

[2017-01-29 15:07] vi4m commented on #1529
Is there something to do @xliiv ?

[2017-01-30 07:29] mkurek commented on #1538
Not exactly - this docker-library issue is closed now, but there is no trivial way to set this in docker (ex. using single env variable).

[2017-01-30 07:29] ghost commented on #1662
I'd like to but it's a minor thing, so we also could close it..

[2017-01-30 07:32] ghost commented on #1529
AFAIK we left python2 so it should be closed?

[2017-01-30 07:33] vi4m commented on #1529
Yeah, closing.

[2017-01-30 07:33] #1529 closed, assigned to nobody

[2017-01-30 07:34] vi4m commented on #1538
Cannot we just stick to the django init_command settings?

[2017-01-30 07:39] mkurek commented on #2950
Done. There was a problem with applying one of the migrations (so model in code was not related with mysql state).

[2017-01-30 07:39] #2950 closed, assigned to mkurek

[2017-01-30 07:40] mkurek commented on #1538
It should work, but I'll have to test it.

[2017-01-30 10:09] #2928 closed, assigned to nobody

[2017-01-30 10:16] mkurek commented on #2179
@bencheikh it should work fine on jessie (even using wheezy repo). Anyway after merging https://github.com/allegro/ralph/pull/2953, there will be jessie repo for ralph on bintray.

[2017-01-31 23:50] SesquipedalianDefenestrator commented on #2225
I'm only slightly familiar with Ralph at this point.  I had been looking into using Racktables to replace our cobbled-together spreadsheets and text configs, but ran across Ralph and like that it's more active and has a real API.  The ability to model network connections well is the only major "missing" feature

I would mostly follow Racktables' example for this:
Each network connection has an opt

[2017-02-01 09:04] dizaar opened #2955 "Built-in rack accessories modification"
First, Great Thank for your work. I`d like to ask is there an idea of customizable built-in rack accessories modification?
Such as power socket. I`d like to have an option to point how many connections can be applied to one power socket, what equipment is connected to what power jack.
And what about possibility to graph connections between equipment?

[2017-02-01 10:43] vi4m commented on #2955
Something like this is in our roadmap. We plan to add customfields function in a few places around the system, including accesories.

For now, we use description field to put some information as a workaround.

[2017-02-01 10:44] vi4m commented on #2955
<img width="335" alt="zrzut ekranu 2017-02-01 o 11 41 35" src="https://cloud.githubusercontent.com/assets/552398/22503792/a204498a-e873-11e6-939c-4b269023beb7.png">
<img width="254" alt="zrzut ekranu 2017-02-01 o 11 43 34" src="https://cloud.githubusercontent.com/assets/552398/22503813/bb0abb30-e873-11e6-9c51-5af12d0bf86d.png">

[2017-02-01 10:44] vi4m commented on #2955
it's displayed on top of accesory then <img width="392" alt="zrzut ekranu 2017-02-01 o 11 44 22" src="https://cloud.githubusercontent.com/assets/552398/22503827/cd98bce8-e873-11e6-92bc-e058a3c69e3a.png">

[2017-02-03 17:06] zuniga7 opened #2957 "[Feature Request] Display custom fields along with other machine information in DC Visualization"
I would like to be able to display custom fields in the small panel that lists the service catalog, hostname, model, barcode, sn, etc when I am looking at a particular machine in the DC visualization.

[2017-02-07 00:21] cejojohn commented on #2851
@aogilvie it seems this got fixed somehow. Can you give it a try for now. I had some errors earlier but they were specific to my corporate network. The "docker-compose build" worked on the outside(except I got a git:// failure, but that one has a quick fix).

[2017-02-07 15:51] zuniga7 opened #2958 "[Feature Request] Format Validation for Data Center Asset Fields"
I would like to be able to specify validation formats for the barcode, serial number, and inventory number fields so that they are in the right format when saving or creating a new data center asset.

[2017-02-07 17:10] vi4m commented on #2851
Cool you've fixed it by yourself :-)

[2017-02-07 17:11] #2851 closed, assigned to nobody

[2017-02-14 16:58] defrancesco opened #2960 "Zabbix integration"
using the zabbix integration procedure (by command > ralph cmdb_integration --cmdb_zabbix) the procedure import hosts and trigger but  doesen't correlate the trigger and changes with CIs .

Again importing hosts give an error  hostid  cannot be null, to execute the procedure I need to remove not null constraint on related table

Can you fix please
Contact me for every clarification
Thanks

[2017-02-19 08:42] cejojohn opened #2963 "No Uniqueness checked while creating "server_rooms" and "categories""
I tried with both APIs and GUI, the uniqueness is maintained with "name" of all other objects but not in case of "server_rooms" and asset "categories". We can create "server_rooms" and "categories" with the exact same details.
But rest everything inside Ralph does not allow the "name" to be same, so I thought this could be a bug.

[2017-03-01 15:19] vi4m commented on #2963
@ar4s any ideas?

[2017-03-01 16:19] mkurek commented on #2963
@vi4m We don't have unique property for server room and category - and in my opinion we should create unique for server room on name together with data center (in other words: you could not create server rooms with the same name in one DC).

[2017-03-06 15:43] ziompaul opened #2975 "problem while Ralph 3.0 install"
I have a problem while Ralph 3.0 Initialization.

When I try to type commands: _ralph migrate, ralph sitetree_resync_apps, ralph createsuperuser_, it edns with an error:

What is the problem?

Regards

[2017-03-06 16:06] ar4s commented on #2975
Probably it's problem with ``metrology`` package. @romcheg can you confirm that?

[2017-03-06 16:11] romcheg commented on #2975
@ar4s the only way it could be related to metrology is that metrology or one of its dependencies use FFI and so require libffi to be installed. Since metrology was integrated into Ralph a while ago, I am not sure it is a root cause of the issue. Anyway, @ziompaul could you please verify libffi is installed.

[2017-03-07 08:51] ziompaul commented on #2975
Yes, libffi is installed.
![libffi](https://cloud.githubusercontent.com/assets/26227388/23648571/8e96a8d0-031b-11e7-8cc9-7325bf031eac.PNG)

[2017-03-07 09:20] vi4m commented on #2975
Why we ship metrology  in open source edition? It should be opt-in @romcheg

[2017-03-07 10:43] ziompaul commented on #2975
Always is thesame error, whatever i put with the ralph commad, the error is thesame.
Full:
[code]

[2017-03-07 10:45] mkurek commented on #2975
@ziompaul what OS and in what architecture are you using to install ralph?

[2017-03-07 10:49] ziompaul commented on #2975
It is **Ubuntu Server 14.04.5 LTS** -  _ubuntu-14.04.5-server-amd64.iso_.

[2017-03-07 13:20] vi4m commented on #2975
/opt/ralph/ralph-core/ is not writable for users. If you run it as root it will probably works fine. It seems cffi tries to write to some files in this location.

[2017-03-07 13:21] vi4m commented on #2975
We should think about

a) maintain proper permissions during the installation
b) decide if we should run as root or normal user. Most of the people still uses root account.

[2017-03-07 14:32] ziompaul commented on #2975
OK, there were some difficulties, because by default the root account was not configured during the Ubuntu installation (not known password), login to root by ssh/winscp was blocked, but after I beat the problems, I have installed the Ralph again on root, and then the **inicialization** went good.

[2017-03-07 16:01] ziompaul commented on #2975
Is there a possibility to run the ralphserver in background?

[2017-03-07 18:49] mkurek commented on #2975
If you want to run it temporarily, use screen or something similar. If you want it to be persistent, try [supervisord](http://supervisord.org/index.html) or nginx (and try with gunicorn instead of runserver - runserver should be used only to development: http://docs.gunicorn.org/en/stable/deploy.html)

[2017-03-11 19:28] tjyang opened #2977 "ralph 3.0 admin login info ?"
Hi

I am able to follow the instruction for Ubuntu  and have it runs on CentOS 7.3.

[code]
How can I find out default admin login/password info ?

I tried using phpmyadmin approach and saw there is no default admin user got created in `accounts_ralphuser` table.

![image](https://cloud.githubusercontent.com/assets/378638/23826359/808fd192-0660-11e7-95bb-5beab17c271b.png)

[2017-03-11 19:58] tjyang commented on #2977
Answer to my own question after more reading, following command can init a admin user.

[code]

[2017-03-11 19:58] #2977 closed, assigned to nobody

[2017-03-11 21:27] tjyang opened #2978 "Need help on ralph 3.0 install"
I am testing out ralph3 also a django newbie.
Looks like I missed a step somewhere.
1. web site with only text mode display

![image](https://cloud.githubusercontent.com/assets/378638/23826993/e4e8bfc4-066e-11e7-9f64-674c7310d341.png)

2. the debug log

[code]

[2017-03-12 08:49] tjyang commented on #2978
Looks like I ran into similar issue like this post.
http://stackoverflow.com/questions/24199029/django-cannot-find-static-files-need-a-second-pair-of-eyes-im-going-crazy

[2017-03-12 21:42] vi4m commented on #2978
Which installation method ?

[2017-03-12 23:24] tjyang commented on #2978
@vi4m , Thanks for the response.
I am creating a gdoc to document the whole process of using manual installation on CentOS 7.3.
The URL is here, let me know if you want edit access beside commenting.

https://docs.google.com/document/d/1m-YLNgMwjRrlFPYaq8ITKvzdwDcEiQBOdpMfijyLw6M/edit#

I will  ping you again when the gdoc is ready for your review to ping point what went wrong.

[2017-03-22 21:47] zuniga7 opened #2988 "DC Visualization enhancements"
Hi, I've noticed a couple of things in the DC visualization view that I think can be improved.

- When you click on a rack, the page should scroll to the top so that we can see the rack. This is a problem  when you have to scroll down to click on a rack that is not at the top of the rack list or the visualization.
- The little panel that displays the row/column and the rack of where your mouse is

[2017-04-11 12:26] DracoMilesX opened #3013 "[Question] Running this on docker with an existing MySQL server"
Recently came across this and found out their is a docker image for except it requires to use an docker MySQL server and creating MySQL volumes.

Is their any way to run this with an existing MySQL installation? That I am already hosting on my NAS?
By the looks of it their is no real setup through web interface if I read it correctly?

[2017-04-11 12:52] vi4m commented on #3013
Yes, just point to your mysql server by IP in the settings file

[2017-04-13 11:09] DracoMilesX commented on #3013
Ok thanks for the info will look into it.

[2017-04-21 11:23] Jungle93 opened #3031 "what's version of the django-sidetree the ralph3 use?"
there is the problem ,it is hard for me to download django-sitetree from https://github.com/idlesign/django-sitetree.git@....
could i just modify the requirements file ?
but the new problem  arise ,which version of the django-sitetree the ralph3 use?
wait for a answer

[2017-04-21 11:25] mkurek commented on #3031
@Jungle93 checkout new sources of Ralph - we're not using sitetree pointed to single commit anymore.

[2017-04-21 11:25] Jungle93 commented on #3031
as down load from  github ,is seem's there is a  warnning
Could not find a tag or branch 'a626559c39ff1e865cde3441c44f42864c648dfb', assuming commit.

[2017-04-21 11:28] Jungle93 commented on #3031
@mkurek thanks ,i will check , it is nice for get a answer from the team number.thanks very much

[2017-04-21 11:34] #3031 closed, assigned to nobody

[2017-04-22 04:05] Jungle93 opened #3032 "Some problem when making installation."
Enviroment :
ralph-ng (2017-04-22 13:05:51)
ubuntu 14.04.05
python2.7 python3.4
mysql-server5.5
redies-server2.8.4

builtins.TypeError
TypeError: process() takes 2 positional arguments but 3 were given
Traceback (most recent call last)
File "/usr/local/lib/python3.4/dist-packages/django/contrib/staticfiles/handlers.py", line 63, in __call__
return self.application(environ, start_response)
File "/u

[2017-04-22 05:07] Jungle93 commented on #3032
fix by update requirements/base.txt ====>
modify======> sqlparse==0.2.3

[2017-04-26 06:40] Jungle93 opened #3038 "LDAP Authentication does't work"
As I was integrating the django-ldap auth .There were some problem:
I can fetch some ldap user information from remote server to add local user.but,It seems the password field does't encrypt with right algorithm.
with a django-ldap auth Demo project,there is the record :
===========================================================
CREATE TABLE "auth_user" ("id" integer NOT NULL PRIMARY KEY AUTOINCR

[2017-04-27 07:12] ghost opened #3045 "What is the login password ?"
I am using docker deployment, user name and password are required after the deployment.But I did not see the user name and password information in the docker deployment manual.

[2017-04-27 07:13] mkurek commented on #3045
Hi @Yangsheng93
Try user `ralph` with pass `ralph`

[2017-05-02 12:33] Jungle93 opened #3052 "when make menu, Permission `accounts.can_view_extra_serverroomview` does not exist"
ralph sitetree_resync_apps
Traceback (most recent call last):
  File "/usr/local/lib/python3.4/dist-packages/sitetree/utils.py", line 102, in item
    perm = Permission.objects.get(codename=codename, content_type__app_label=app)
  File "/usr/local/lib/python3.4/dist-packages/django/db/models/manager.py", line 127, in manager_method
    return getattr(self.get_queryset(), name)(*args, **kwargs)
  F

[2017-05-02 12:41] Jungle93 commented on #3052
It has been two weeks from i stuck in this project.what a shit someone make!!!

[2017-05-02 12:53] ar4s commented on #3052
@Jungle93  please try run ``ralph migrate`` before ``ralph sitetree_resync_apps``.
``ralph migrate`` should create missing permission.

[2017-05-02 13:16] bencheikh commented on #1331
hello everyone,
I have the same problem trying to install ralph 2.x , I don't want to use Docker.
Traceback (most recent call last):
  File "/usr/local/bin/ralph", line 5, in <module>
    from pkg_resources import load_entry_point
  File "/usr/lib/python2.7/dist-packages/pkg_resources.py", line 2876, in <module>
    working_set = WorkingSet._build_master()
  File "/usr/lib/python2.7/dist-packages/

[2017-05-03 06:05] Jungle93 commented on #3052
@ar4s
jungle@ubuntu:~/PycharmProjects/ralph$ ralph migrate
Operations to perform:
  Synchronize unmigrated apps: django_rq, notifications, import_export, ralph_admin, foundation, taggit_serializer, rest_framework, messages, table, dc_view, humanize, mptt, staticfiles, permissions
  Apply all migrations: sessions, networks, data_importer, dashboards, deployment, domains, authtoken, auth, taggit, cu

[2017-05-03 06:16] Jungle93 commented on #3052
@ar4s
sorry it is my fault ,
I should try the second way to install
the  command line -->ralph migrate
does't work
-->ralph-dev migrate work
so does
-->ralph-dev sitetree_resync_apps work
but why ?is there any setting of my enviroment wrong?

[2017-05-03 06:17] Jungle93 commented on #3052
@ar4s By the way thank you for your help.

[2017-05-03 11:18] vi4m commented on #3052
Can you join our gitter channel? https://gitter.im/allegro/ralph It's something wrong with your installation, we have to get more details.

[2017-05-03 11:36] roteme13 commented on #2298
Hi,
I'm having the same issue of not able to login with ldap user (ldap_sync worked).
The error I'm getting is:

"Please enter the correct username and password for a staff account. Note that both fields may be case-sensitive."

although all the user flags are correct (is_staff, is_superuser,is_active).

Please advise

[2017-05-03 11:41] vi4m commented on #1331
@bencheikh don't use old version, since we're going to deprecate it in a next few weeks. It just doesn't make sense to migrate to the new version.

[2017-05-03 12:02] bencheikh commented on #1331
@vi4m  thank you for your answer but ralph 3 is not supported on Debian Jessie so what should i do

[2017-05-04 14:28] vi4m opened #3054 "Cannot add dchost, but option presented"
Just after the installation, after the first login to Ralph, an option is presented on empty page of dchosts "Nothing to display. You can add first dc host".

But you cannot add "generic" dchost, so we should hide this link in some way.

![selection_012](https://cloud.githubusercontent.com/assets/552398/25708375/9b1f249e-30e6-11e7-9cb7-32eb69843d3d.png)

[2017-05-08 06:52] mkurek commented on #2298
@roteme13 could you paste here your `AUTH_*` settings?

[2017-05-08 07:05] roteme13 commented on #2298
[code]

That's it.
Thanks

[2017-05-09 07:53] dntosas opened #3059 "Cannot add baseobject"
Good morning,

Output when trying add new baseobject (following previous issue with addhost)

[09/May/2017 09:50:13] "GET /assets/baseobject/?_to_field=id&_popup=1 HTTP/1.1" 200 8418
[09/May/2017 09:50:13] "GET /jsi18n/ HTTP/1.1" 200 2344
Forbidden (Permission denied): /assets/baseobject/add/
[09/May/2017 09:50:14] "GET /assets/baseobject/add/ HTTP/1.1" 403 22
Not Found: /favicon.ico

[2017-05-09 08:10] mkurek commented on #3059
Hi @purplexss . How do you get to this page (`/assets/baseobject/?_to_field=id&_popup=1`)? :)

[2017-05-09 13:46] roteme13 commented on #2298
@mkurek , I tried to physically update my ldap synced user's password in the database (to the local superuser hashed password) and successfully connected. Could the issue be related to password hashing?

[2017-05-10 06:01] mkurek commented on #2298
@roteme13 what to you mean by "successfully connected"? That you've successfully logged into ralph? If yes, issue is still the same - because of the following configuration of authentication backends:

[code]

Django will first try to authenticate you through `LDAPBackend` and, if it fails, try to authenticate you through `ModelBackend` - since your password in DB match the password you passed in

[2017-05-10 07:54] roteme13 commented on #2298
@mkurek, I added the logging and nothing happens when I try to authenticate, just when running ldap_sync.
I also tried running tcpdump on every interface involved in the process and it didn't show any packets to the domain controller.
It seems like the LDAPBackend is entirely not in use.

[2017-05-10 08:52] mkurek commented on #3054
Fixed in #3056

[2017-05-10 08:52] #3054 closed, assigned to nobody

[2017-05-12 21:52] axemann opened #3066 "Cannot install latest on 14.04 fresh install"
Hi all,

I apologize in advance if this was addressed in a previous issue, but for the life of me I can't locate it if it was.

Here's the deal:  I'm trying to do a new install on a clean install of Ubuntu 14.04, and when following the Installation guide, it always returns the following when issuing 'sudo apt-get install ralph-core redis-server mysql-server':
[code]

The system appears to want to

[2017-05-13 15:08] vi4m commented on #3066
Checking

[2017-05-22 14:50] ni-cwinkelmann opened #3077 "LDAP Authentication with OpenLDAP and Ralph3"
Hi there,

before I start to pull my hair off - I should really start to ask for help. So here I am and really thankful for any advice.

## What do I want to archive?
User Authentication using OpenLDAP

## What did I do?
Followed the manual from [here](https://ralph-ng.readthedocs.io/en/latest/installation/configuration/).

### modified ralph.settings.prod.py
    ...
    from ralph.accounts.ldap i

[2017-05-30 12:57] vi4m opened #3084 "Document supported Operating Systems"
As for now we support:

- debian jessie
- ubuntu 14.04
- it's reported to work on ubuntu 16.06, but we should confirm it

The task is to update our official documentation pages to reflect the state.

[2017-05-31 08:13] supaflyster commented on #3077
+1 the same issue.
As workaround, after user is created one of the admins, had to go and manually set Active/Staff/Superuser flags. Also had to set AUTH_LDAP_ALWAYS_UPDATE_USER = False , as flags are disabled again on the next login.

[2017-05-31 08:51] ni-cwinkelmann commented on #3077
I've made a Pull-Request for a solution for me:
https://github.com/allegro/ralph/pull/3080

Now I can setup the Flags using the **AUTH_LDAP_USER_FLAGS_BY_GROUP** parameter of django-auth-ldap:
https://pythonhosted.org/django-auth-ldap/reference.html?highlight=auth_ldap_user_flags_by_group#std:setting-AUTH_LDAP_USER_FLAGS_BY_GROUP

<pre>
# Example
AUTH_LDAP_USER_FLAGS_BY_GROUP = {
    "is_active":

[2017-05-31 20:47] vi4m commented on #3077
Thanks for the contribution @ni-christopher, we're gonna test it and merge it.

[2017-06-12 10:10] ziompaul opened #3089 "Make Ralph working with nginx"
Hi,

I would like to deploy Ralph 3 fulltime working.
Now I have it installed on VmWare, but it works only when I am logged in and set the _ralph runserver_ command. And unfortunately it is unusable for now.

Why cant't it be self fulltime working?
Why should I use nginx to run it  fulltime?

What steps should I to do run Ralph fulltime with nginx?

[2017-06-12 10:27] mkurek commented on #3089
@ziompaul try docker (http://ralph-ng.readthedocs.io/en/latest/installation/installation/#docker-installation-experimental) or [supervisord](http://supervisord.org/index.html) for running Ralph's server (you could check example of supervisor config for Ralph2 - https://github.com/allegro/ralph/blob/develop/contrib/supervisor/ralph_gunicorn.conf - it should be something similar)

[2017-06-13 13:51] ghost opened #3092 "Docker install fails with /root/.nvm/nvm.sh: No such file or directory"
Hi There,

I'm installing on docker using the [basic instructions](http://ralph-ng.readthedocs.io/en/latest/installation/installation/#docker-installation-experimental), and run into this issue on `docker compose build`.

[code]

[code]

I have not changed anything, and cloned the git repo directly

[2017-06-17 09:38] didierm opened #3093 "[SOLVED] Installation on CentOS/RHEL7"
The following procedure documents the minimum set of actions required to install the current release (20170613.1) on a pristine EPEL-enabled EL7, and run ralph as an unprivileged passwordless system user _ralph_ in a **virtualenv/nodeenv** environment with a MariaDB SQL backend instance.

As **_root_** :

[code]

As user **_ralph_** :
[code]

Ralph now runs on the publically accessible http://admi

[2017-06-17 09:40] didierm commented on #3093
TODO :
- create a **systemd** service ;
- RPM package (with upgrade scripting).

[2017-06-18 15:14] vi4m commented on #3093
Thanks for this tutorial !

[2017-06-18 15:15] vi4m commented on #3093
I think we should incorporate it into our docs.

[2017-06-18 21:16] didierm commented on #3093
Be my guest : EL7 is a large ecosystem, lowering the deployment threshold can only accelerate Ralph's adoption rate in the non-Ubuntu/Docker community.

I'm sure more capable people than me can massage this into a decent RPM with proper upgrade scripting et al, making it fit for EPEL/Fedora adoption.

Thanks for Ralph !

[2017-06-19 23:13] vi4m commented on #3059
Basically you should not add base object directly. Just use any of available in menu objects such as virtual server, data center asset and so on.

[2017-06-22 14:13] Silencedpulse opened #3099 "Duplicate Error with Slots"
When duplicating a hardware object that has Slots assigned, this error is displayed:
'MultiForm' has no field named 'slot_no'.
Request Method:	POST
Request URL:	http://X.X.X.X:8000/data_center/datacenterasset/26/multiadd/
Django Version:	1.8.18
Exception Type:	ValueError
Exception Value:
'MultiForm' has no field named 'slot_no'.
Exception Location:	/opt/ralph/ralph-core/lib/python3.4/site-packages

[2017-06-22 17:04] dlasalle commented on #3093
If you guys are interested in creating RPMs for Ralph (and other package formats),  I'm working on system for building Linux packages for multiple distributions using a simplified configuration (https://bytepackager.com) which may be a good option. It's still in the early stages, but creates Arch, CentOS, Fedora, and Ubuntu packages right now, and I'd love to get any feedback or feature requests.

[2017-06-22 19:12] Silencedpulse opened #3101 "Change DC Visualization Object Colors"
We have racks filled from top to bottom and it would be easier if we could assign a color to an object so that when we are looking in the DC view it would look clean and easier to identify objects.

[2017-06-23 14:47] w5t3f commented on #2957
Or some menu to choose what information to show on device visualisation.

[2017-06-23 14:57] w5t3f commented on #2955
@vi4m Maby something like "parent" in hardware. Asset model "cross panel" with given quantity of "parent" fields (12,24,48 according to panel type) named, e.g. port1, port2, port3.... A user would fill the "parent" field with the connected device/port.

[2017-06-23 15:19] w5t3f opened #3102 "Cannot delete user Groups"
Settings -> Groups list
I can't find a way to delete group(s)

[2017-06-23 15:38] w5t3f opened #3103 "Search by "Manufacturer" field"
Search by "Manufacturer" field.
As a separated field or the dual function "Model name" field in filter form.

[2017-06-23 15:47] w5t3f opened #3104 "Add Rack from DC Visualisation doesn't work"
When I try to add a new rack from DC Visualisation I get an error:
Not Found: /api/rack
[23/Jun/2017 17:43:38] "POST /api/rack HTTP/1.1" 404 81389

There is no new rack in the rack list, also when I return to DC Vis./Server Room view

[2017-06-23 19:52] vi4m commented on #3104
Confirmed - to fix

[2017-06-23 19:53] vi4m commented on #3092
@mkurek ?

[2017-06-25 19:43] vi4m commented on #3101
Colors sounds like a good idea. But we have  to think how to set it, because requiring manual color for each device could be inconvenient. Maybe color per Service could be enough?

Speaking about the orientation though, I assume you set this[1] property in order to reverse ordering?

<img width="1303" alt="zrzut ekranu 2017-06-25 o 21 39 04" src="https://user-images.githubusercontent.com/552398/27

[2017-06-28 10:04] pae23 opened #3110 "Rack Max u height > 52"
with a Max u height > 52, the display of the rack in dc_view is broken.

[2017-06-28 10:31] pae23 opened #3111 "Rack holes"
Some gears heights are not integer rack unit : some switches are 1.5 RU and sometimes. Ralph accepts only integers for RU. To tricks, I create rack units per hole (RU * 3) but that's dirty and it break the display in dc_view (I open an other issue for it).

[2017-06-28 13:02] MrEsL commented on #3099
Have the same problem.

[2017-06-28 13:13] MrEsL opened #3112 "Filtering Api requests."
Hello,

is it possible to filter out certain data fields in data-center-assets for example in the api request instead of receiving lots of fields which I do not care about.

For example I would like to receive all hardware devices - barcode,rack,service env,hostname.

[2017-06-28 14:42] vi4m commented on #3112
We use Django Rest Framework - i don't think it allows to do that.

@mkurek any ideas ?

[2017-06-28 19:03] Silencedpulse commented on #3101
I have indeed set the RU order top to bottom so our rack numbers start at the bottom.  But since we have hardware throughout the entire rack, in the DC View it looks like one large green rack so visually it would be nice to select the color of the object so that we could separate devices when viewing the DC.  I don't think setting a color to a service would work for us because we have 3 datacenter

[2017-06-29 05:17] ar4s commented on #3112
Probably GraphQL (http://graphql.org/) is the answer :) @vi4m true, DRF is not enough flexible to do this.

[2017-06-29 08:45] vi4m commented on #3066
Fixed - please update to the latest version.

[2017-06-29 08:45] #3066 closed, assigned to nobody

[2017-06-29 09:50] vollkommenIrrelevant commented on #2957
Furthermore, there is no way to define these fields as mandatory for certain asset classes.

[2017-06-29 23:43] yonelly opened #3113 "Read The Docs github link broken"
https://github.com/allegro/ralph/blob/ng/home/docs/checkouts/readthedocs.org/user_builds/ralph-ng/checkouts/latest/docs/.md

Goes to 404 on github

[2017-06-30 22:54] vi4m commented on #3101
Can you post a screenshot how it looks like?

[2017-06-30 22:56] vi4m commented on #3101
Another idea is to define color for specific hardware category, such as switches for example with 'yellow' color, and rack servers with the blue one (defined somewhere in category settings) - please show your visualization screens to better understand it.

[2017-07-01 02:23] Silencedpulse commented on #3101
The problem with coloring hardware is that many of the devices in the rack are the same hardware.  I'll post a screenshot on Monday.  Since the default color is green, is it possible to be able to select a color instead of using the default?

[2017-07-01 07:46] vi4m commented on #3101
Technically speaking yes, we could also specify color for each device separately, leaving default color

[2017-07-01 17:38] Silencedpulse commented on #3101
That would be ideal.  So once you create your device there'd be an option to select a color.  I don't think many options would be needed just enough to differentiate the devices that are right next to each other.

[2017-07-02 07:02] #3112 closed, assigned to nobody

[2017-07-02 07:02] MrEsL commented on #3112
Thanks for clarifying ;)

[2017-07-03 10:32] roteme13 commented on #2298
@mkurek, Any news regarding this issue?

[2017-07-03 13:13] vi4m commented on #3113
Ok, here's the proper link: http://ralph-ng.readthedocs.io

[2017-07-03 13:14] vi4m commented on #3113
Where does this documentation link come from?

[2017-07-03 18:02] yonelly commented on #3113
![screen shot 2017-07-03 at 11 01 08 am](https://user-images.githubusercontent.com/9511615/27803594-13bdacfa-5fdf-11e7-9eec-c41fceadf3b2.png)

[2017-07-04 19:37] itboxltda opened #3116 "DC Visualization - Edit - Add Rack not Apply"
Adding a new rack in the DC view and applying save does not perform the action and the changes are lost

[2017-07-06 08:25] steph-ben commented on #3093
I would be very interested having RPM release for ralph.

My 2 cents : [fpm ](https://github.com/jordansissel/fpm)is my best friend when building simple RPMs

[2017-07-06 14:49] klikr opened #3119 "API DELETE returns error 401 (unauthorized) if trailing slash is missing"
here's the called URL
[code]

here's whats being returned:

[code]

[2017-07-06 21:13] vi4m commented on #3093
@dlasalle great news ! Did you try to package Ralph ?

[2017-07-07 08:27] klikr commented on #3119
Just to clarify: I logged in using the API token, all other methods (GET, POST, PATCH) are working fine.

[2017-07-07 08:28] klikr commented on #3119
See communincation on gitter: https://gitter.im/allegro/ralph?at=595e3a632723db8d5ee37f70

[2017-07-07 08:31] klikr commented on #3119
adding a trailing slash resolves the problem, but Roman asked me to open up this bug anyway, because the redirect in django might be broken.

[2017-07-12 15:29] w5t3f commented on #3116
Duplicated with #3104

[2017-07-20 14:32] ziompaul commented on #3089
OK, I went back to setup Ralph 3 with docker. I have allready installed **docker** and **docker-compose**. Further instruction is not clear for me...

Some major questions for the begining.

**1.** Where to _copy docker-compose.yml_ configuration file?

**2.** What needs to be changed in copy docker-compose.yml file?

**3.** Do I have to copy somewhere the rest of https://github.com/allegro/ralph/

[2017-07-23 20:30] pireoulepou opened #3122 "Multi langage"
Permets user to select the langage which may be used in ralp user interface:
english, french, deutsch, spanish ...

[2017-07-23 20:59] vi4m commented on #3122
Let's do it 👍

[2017-07-24 20:56] pireoulepou commented on #3122
😊

[2017-07-25 06:36] ar4s commented on #3122
@pireoulepou please update your ralph's instance - from now you can change language at ``http://your.ralph.instance/user_profile``

[2017-07-25 06:36] #3122 closed, assigned to ar4s

[2017-07-25 08:58] ziompaul commented on #3089
Anyone can help with the Docker?

[2017-07-26 14:15] aihuasxy opened #3127 "Where can find the mobile app showed in this video"
In this video https://youtu.be/j_OQxIoCPgw

[2017-07-26 14:17] aihuasxy commented on #3127
In this video https://youtu.be/j_OQxIoCPgw

[2017-07-29 20:28] pireoulepou commented on #3122
Thanks a lot !!!

[2017-07-31 14:37] romcheg opened #3129 "Document change management facilities"
Ralph 3 comes with some handy change management facilities that could potentially facilitate a lot or it administrators' life. However, in order to use them it's now required to dig a little. Those facilities should be documented.

[2017-08-02 13:58] fthommen opened #3131 "Question: Ralph agent for other distros (SuSE, CentOS) and operating systems (Windows, macOS)?"
I read on http://ralph-ng.readthedocs.io/en/latest/installation/installation/, that "We only support Ubuntu 14.04 Trusty distribution on the AMD64 platform."  That seems to be true even for the agent.  I wanted to give Ralph a try, but our environment is 95% openSuSE/CentOS.  Are there plans to support these distros for the agent, too (soon)?

What about Windows and macOS?  An inventory system w/o

[2017-08-02 14:01] fthommen commented on #3131
I have seen #3093, but this issue seems to relate to the server.  I'm only interested in the client/agent and an installation method which allows it to be deployed on 200 nodes.

[2017-08-02 14:20] fthommen opened #3132 "Module 'encodings' missing"
After installing Ralph according to http://ralph-ng.readthedocs.io/en/latest/installation/installation/ on Debian 9.1, a call to `ralph` results in

[code]

Setting `PYTHONHOME` to `/opt/ralph/ralph-core/lib` reduces the error to
[code]

Installed version of ralph-core is  3.0.0-snapshot-20170801-8220

[2017-08-05 23:31] daviddpd opened #3134 "Ralph on FreeBSD-12 (current), TypeError ralph/data_importer/resources.py"
So, I'm working on getting Ralph running natively on FreeBSD ... which I did back in the end of May as a POC/demo, however I didn't take any notes, and it was hacked on over several days.   I've settled on Ralph as our "OpsDB" (DCIM), and wanted to get a cleaner install going.   (We are a hard core FreeBSD shop, and this is python ... so should be able to run anywhere.)

I believe I've gotten past

[2017-08-06 08:24] vi4m commented on #3134
@ar4s @mkurek have we tested ralph with python 3.6 already?

[2017-08-06 08:29] vi4m commented on #3132
We haven't tested ralph on Debian 9.1 yet - thanks for bug report. I guess we should build separate packages from within native debian system, not ubuntu.

[2017-08-06 08:31] vi4m commented on #3131
Agent for linux is here, and it should run on any linux system: https://github.com/allegro/ralph-cli

[2017-08-06 12:25] daviddpd commented on #3134
@vi4m  / @ar4s  / @mkurek  - indeed, it looks like it is a 3.6 vs 3.4 ... wow.  Rarely see things this picky about minor versions.   I believe I'm running the other non-documented setup with 3.5.

Since there are no py34- ports/packages ... the installed directions changed a tiny bit :

[code]
ralph migrate is still running at the moment ... but this looks promising.

(*) I do have a base set of o

[2017-08-06 14:45] vi4m commented on #3134
If you don't want to run in debug mode, the comand which copies all required static files is : `ralph collectstatic`.  It should be then served with nginx/apache. It could be troublesome for some of your not so skilled users, because it requires some (really minimal) nginx/apache setup to serve these static files, though. That's why I'm thinking about 3'rd alternative http://whitenoise.evans.io/en

[2017-08-06 14:50] vi4m opened #3135 "Static files served via whitenoise"
We should test whitenoise integration, to be able to disable debug mode for our users which doesn't want external nginx/apache setup.

http://whitenoise.evans.io/en/stable/

[2017-08-06 20:38] daviddpd commented on #3134
I haven't gotten down to used Ralph much yet, but seems to be functional with my last install directions on FreeBSD,  however, this is still ripped out static files from the DEB package.  I downloaded a package from:
 - https://dl.bintray.com/vi4m/ralph/dists/wheezy/main/binary-amd64/

Then tar'ed up `./opt/ralph/ralph-core/lib/python3.4/site-packages/ralph/admin/static/` and `./opt/ralph/ralph-co

[2017-08-06 20:38] #3134 closed, assigned to nobody

[2017-08-06 20:49] daviddpd opened #3136 "REMOTE_USER Authentication"
I'm using a SSO system (I'm not yet attached to), but is pretty lightweight, and authenticates against LDAP.  I'm working towards this being the only sign-on screen, and even though user/password could be achieved via the Ralph login screen ... the ideal is to bypass it.
I'm using

 - https://neon1.net/mod_auth_pubtkt/index.html

And with apache doing the reverse proxy, there is really no need to

[2017-08-07 05:24] mkurek commented on #3136
Hi @daviddpd . If you want to setup ralph directly with ldap follow the guide here: http://ralph-ng.readthedocs.io/en/latest/installation/configuration/#ldap-authentication

What customization do you mean? Could you point the place in our repo?

[2017-08-07 05:32] daviddpd commented on #3136
I honestly don't know, that is why I was asking - is there something overriding the bypass of the internal Ralph auth screen?  It wasn't working as a reverse proxy  with the development server ... then it dawned on me, that this option may only work in production mode, running via wsgi ...

So I'm working on trying that now ...however, ap24-mod_wsgi4 in my ports was linked/compiled with python 2.7

[2017-08-07 05:44] mkurek commented on #3136
Try first by removing `django.contrib.auth.middleware.SessionAuthenticationMiddleware` from `MIDDLEWARE_CLASSES` (or put `django.contrib.auth.middleware.RemoteUserMiddleware` directly in this place)

[2017-08-07 09:10] vi4m commented on #3052
Everything works now? Can we close this?

[2017-08-07 09:10] #3045 closed, assigned to nobody

[2017-08-07 09:11] #3013 closed, assigned to nobody

[2017-08-07 17:52] fthommen commented on #3131
Great.  However I can't find a reference to it in the documentation (http://ralph-ng.readthedocs.io/en/latest/installation/installation/).  Maybe a section about client-only installations could be added to it?

[2017-08-07 18:33] daviddpd commented on #3136
Thank you @mkurek  - that seems to have done the trick ... will post a blog/readme docs on the full setup with freebsd+apache+mod_wsgi-py34 for ralph in the next couple days.

[2017-08-07 18:33] #3136 closed, assigned to nobody

[2017-08-07 18:54] vi4m commented on #3131
Good idea!

[2017-08-07 18:55] vi4m commented on #3131
We used to have this here [see screen] on our docs, but I think we should include it under installation as well

<img width="316" alt="zrzut ekranu 2017-08-07 o 20 54 05" src="https://user-images.githubusercontent.com/552398/29041341-c76cd926-7bb2-11e7-986e-13bd8b4fcd48.png">

[2017-08-08 01:02] #3052 closed, assigned to nobody

[2017-08-09 05:11] wrouesnel opened #3137 "Audit logging?"
Is it possible to have Ralph record an audit log of *all* changes made to stored data by different parts of the system, be they Ralph processes (i.e. scanning) or users?

In our deployment we have a requirement to track the history of modifications, and need a way to do that. Could some like https://github.com/Atomidata/django-audit-log be integrated?

[2017-08-09 08:40] vi4m commented on #3137
Any object, which is recorded in ralph have history built-in, which is auditable.
Furthermore, you can revert any object to the particulary history snapshot, at time.

<img width="958" alt="zrzut ekranu 2017-08-09 o 09 54 44" src="https://user-images.githubusercontent.com/552398/29112758-1e6e6248-7cef-11e7-976c-81aac0a88965.png">

http://ralph-demo.allegro.tech/data_center/datacenterasset/12544/hi

[2017-08-09 12:05] wrouesnel commented on #3137
That would solve it entirely!

[2017-08-09 12:05] #3137 closed, assigned to nobody

[2017-08-09 12:11] fthommen commented on #3132
The intrinsic question is: How can one fix this?  I cannot even start 'pip' or 'easy_install' to install this module, as they fail with the same error.

[2017-08-09 14:12] vi4m commented on #3132
I think you should uninstall this debian package, and try with:

* manual installation,
* or install using Docker
* or stick to supported distro run on Ubuntu / earlier Debian in VM

- until native support for debian 9.1 land. The problem is with completely different version (3.4) boundled from Ubuntu 14, and maybe other system libraries.

[2017-08-09 15:40] fthommen commented on #3132
OK, but I could not find the "encodings" module for separate installation.  And then most manual installations require a "python setup.py", which leads to a bootstrap problem, as Ralph's `python` per se refuses to run.  Docker is not an option either, as our virtualization platform doesn't support containers ( :-( ).  We'll - forcibly - live with Ubuntu for the time being.  However a Debian or - e

[2017-08-09 16:17] fthommen commented on #3131
Thanks, but I am still at a loss. I expected some kind of agent, which is locally installed and gathers asset data (software versions, hardware information) and periodically sends it to the Ralph server.  Instead, ralph-cli seems to be a tool to be run on the Ralph server and which connects to the client hosts through the management port (which is not possible at our site anyway) to scan only hard

[2017-08-09 21:48] vi4m commented on #3131
You got this right - we don't ship "agent" which is run on hosts all the time.
We use combination of: ralph-cli for hardware identification (when installing HW in the DC), and puppet as an agent for software/os discovery. We don't ship our puppet scripts because they are specific for our use cases. We left Raph open for external API client / agents.

[2017-08-10 08:53] vi4m commented on #3132
If you want flexibility, just use "manual installation" as below -

<img width="974" alt="zrzut ekranu 2017-08-10 o 10 52 51" src="https://user-images.githubusercontent.com/552398/29162577-26c697b4-7dba-11e7-87c5-f405e6a5ceb4.png">

[2017-08-10 08:54] vi4m commented on #3132
On clean system, you can just create virtualenv by yourself (virtualenv /opt/ralph-core), activate it (source /opt/ralph-core/bin/activate) and after git clone https://github.com/allegro/ralph.git, issue "make install" and other , as above in picture.

[2017-08-10 09:40] fthommen commented on #3132
Thanks a lot.  I will give it a try

[2017-08-10 09:48] fthommen commented on #3131
I see :-)

Re **Software**: That means if I want to inventorize the software on our hosts, then I'd have to write my own client using the Ralph API to feed the data into Ralph?  This would rule out Ralph for us, as we don't have the resources to do this.  Puppet wouldn't help either, as we use ansible, not puppet for our configuration management.

Re **Hardware**: ralph-cli seems to require manage

[2017-08-10 13:10] vi4m commented on #3131
Yes, to have working discovery you will likely have to write API client, or use 3rd -party plugins, such as http://fusioninventory.org. I talked with the guys behind the fusioninventory project, and I see oportunity to make fusioninventory <-> ralph integration

[2017-08-14 05:59] wrouesnel opened #3138 "bower is deprecated"
When building ralph-ng these days, bower is now throwing a deprecation warning that it is expected to be replaced by Yarn:
[code]

[2017-08-14 06:10] ar4s commented on #3138
Thanks for reporting! We know about this problem with bower. Probably we going to install frontend' packages via ``npm``.

[2017-08-14 12:56] fthommen commented on #3131
ok.  Thanks a lot for the explanations.  We will keep an eye on Ralph, as it is seems very promising.  I specially liked the modern layout and the built-in rack management.  However w/o a more or less "out-of-the-box" hard- and software inventory possibility (_not_ using ilo/idrac/BMC & Co.) it is not an option for us.  Fusioninventory seems be a good choice.  I have successfully used it together

[2017-08-14 12:56] #3131 closed, assigned to nobody

[2017-08-15 03:07] wrouesnel opened #3141 "Missing javascript dependencies"
After installing the `ng` branch from source, the UI seems mostly functional but there's a bunch of missing javascript dependencies which are not under any of the static asset paths:

GET https://22.0.0.2/static/admin/js/core.js
(index):1969 GET https://22.0.0.2/static/admin/js/related-widget-wrapper.js 404 (Not Found)
(index):1972 GET https://22.0.0.2/static/admin/js/jquery.js
(index):1973 GET ht

[2017-08-15 03:09] wrouesnel commented on #3141
...initially I thought these were development dependencies, but now I'm not so sure. I'm definitely having an issue with django.jQuery not being an object on load when building from HEAD.

[2017-08-15 07:06] wrouesnel commented on #3141
`ralph collectstatic` was the operation I was missing for hosting Ralph with nginx and uwsgi. Solved.

[2017-08-15 07:06] #3141 closed, assigned to nobody

[2017-08-16 04:06] wrouesnel opened #3142 "Location field for data center model"
It would be useful to have a location field for the data centre type - specifically, a freeform address field (12 Fake St, Somecity Etc) and a Long/Latitude field (to facilitate visualization via Google Maps or something similar).

As it is, just the name of a data centre doesn't quite work since you generally want to use whatever the office colloquialism is for that location, but for presentation

[2017-08-17 07:17] wrouesnel opened #3143 "min_ip, max_ip fields erroring despite being specified via JSON REST API"
As of commit 4794c4c04fced29b397b58a7689ff725c20ff6bd I'm having a problem where the JSON rest API won't let me create networks - https://22.0.0.2/api/networks/ (docker container instance of Ralph)
a request sent to
[code]
produces the following result:
[code]

This seems to be a known issue with Django REST API, and is possibly a result of min_ip and max_ip being set as non-editable in the model?

[2017-08-18 02:05] wrouesnel commented on #3143
Traced this down a little - I can remediate by setting the min_ip and max_ip fields to be editable in the `network.py` model file - whatever I try to set is ignored (but still required to be present) but the code actually gets to the save handler now (which is where the override happens).

[2017-08-18 03:06] wrouesnel commented on #3143
Found it - the problem is here:
https://github.com/allegro/ralph/blob/4794c4c04fced29b397b58a7689ff725c20ff6bd/src/ralph/networks/models/networks.py#L400

The `unique_together` constraint enforces a `required` constraint for all its arguments on any attached serializer (see here: http://www.django-rest-framework.org/api-guide/validators/#uniquetogethervalidator).

[2017-08-21 07:31] ziompaul opened #3145 "Multiadd error"
I have discovered some error while **multiadding blade servers** as a hardware which should be a part of **Blade center**.

Error: [http://xsnippet.org/362710/](http://xsnippet.org/362710/)

I think the error appears when the **Slot nmber** form od blade server is not empty. It can not be empty, because _Slot number is required when asset is blade_.

[2017-08-21 21:22] vi4m commented on #3145
Thanks, checking it.

[2017-08-22 12:41] willemvandamme opened #3146 "accessories allignment"
Is there a possibility to add vertical rack accessories, like PDU mounted vertically? or vertical cable management?
Or is this on the roadmap anywhere?

[2017-08-30 07:08] w5t3f opened #3151 "A child location info (rack etc.) inherited from a parent"
It will be very useful feature if setting a "parent" field in a part or device cause automatic inheritance the location info (rack etc.) from the parent.

[2017-08-30 12:55] grzegor opened #3152 "Hardcoded "http://" breaks SSL reverse proxy - should be protocol agnostic"
I'm hosting ralph in the cloud and I'm securing it with OAuth2 reverse proxy +SSL (https://github.com/bitly/oauth2_proxy). OAuth2 part works great, the SSL not so much. I have to do it over plain http because even though ralph seems to not mind the sudden port change, he insists on generating http:// links every time I try to update anything (even after visiting via https:// which kinda works - me

[2017-08-30 13:05] ar4s commented on #3152
@grzegor please add ``SECURE_PROXY_SSL_HEADER = ('HTTP_X_FORWARDED_PROTO', 'https')`` to your configuration and restart Ralph's instance and after that please give me feedback.

[2017-08-30 13:33] grzegor commented on #3152
@ar4s If by "your configuration" you mean
`/opt/ralph/ralph-core/lib/python3.4/site-packages/django/conf/global_settings.py`
then sadly there is no change

[2017-08-30 14:28] grzegor commented on #3152
BTW my system:
[code]
I'm using snapshot package from 3 days ago because latest 2 won't install.

[2017-08-30 20:49] rauf547 commented on #2298
Hi,
I'm also having the same issue of not able to login with ldap user (ldap_sync worked) in ralph3. Any news of this issue?

[2017-08-31 17:29] vi4m commented on #3152
@ar4s why our latest builds failed?

[2017-09-01 03:48] fidotas opened #3153 "REST API doesn't allow virtual servers to specify a service environment as a hypervisor"
Through the web interface it is possible to specify a service environment as the hypervisor for a virtual server asset. However when you attempt the same via the REST API it restricts you to using objects of type data-center-asset.

I fixed this by hand by importing the base object model into the head of src/ralph/virtual/api.py.

Then in the VirtualServerSaveSerializer class definition changed th

[2017-09-01 18:44] itboxltda opened #3154 "error post install package ralph-core 3.0.0-snapshot-20170901-8287 amd64"
S.O: ubuntu 14.04.1
ralph: ralph-core/wheezy,now 3.0.0-snapshot-20170901-8287 amd64

error:
[code]

[2017-09-01 19:12] vi4m commented on #3154
We're working on it.
In meantime, you can revert to older versions with apt-get

[2017-09-01 19:34] vi4m commented on #3154
I've removed broken builds (~ 7 days ago) and paused cron jobs, so it should be possible to downgrade

[2017-09-02 03:14] itboxltda commented on #3154
the fixed error is:

[code]

this way install statsd 3.2.1

[2017-09-02 08:56] vi4m commented on #3154
statsd should be optional #3155 - work here

[2017-09-02 09:44] banym opened #3156 "Error setting up development environment using vagrant"
Tried to setup the development environment using Vagrant on a Mac with VirtualBox.
It fails on when it comes to database initialisation with the following error message:

[code]

[2017-09-04 10:16] mkurek commented on #3153
This is UI bug - you shouldn't assign service-env as parent to VM.

[2017-09-04 13:16] ziompaul opened #3157 "No module named 'ralph.account'"
After success with importing users by LDAP, there is an error with importing Active Directory group with configuration:

[code]

The LDAP error in SSH after ralph ldap_sync is:

[code]

I see that I am not one and only who saw this error.
Ralph 3 is installed from Linux repository on Ubuntu 14.04.

Does this function import and maps AD grup to Ralph Group section only?
or it imports Users from AD

[2017-09-04 21:15] pierlon opened #3158 "Docker image size"
The Docker image seems a bit bloated (latest tag '3.0.0-snapshot-20170901-8287' at 929 MB). After the ralph binary is installed, it doesn't seem the source files are needed afterward (with some minor exceptions). The main contribution to the image size is the 'node_modules' folder. The Dockerfile can also be optimized to further reduce the size.

The docker compose template seems outdated as well.

[2017-09-04 22:36] grzegor commented on #3158
It seems that it's already planned, see #1913
Octodocker is some sort of product maintainers in-house proprietary merge decision aiding tool from what I understand (there is a presentation in polish by @mkurek and @szok, but the slides are in english so maybe you'll get a rough idea: https://www.youtube.com/watch?v=lUvmKObrIMY ).

[2017-09-04 23:30] pierlon commented on #3158
@grzegor thanks for the clarification.

[2017-09-04 23:30] #3158 closed, assigned to nobody

[2017-09-04 23:31] pierlon commented on #1913
Is there any update on this? Would love to help out.

[2017-09-06 14:43] vi4m commented on #1913
I think it’s still in todo state - any help really appreciated!. @romcheg any news about it ?

[2017-09-06 14:48] vi4m commented on #1913
I think we need improvements in Ci/CD script which will build deb package on a separate OS such as Debian, Ubuntu etc. Then testing the  installation of package - maybe even inside the Docker. We can then reuse this Docket as a official and fully supported way of installation integrated with CI

[2017-09-14 08:23] klikr opened #3163 "addressing custom fields by name doesn't work"
URL:  https://ralph.my.domain/api/virtual-servers/93/customfields/my_lastack/
    Method: PATCH
    Body: {"value":  "someone@2017-09-12"}

returns

    The remote server returned an error: (404) Not Found
    Respns: {"detail":"Not found."}

Also:

    URL:    https://ralph.my.domain/api/virtual-servers/93/customfields/
    Method: PATCH
    Body:   {"custom_field":  "my_lastack", "value":  "some

[2017-09-14 08:29] mkurek commented on #3163
None of these would work and it's not a bug.

In first approach you cannot identify custom field by name (attribute_name) - use id instead, ex. `https://ralph.my.domain/api/virtual-servers/93/customfields/1234/`.

In second, PATCH is method used on specific object, not on list of objects - POST would be appropriate here.

[2017-09-14 08:33] klikr commented on #3163
OK, so docs are probably not OK
https://ralph-ng.readthedocs.io/en/latest/user/custom_fields/#changing-custom-fields
says

[2017-09-14 08:40] vi4m commented on #3163
Aren't we incosistent in this case? We return customfield "name" when read, but expect customfield `id` when writting to it?

[2017-09-26 08:32] Chefkeks commented on #2297
Any news/updates/plans about this feature request?

[2017-09-29 07:39] #1556 closed, assigned to nobody

[2017-09-29 07:40] #1662 closed, assigned to nobody

[2017-09-29 07:44] ar4s commented on #1791
Done

[2017-09-29 07:44] #1791 closed, assigned to nobody

[2017-10-11 22:23] arwinters commented on #3156
I have the exact problem. Tried to reinstall and reproduce te problem. I also use vagrant on a mac, but the mac is not the problem. The problem is in the file  "/home/ubuntu/ralph/src/ralph/settings/local.py", which causes the provisioning of the vagrant vm to fail. The class ralph cannot be found in module  ralph.settings.dev

  File "/home/ubuntu/ralph/src/ralph/settings/local.py", line 1, in <m

[2017-10-12 10:52] #3113 closed, assigned to nobody

[2017-10-12 10:54] ar4s commented on #3102
@w5t3f you can delete each group separately e.g. http://ralph-demo.allegro.tech/auth/group/4/ you have delete button

[2017-10-12 11:00] vi4m commented on #3146
@ar4s provide more information what to do with this.

[2017-10-12 11:06] #3059 closed, assigned to nobody

[2017-10-12 11:07] #2454 closed, assigned to nobody

[2017-10-12 11:08] #3102 closed, assigned to nobody

[2017-10-12 11:12] ar4s commented on #2955
related with #2957

[2017-10-12 11:13] mkurek commented on #2958
This validator should be optional (to keep backward compatibility) and should be configurable in Ralph (Django) settings. Then it should be injected into barcode/sn/niw field in model (https://github.com/allegro/ralph/blob/ng/src/ralph/assets/models/assets.py#L368-L389 ) as a validator (https://docs.djangoproject.com/en/1.8/ref/validators/)

[2017-10-12 11:16] mkurek commented on #2957
Things to do:
1. expose custom fields in visualisation api - add it to visualisation serializers: https://github.com/allegro/ralph/blob/ng/src/ralph/dc_view/serializers/models_serializer.py (use https://github.com/allegro/ralph/blob/ng/src/ralph/lib/custom_fields/api/serializers.py#L113 )
2. Show them in UI:
 - add next row with custom fields exposed in visualisation api here -> https://github.com

[2017-10-12 11:17] mkurek commented on #3142
This field should be added here: https://github.com/allegro/ralph/blob/ng/src/ralph/data_center/models/physical.py#L104

[2017-10-12 11:18] mkurek commented on #3151
Validate first if this piece of code works: https://github.com/allegro/ralph/blob/ng/src/ralph/data_center/models/physical.py#L473-L486

[2017-10-12 11:21] mkurek commented on #3145
Places to check:
* https://github.com/allegro/ralph/blob/ng/src/ralph/admin/views/multiadd.py
* https://github.com/allegro/ralph/blob/ng/src/ralph/data_center/admin.py#L378

[2017-10-12 11:26] mkurek commented on #1653
`CSVReportMixin` should be mixed to the rest of reports: https://github.com/allegro/ralph/blob/ng/src/ralph/reports/views.py#L38

[2017-10-12 11:27] mkurek commented on #3099
Possibly duplicate of #3145

[2017-10-12 11:28] mkurek commented on #3103
This filter should be added to DataCenterAsset and BackOfficeAsset admin.

[2017-10-12 11:30] #3116 closed, assigned to ar4s

[2017-10-12 11:33] ar4s commented on #3138
1. `package.json` instead of `bower.json`
2. requires some changes in `gulpfile.js` (`bower_components` -> `.node_modules`)
3. yarn or npm

[2017-10-12 11:40] mkurek commented on #2866
Custom fields are using django's content types, so it should be easy to do this.

Things to do:
1. use `CustomFieldMeta` (like here: https://github.com/allegro/ralph/blob/615d68bf64ac1e7735fd30d101d6dd8781155ec0/src/ralph/assets/models/configuration.py#L17-L19)
2. inherit from `WithCustomFieldsMixin` (like here: https://github.com/allegro/ralph/blob/615d68bf64ac1e7735fd30d101d6dd8781155ec0/src/ral

[2017-10-12 11:40] ar4s commented on #3135
1. whitenoise instead of django's static files server method

[2017-10-12 11:49] ar4s commented on #1806
1. delete https://github.com/allegro/ralph/blob/ng/src/ralph/admin/static/elements/badge-input.html#L74-L82
2. (optional) replace edit with preview in a modal
3. add some information about server error (50x, 40x)

[2017-10-12 11:53] ar4s commented on #2237
1. add timeout

[2017-10-16 08:57] yuvald opened #3181 "Can not login to demo at http://ralph-demo.allegro.tech/login/?next=/"
using live-demo
https://github.com/allegro/ralph#live-demo

[2017-10-16 09:29] ar4s commented on #3181
Solved

[2017-10-16 09:29] #3181 closed, assigned to nobody

[2017-10-16 10:02] yuvald commented on #3181
Thanks !!

[2017-10-19 09:51] milestone702 opened #3182 "how to translate ?"
I'm a new user in China, My teamworker don't not familiar with English ,I want to translate this project ,but I don't know how to translate , please tell me, thank you all

[2017-10-19 21:10] mir5 opened #3183 "How to add picture for hardware"
Hi
How can i add a picture for hardware in Rack view?

[2017-10-19 21:11] #3183 closed, assigned to nobody

[2017-10-20 12:47] vi4m commented on #3182
Join transifex.com - then  find Ralph project. Find "NG" branch for translation.
![zrzut ekranu 2017-10-20 o 14 44 23](https://user-images.githubusercontent.com/552398/31821475-89734fba-b5a5-11e7-8fd9-8c78fd8da270.png)

[2017-10-23 20:33] smereczynski commented on #3156
Same for me.

[2017-10-24 06:20] ar4s commented on #3156
@smereczynski @banym @arwinters please pull last changes from ng branch and try again with vagrant

[2017-10-24 08:49] smereczynski commented on #3156
It goes ahead but failing on NPM installs:

==> default: optional
==> default:  SKIPPING OPTIONAL DEPENDENCY: string_decoder@1.0.3 (node_modules/gulp-watch/node_modules/string_decoder):
==> default: npm
==> default:
==> default: WARN
==> default:
==> default: rofs
==> default:  SKIPPING OPTIONAL DEPENDENCY: EROFS: read-only file system, mkdir '/home/ubuntu/ralph/node_modules/.staging/string_decode

[2017-10-24 09:11] ar4s commented on #3156
@smereczynski you run vagrant on windows?

[2017-10-24 09:18] smereczynski commented on #3156
@ar4s nope. OSX. I'm going to try on Windows in minutes. ANy hint why it could fail on OSX?

[2017-10-24 09:21] smereczynski commented on #3156
P.S. how it is with Ubuntu version? Documentation says that only 14.04 is currently supported. Vagrant is deploying 16.04 (as it is in vagrantfile).

[2017-10-24 09:31] ar4s commented on #3156
@smereczynski my mistake.. host's OS it's irrelevant in this situation.. Ralph's official deb is only supported for 14.04.

[2017-10-24 09:35] smereczynski commented on #3156
ok, will test it with 14.04 ;)

[2017-10-24 09:59] smereczynski commented on #3156
It is not working out of box after Ubintu version change in Vagrantfile.

https://gist.github.com/smereczynski/ccc5300478c2f968b62898339519f74e

[2017-10-24 10:30] smereczynski commented on #3156
It works on 14.04 installed with deb packages.

[2017-11-07 06:30] Shroog-Hassan opened #3185 "problem to start run Ralph 3"
well, i'm stuck in start Ralph 3 and I read all issues related to my problem but nothing it works!
after run `ralph migrate` only I see its wall of errors ??

i need your help thank you

[2017-11-07 06:36] mkurek commented on #3185
Hi @Shroog-Hassan - could you paste here the errors?

[2017-11-08 07:32] Shroog-Hassan commented on #3185
`/opt/ralph/ralph-core/lib/python3.4/site-packages/django/contrib/contenttypes/models.py:161: RemovedInDjango19Warning: Model class django.contrib.contenttypes.models.ContentType doesn't declare an explicit app_label and either isn't in an application in INSTALLED_APPS or else was imported before its application was loaded. This will no longer be supported in Django 1.9.
  class ContentType(models

[2017-11-10 17:52] CesarMedinaA opened #3187 "Problem with the database_host"
Hello

I want to show the Ralph browser on a PC, so I have to connect the server with this PC. I modified the database host like this:

But when I check on ralph shell, I have the localhost 127.0.0.1 again:

So, I can't change the host? or What can I do to display the browser in another PC?

Thanks a lot

[2017-11-12 07:14] Shroog-Hassan commented on #3185
please can you help me out

[2017-11-13 11:35] akurach commented on #3132
same on
[code]

[2017-11-14 00:11] Chewie9999 commented on #2237
Hi everyone, this is still a problem with the "jessie" version I have installed today

[2017-11-17 21:28] #3187 closed, assigned to nobody

[2017-11-17 23:53] vi4m commented on #3185
Can't connect to the database - make sure it's running.

[2017-11-17 23:55] #3154 closed, assigned to nobody

[2017-11-23 07:43] Phhere opened #3190 "Feature: Aggregate fields per Rack"
Hello,
we are using Ralph for some Rack planing and it would be quiet helpful to be able to aggregate fields and custom fields of all devices in a rack.
It would be nice to see this in DC View, to see how much power or network ports are required.

[2017-11-24 12:43] Phhere opened #3191 "Package for Debian 9"
Hello,
it would be great to have packages for Debain 9 and not just wheezy and jessie.

[2017-12-12 11:03] z2z commented on #3132
Having same issue on ubuntu 16.04.03 LTS, wanted to quickly setup and run.

@fthommen @vi4m

Please  add guide how to install on clean system.

[2017-12-15 08:45] ar4s opened #3195 "Remove node-sass from dependencies"
node-sass is a problematic package for example there is an error (during build travis and after update trusty image):

[code]

Solution: django-compressor with libsass

[2017-12-21 08:35] cosmo222 opened #3202 "Ralph with apache2 or nginx"
Hi,
I'm testing ralph and wondering if it can run with apache or nginx, this system will cover all of my needs but I don want to use build in webserver.
I don't want to use docker if it will be one of Yours suggestions.

Best Regards,
Matthew

[2018-01-04 17:57] vi4m commented on #2237
@ar4s confirmed on master?

[2018-01-06 23:33] Chewie9999 commented on #2264
+1. Also It would be nice to add photos to the "model" record, eg generic stock photos for things

[2018-01-10 09:18] Pawel-Panek opened #3208 "dates in Operations"
I searched through Github issues and can't find any other reports that relate to operations management.

The dates: Created, Updated, Resolved in Operations are never updated and can't be edited. The Operation filtering by dates isn't working because they are not set. It works when `readonly` property is removed and date is input manually in form YYYY-MM-DD hh:mm:ss.
Check demo site to find out ht

[2018-01-10 12:53] ar4s commented on #3208
We will add some settings to enabled this fields.

[2018-01-11 14:38] rnldnkp commented on #2941
@vi4m I was wondering, did the hacktoberfest work out? I'm still looking for a way to autogenerate a barcode and force it being unique (or just grey it out, using the auto generated one)

[2018-01-12 13:28] Chewie9999 opened #3210 "Feature Request: Allow more/custom imagery for Rack Accessories"
At the moment, there are only basic images for Rack Accessories.
Either a number of square ports (depending on browser width) or a stippled effect for cable management.
It would be good if other images were available, or as new Rack Accessories are able to be created by the user, a way of uploading images for use so they give a more representative view.
Examples I would like to see:
- PDUs (eg, UK

[2018-01-12 16:00] thevops opened #3211 "Components scanner"
It would be nice if that scanner could gather information (disk, RAM, processor, ethernets, etc) from machine and push it to Ralph API or just save it to json file.

[2018-01-13 20:48] vi4m commented on #3211
Did you try http://ralph-cli.readthedocs.io/en/latest/quickstart/#running-scan-scripts ?

[2018-01-17 02:41] nvdacsheets opened #3212 "Add support for connecting to MySQL over SSL"
In case security is required between the application and the MySQL server, it should be possible to connect to MySQL over SSL.

[2018-01-17 03:02] nvdacsheets commented on #3212
I've submitted #3213 as one way to fix this.

[2018-01-17 03:21] nvdacsheets commented on #2237
Appending `/password` to the user URL can serve as a workaround for this issue.

[2018-01-17 04:19] lowang-bh opened #3214 "Table 'ralph_ng.transitions_transition' doesn't exist"
I  met the error" default: django.db.utils.ProgrammingError: (1146, "Table 'ralph_ng.transitions_transition' doesn't exist") ". I think it is because there are no such tables when newly install ralph3 develop environment but ralph3 try to migrate them(from ralph2).

[2018-01-17 04:26] lowang-bh opened #3215 "no write access to /home/ubuntu when vm_user = "ubuntu" in Vagrantfile"
-    vm_user = "ubuntu"
+    vm_user = "vagrant"
If vm_user is "ubuntu", then VM_USER=${VM_USER:-ubuntu} will be ubuntu, but the login user is vagrant actually when setup the develop environment. This will cause no write access to /home/ubuntu with login user of vagrant. Change it to "vagrant" it  recover from error.

[2018-01-18 03:39] lowang-bh opened #3216 "Table 'ralph_ng.transitions_transition' doesn't exist"
when I follow the document to setup a develop environment, I met the error" default: django.db.utils.ProgrammingError: (1146, "Table 'ralph_ng.transitions_transition' doesn't exist") ". I think it is because there are no such tables when newly install ralph3 develop environment but ralph3 try to migrate them(from ralph2). I am on mac and have download the default box manually which will  be used i

[2018-01-18 03:43] lowang-bh commented on #3216
default: Installation of Ralph and its dependencies succeeded.
    default: Starting configuration of the database.
    default: /home/vagrant/venv/lib/python3.5/site-packages/django/contrib/contenttypes/models.py:159: RemovedInDjango19Warning: Model class django.contrib.contenttypes.models.ContentType doesn't declare an explicit app_label and either isn't in an application in INSTALLED_APPS or el

[2018-01-18 03:45] lowang-bh opened #3217 "no write access to /home/ubuntu when vm_user = "ubuntu" in Vagrantfile"
vm_user = "ubuntu"  -->
vm_user = "vagrant"
If vm_user is "ubuntu", then VM_USER=${VM_USER:-ubuntu} will be ubuntu, but the login user is vagrant actually when setup the develop environment. This will cause no write access to /home/ubuntu with login user of vagrant. Change it to "vagrant" it recover from error.

[2018-01-19 09:10] rcsheets commented on #3217
This appears to be a duplicate of #3215

[2018-01-19 09:12] rcsheets commented on #3214
#3216 seems to be a duplicate of this issue, but this issue has less information. I suggest closing this issue.

[2018-01-20 02:07] lowang-bh commented on #3214
same with#3216,close it

[2018-01-20 02:07] #3214 closed, assigned to nobody

[2018-01-20 02:10] lowang-bh commented on #3217
same as #32145, close it.

[2018-01-20 02:10] #3217 closed, assigned to nobody

[2018-01-20 02:19] lowang-bh commented on #3216
I found the issue in **ralph/src/ralph/lib/transitions/checks.py, line 48:** it try to check transitions app but the table hasn't been created yet when check the transitions app. I think it should check if Transition table is there when do that.

**The root cause: Transition module try to inquiry the table before it was created when migrate.**
transitions_with_custom_templates = Transition.objects

[2018-01-20 02:22] lowang-bh commented on #3216
closed it by error operation, reopen it.

[2018-01-20 06:36] rcsheets commented on #3215
I believe I've reproduced this issue. The following `vagrant up` output seems relevant:

    default: Collecting virtualenv
    default:   Downloading virtualenv-15.1.0-py2.py3-none-any.whl (1.8MB)
    default: Installing collected packages: virtualenv
    default: Successfully installed virtualenv-15.1.0
    default: Already using interpreter /usr/bin/python3
    default: Using base prefix '/usr'

[2018-01-20 07:39] rcsheets commented on #3216
Confirmed. I also see `django.db.utils.ProgrammingError: (1146, "Table 'ralph_ng.transitions_transition' doesn't exist")` at the end of the output of `vagrant up`.

[2018-01-20 08:29] lowang-bh commented on #3216
yes,  I have added a judgment of Transitions temporarily, after that , I also changed the dev.txt in which "https://github.com/django-debug-toolbar/django-debug-toolbar.git@0ed1538374d3dc41d51fc562b4e8be6ce8208552" can not be found
[code]

If there is **an error about importError  when "from django.utils.deprecation import MiddlewareMixin"**, that's because django 1.8 and 1.9 don't have this modul

[2018-01-20 08:40] rcsheets commented on #3216
It will be much easier to read the diff in your comment if you indent each line with four spaces.

    Then it will be formatted like this.

This will aid in reproducing your changes.

[2018-01-22 08:36] lowang-bh commented on #3216
about the error "**ralph_ng.transitions_transition' doesn't exist**", I have fixed it temporarily.

It just just add a judgement  if Transition table exists or not before  this code:
`transitions_with_custom_templates = Transition.objects.exclude( template_name__in=excluded_templates )`

If there is a warning colored with red  in the output, please ignore it.(I had ever changed the git and cause a

[2018-01-22 18:47] vi4m commented on #3216
@ar4s any ideas?

[2018-01-22 19:17] ar4s commented on #3216
@lowang-bh @rcsheets #3200 should fix this issue. Please checkout yours code to ``ng`` branch and try again.

[2018-01-22 19:26] ar4s commented on #3216
@lowang-bh I added your changes to ``dev.txt`` with fixed version of ``django-debug-toolbar`` (#3221)

[2018-01-23 03:20] lowang-bh commented on #3216
@ar4s, my checkout  is the ng branch which include #3200, actually, the exception raise at
`        transitions_with_custom_templates = Transition.objects.exclude(
            template_name__in=excluded_templates
            )`when I use ipdb to debug the issue.
`Transition.objects` will query the db but up to now the Transitions table is not created yet.
I have try all kinds of exceptions, but it

[2018-01-24 10:17] #3216 closed, assigned to nobody

[2018-01-25 11:43] ShyamalaViswanathan opened #3223 "Support for CAS"
Is there any support for CAS, or CAS with mod_auth_cas

[2018-01-25 12:26] ar4s commented on #3223
Ralph doesn't support CAS itself. But you can try some app for Django e.g. https://github.com/mingchen/django-cas-ng and add to ``settings.py``. In general Ralph is normal Django project.

[2018-01-29 22:05] vi4m commented on #3212
Thanks.

[2018-01-29 22:05] #3212 closed, assigned to nobody

[2018-02-08 05:53] gruselglatz commented on #3093
Are there some News on the RPM Package Front?

[2018-02-08 11:14] rcsheets commented on #3032
I just ran into this same exception the first time I tried to load the login page when launching ralph with `make run` from the standard Vagrant environment. Upgrading `sqlparse` to 0.2.3 seems to have resolved the issue.

[2018-02-09 09:41] ghost commented on #2240
hey kevinba,

I have the exact same problem.
Did you get the ldap login with password working??

And if yes can you share your solution.

Kind regards,

Patrick

[2018-02-22 10:13] ghost opened #3236 "ralph/virtual/admin.py in get_parent, line 168"
when we go to this url in ralph3 /virtual/virtualserver/ and create an virtual server.
and then we go to the listing "again to /virtual/virtualserver/" we got above error.

and this in de trace-back. i think this is a bug because we can simulate this with a fresh install.
see the trace-back below.
----------------------------------------

Request Method: | GET
-- | --
http://192.168.50.181:8000/vi

[2018-03-06 05:18] rcsheets commented on #3215
This seems like it could be closed now.

[2018-03-08 10:35] #3032 closed, assigned to nobody

[2018-03-09 08:35] ErikSmedinga opened #3242 "Add photos to racks"
I would like to add photo's to the racks in the same way as I can add attachments to data center assets. I want to be able to add multiple photo's for reference.

[2018-03-09 08:46] romcheg commented on #3242
Hi @ErikSmedinga, there is already a request for a feature like you have described in #2264. I will link these tickets to avoid duplication.

Unfortunately, the core team had to concentrate on some other important changes in Ralph, so this feature was never scheduled. Frankly, at this moment I cannot provide any estimate for it. We, however, will accept any contribution and provide contributors wi

[2018-03-09 08:48] romcheg commented on #3242
Duplicates #2264

[2018-03-09 08:48] #3242 closed, assigned to nobody

[2018-03-09 08:50] ErikSmedinga commented on #3242
That's nice too, but I have a different request. From time to time we take pictures of every rack. Now we have all the pictures in a separate folder. It would be nice to add the photo's to the racks in Ralph.

[2018-03-09 10:33] ErikSmedinga commented on #3146
![hh4cw](https://user-images.githubusercontent.com/36470275/37203312-97e33a0a-238d-11e8-9c5f-962dad834111.jpg)

At the moment I cannot add devices likt this.

[2018-03-09 10:50] ErikSmedinga opened #3243 "Do not show some racks as empty in de visualization"
We have a lot of racks in our data center that are rented to clients. At the moment I can either add them to Ralph so that the maps is correct. However all the racks show up as empty and its hard to see if we still have an empty rack available.
I wish there was a field in the rack 'inactive' so the rack will show up in the visualization, but it will not show empty positions. Also the rack space do

[2018-03-13 03:50] rcsheets opened #3244 "#3240 breaks `ralph migrate`"
Django's `prepare_sql_script` function requires `sqlparse`, which was  removed in #3240.

There is an ability to fall back to some legacy code in Django 1.8, but that is removed in Django 1.9, so we should probably re-introduce `sqlparse` somewhere in the requirements.

[2018-03-13 06:55] ar4s commented on #3244
I will create a pull request to fix it. I'm sorry for that :(

NOTE: https://github.com/django/django/blob/1.8.19/django/db/backends/base/operations.py#L268-L284

[2018-03-13 21:33] rcsheets commented on #3244
Confirmed fixed. Thanks.

[2018-03-13 21:33] #3244 closed, assigned to ar4s

[2018-03-14 09:08] ErikSmedinga opened #3247 "Unable to view details of data center assets without change permissions"
![details](https://user-images.githubusercontent.com/36470275/37392562-c22f0b38-276e-11e8-8981-5e07342d6674.jpg)
At the moment there is no way to allow a user to view data center assets details without giving them at least change permissions. It would be nice that basic users could only view this.

[2018-03-14 09:52] ar4s commented on #3247
Change permission for this view is strongly related with internal Django's permissions mechanism. Please check ``Can change data center asset``, all ``Can view * field`` and uncheck ``Can [delete|change] * field``
<img width="483" alt="screenshot 2018-03-14 10 49 33" src="https://user-images.githubusercontent.com/351535/37395318-4671a840-2776-11e8-9de7-2e47d8cb3d6a.png">

[2018-03-14 17:28] EstebanMonge opened #3248 "Change user password"
We have problems to change user password with the admin account.
We are using Ralph 3.
We are using Firefox 59

Actual problem:

Settings-> Users list. Choose desired user and check the popup at Password field. The legend says: "Raw passwords are not stored,so in there no way to see this user's password, but you can change the password using this form".

It's is impossible to hit the hyperlink to

[2018-03-16 14:43] ErikSmedinga commented on #3248
A workaround for the moment is adding "/password" to the url of the user.

[2018-03-22 21:54] a31amit commented on #2411
Whoever is trying now, below thing worked for me

` curl -s -H "Content-Type: application/json" -H "Authorization: Token YOUR-TOKEN_VALUE" -X POST http://localhost:8000/api/data-center-assets/ -d '{"hostname": "myhost.mydomain.tld", "model": 1, "service_env": 1, "status": "new", "rack": 5, "sn": "Unknown", "position": 42}'`

[2018-04-03 19:05] nvdacsheets opened #3250 "django-rq==0.9.0 no longer installable"
This seemed to work fine before, but just now I tried to `pip install -r requirements/dev.txt` and got the following error:

[code]
The requirement for django-rq==0.9.0 is not new, so I don't think this is due to a change in ralph.

It seems that perhaps django-rq 0.9.0 has been removed from pypi. Maybe this is just a temporary issue with pypi. I thought of trying 0.9.1, but [the changelog mention

[2018-04-03 19:17] nvdacsheets commented on #3250
Sorry, I see now that this is a problem with my environment, not with ralph or django-rq. I can only reproduce this issue on python 3.4. This works fine if I use python 3.5, in which case django_rq-0.9.0-py2.py3-none-any.whl is downloaded and installed successfully.

[2018-04-03 19:17] #3250 closed, assigned to nobody

[2018-04-06 07:41] nvdacsheets commented on #2978
The linked StackOverflow post focuses on configuring Django so that static files will be served.

Before the static files can be served, they must exist. Depending on your installation method, they may not exist initially. For example, if you start with a clone of the git repository, it appears that `gulp` must be run in order to generate various files, including `./src/ralph/static/css/ralph.css`

[2018-04-10 10:04] sebluong opened #3253 "Ralph 3 Back Office Hostname"
Hello,
i'm a new in using of Ralph allegro 3, I don't know very much.
When I add a new Back office (hardware) asset I can't write in the Hostname field.
I saw I can autogenerate the field with a csv file. (I didn't find an another way to do)
I would like to know if we have manually way to fill it, because it won't be funny if I had to import everytime when I have a new hardware to add.

Thank's fo

[2018-04-23 16:41] Chez commented on #3236
I have also gotten the same error after adding a virtual server and then clicking virtual servers from the Data center Menu. Is this a recognised bug or a new bug?

[2018-04-23 16:42] Chez opened #3257 "Question - Ralph 3 Development Environment in Pycharm"
Has anyone managed to successfully setup the Ralph 3 development environment in Pycharm?

[2018-04-24 05:59] pjanzen opened #3258 "recipe for target 'menu' failed"
Hi,

I have setup a vagrant dev enviroment and that works fine initially. If I do a 'vagrant halt' and 'vagrant up' and login to the box I am unable to start ralph3.

The error I am getting is this:

[code]

I am getting the same error when I run 'make run' I am unsure how to continue.

[2018-04-24 07:05] Chez commented on #3258
I'm getting the same error. I had to remove the virtualbox and start from the beginning.

[2018-04-24 07:14] Chez opened #3259 "Adding Virtual Server with Hypervisor with ServiceEnv"
As Above, when you add a virtual server with a Hypervisor set as a Service Environment:

    File "/home/vagrant/ralph/src/ralph/virtual/admin.py", line 156, in get_parent

    obj.parent.get_absolute_url(), obj.parent.hostname

    AttributeError: 'ServiceEnvironment' object has no attribute 'hostname'

[console ready]

{'modified': datetime.datetime(2018, 4, 24, 8, 52, 37, 972512), 'content_type

[2018-04-25 13:33] #3257 closed, assigned to nobody

[2018-04-25 19:35] Thathwamasi commented on #3236
Not sure as this is a proper solution:
When you try to change the below line in python this resolved the issue
on /opt/ralph/ralph-core/lib/python3.4/site-packages/ralph/virtual/admin.py in get_parent, line 168

From :
 return '<a href="{}">{}</a>'.format(
            obj.parent.get_absolute_url(), obj.parent.hostname

TO:
 return '<a href="{}">{}</a>'.format(
            obj.parent.get_absolute_u

[2018-04-26 06:17] Chez commented on #3236
That is a simple solution, however, the Ralph team need to check this out. I'm assuming they did testing before deployment and with that in mind, one would consider that all parents without a hostname cannot be assigned in this particular case.

[2018-04-28 04:25] #3215 closed, assigned to nobody

[2018-04-30 18:08] Chez commented on #3258
Is there any chance of getting some feedback by support for this issue?

[2018-05-01 17:37] loganmines commented on #3093
I'd also like to see an RPM - we're standardized on RHEL...

[2018-05-02 23:18] nbhatti opened #3262 "Server Error (500) on clean install"
Hi, just installed on fresh Ubuntu-14 using instructions here at http://ralph-ng.readthedocs.io/en/latest/installation/installation/

Browsing to port 8000 gives me following;

[code]

Already tried the fix #2193 does not fixes the issue. Where should I look for the issue?

Thanks.

[2018-05-03 06:43] Chez commented on #3153
Fidotas,

Can I ask you how you made the api call. I have been trying to use curl to add a virtual server but keep getting errors: Here is my call in the dev environment curl -s -H "Authorization: Token mytoken" -X POST http://0.0.0.0:8000/api/virtual-servers/ -d '{"hostname": "VS-phishfinder-2", "service_env": 1, "status": 1, "type": 1, "hypervisor": 2}'
{"type":["This field is required."],"hyper

[2018-05-03 12:41] ErikSmedinga opened #3263 "Once a datacenter is 100% full its no longer visible on the start page."
On the startup page there is a percentage for each datacenter. Once a datacenter nears 100% its no longer visible on this list.
![image](https://user-images.githubusercontent.com/36470275/39576889-fd3e2f4a-4edf-11e8-975c-5965594f7b0b.png)

[2018-05-07 09:01] nbhatti commented on #3262
Turns out to be the debug export variable need to be set in order to make it work.

[2018-05-07 09:01] #3262 closed, assigned to nobody

[2018-05-08 15:43] JunkyardCat opened #3265 "can this be run on a windows environment"
the only os i have currently is windows 7 and raspbian is there a way to install ralph on these system?

[2018-05-08 18:22] fajfer commented on #3265
Raspbian is basically Debian ARM tailored for RPi. You could simply try installing it there since Debian is supported and recommended

[2018-05-08 21:16] sz-po commented on #3132
Same here. With python 2.7 and Ubuntu 16.04, clean install.
[code]

[2018-05-17 08:42] djagoo opened #3267 "Don't hardcode the default country of a new user"
The default value of a new users country should be changeable or use country of the logged in user as default value.

https://github.com/allegro/ralph/blob/c9f790e63d5a7536dcd5b5b9940aac397ebf09f0/src/ralph/accounts/models.py#L35

[2018-05-21 05:13] djagoo commented on #3258
Ran into the same issue today. It's working fine after vagrant up but after the first vagrant reload the error is showing up.

[2018-05-21 17:39] Chez commented on #3258
djagoo, hope you get better response than we have thus far...

[2018-05-29 09:04] cr0ssmind commented on #3138
I vote to npm, but bower suggests using yarn.

[2018-06-04 08:55] loulasedna opened #3270 "Advanced networking and cable management functions."
Hello,

I'm currently testing ralph for my company and this is a good product,
But, I think there are missing things in it.

For advanced networking :
- VRF  : for overlapping IP (same IP for multiple systems)
- VLANs : to segment network
- VXLAN :  because vxlan is currently use in DC.
- Maybe advanced function for allocation IP (like allocation in specific mask in a subnet, like in PHPIPAM)

For

[2018-06-14 17:46] vi4m commented on #3270
Unfortunately we don't have these functions yet, but we will happily accept/merge these features if somebody want to contribute(to write code for it). It will make Ralph even better.

If these are modules you are particullary interested in, you can buy fulltime development on this feature(customized for you) via 3rd party contributors, such as @xliiv (long-time contributor)

[2018-06-14 17:48] vi4m commented on #3267
Thanks for reporting this! I think we have to replace it with dynamic closure fetching current user region's.

[2018-06-14 17:51] vi4m commented on #3265
We focus on debian/ubuntu - try out if it works for you, please. @JunkyardCat

[2018-06-14 17:51] #3265 closed, assigned to nobody

[2018-06-14 17:51] vi4m commented on #3265
If you want windows - just use virtualbox / docker and install deb package inside.

[2018-06-14 17:52] vi4m commented on #3259
Which version of ralph is it?

[2018-06-14 18:43] ghost commented on #3270
Unfortunately Im quite busy recently so I can't contribute/help/anything :/

[2018-06-15 05:20] Chez commented on #3259
Ralph 3

[2018-06-15 08:12] vi4m commented on #3259
Debian package? what does `dpkg -l "*ralph*"` show?

[2018-06-23 05:42] andynz2017 opened #3273 "Password fails on install if contains "$" symbol"
If DATABASE_PASSWORD environment variable contains "$" character, DB permission error thrown.

If you take the same password with $ and connect via terminal, connection succeeds as expected.

Printing the settings dictionary containing the environment variables which is passed through to MYSQL connection modules shows that the $ symbol and the character after the $ symbol in the password string is

[2018-06-23 10:52] ar4s commented on #3273
You must escape ``$`` or wrap the value with ``'`` e.g. ``DATABASE_PASSWORD=blah\$2!!123!`` or ``DATABASE_PASSWORD='blah$2!!123!'``

[2018-06-23 12:12] andynz2017 commented on #3273
Thanks. Always the simple things.

From: Arkadiusz Adamski <notifications@github.com>
Sent: Saturday, 23 June 2018 10:52 PM
To: allegro/ralph <ralph@noreply.github.com>
Cc: Andrew Hardy <andrewhardy@andrewhardy.co.nz>; Author <author@noreply.github.com>
Subject: Re: [allegro/ralph] Password fails on install if contains "$" symbol (#3273)

You must escape $ or wrap the value with ' e.g. DATABASE_PA

[2018-06-28 09:11] #3273 closed, assigned to nobody

[2018-07-17 12:33] AndreCape opened #3285 "Autodiscovery"
Does anybody here have a more detailed manual on how to setup Autodiscovery please?

I had a look the docs below and tried to follow the steps but it seems to be from an earlier release.
http://ralph.readthedocs.io/en/latest/scan.html

Thank you.

[2018-07-18 08:57] pireoulepou opened #3286 "Ralph demo crashes !!"
There are multiple "Server Error (500)" on Demo site.

Impossible tu use it, can you do something ?

[2018-07-24 16:03] larsks opened #3288 "docker-compose uses outdated syntax and features"
`contrib/docker-compose.yml.tmpl` uses outdated syntax and features (in particular the `links` keyword).  The file should be updated to use modern compose syntax and to rely on Docker-managed DNS rather than links.

[2018-07-24 17:16] vi4m commented on #3288
Can you give a shot with Pull Request for that? :)

[2018-07-24 17:17] vi4m commented on #3286
We periodically clean up the site. @MarekBleschke  can schedule some cleaning.

[2018-07-24 17:19] vi4m commented on #3285
Provided link was from obsolete Ralph version (I disabled this old documentation to not make false assumptions about software options).

I'm sorry, but we don't support autodiscovery anymore.  Instead, simple scripts, or API is needed to plug Ralph in existing installations. For more information read:

http://ralph-cli.readthedocs.io (CLI)
https://ralph-ng.readthedocs.io/en/latest/user/api/ (API)

[2018-07-24 17:23] #3285 closed, assigned to nobody

[2018-07-24 17:24] vi4m commented on #3267
@romcheg is this already fixed?

[2018-07-24 17:27] vi4m commented on #3258
@MarekBleschke can we reproduce it?

[2018-07-24 17:31] vi4m commented on #3253
It's known "bug". This field is auto-generated by default, in some numbering fashion. For example: workstation001. I think it should, in general, be writeable - the same as any other field.  This filed should be read-only only If the user choose(in settings) to use auto-numbering of hostname.

@MarekBleschke FYI

[2018-07-24 17:32] vi4m commented on #3248
@romcheg @ar4s  any news about this bug?  Is this fixed?

[2018-07-24 17:32] #3211 closed, assigned to nobody

[2018-07-27 07:22] MarekBleschke commented on #3286
Hi @pireoulepou. Demo site was recently cleaned up. It should be working now.

[2018-07-27 07:22] #3286 closed, assigned to nobody

[2018-08-03 09:54] m1kra commented on #3258
I had a similar issue and running `vagrant up --provision` helped. Still, the flag `--provision` should only be needed once.

EDIT:
It seems that after `vagrant halt` and `vagrant up` some files are deleted. Another work around is to copy `/home/vagrant/ralph/` from guest to `ralph` direcotry on hypervisor, after first `vagrant up`. Then, when doing `vagrant up` or `vagrant rsync`, those directori

[2018-08-08 07:02] #3258 closed, assigned to nobody

[2018-08-12 21:05] juniorfoo opened #3299 "Limiting what assets a user can see in all views"
I would like to load assets for several groups but limit what they can see between groups. Is this possible? If not, can you give me pointers about where I would have to change it, if possible (and send in a PR if you would like)? Thanks in advance!

- UserA can see their assets but not anyone else's
- UserB can see their assets but not anyone else's
- UserC can see their assets and UserA's assets

[2018-08-12 22:40] juniorfoo opened #3300 "Dashboard info boxes ignore associated regions"
Info box on front page shows X back office assets and Y supports. When I click on either of them, the resulting list is 0 because my user does not have permissions to any regions.

[2018-08-16 15:02] vi4m commented on #3300
What's the correct behavior for this case?

[2018-08-16 15:03] vi4m commented on #3299
Did you try to use so called `regions`  ( only for back office assets for now) ?

[2018-08-17 00:20] juniorfoo commented on #3299
Yes, tried the regions for back office and it works great (except for the dashboard #3300). Would like to extend it to DC if we could. If you have a design in mind, I don't mind giving it a shot.

[2018-08-17 00:21] juniorfoo commented on #3300
If you can't see an item because its not in a region that you have visibility to, it probably should not be counted in the dashboard widgets.

[2018-08-20 02:42] nasir0097 commented on #3093
Hi there tried to run through this setup on my Centos but running into issue #2978

[2018-08-21 13:29] vi4m commented on #3300
sounds like an "easy" task (filter-out regions using Object Manager) - but we have to check it - @romcheg  can you estimate amount of work / what to change?

[2018-08-29 09:42] diedriko opened #3304 "FieldError at /networks/ipaddress/export/"
When trying to export  ip addresses to a file (any kind of file), python script yields an error
Invalid field name(s) given in select_related: 'base_object'. Choices are: ethernet, network
Exception Location: 	/opt/ralph/ralph/lib/python3.4/site-packages/django/db/models/sql/compiler.py in get_related_selections, line 754

[2018-09-05 13:05] anchiru commented on #2931
hi there. there any news about an ability to map LDAP group to the specific or some default region?

[2018-09-18 12:34] Freeaqingme commented on #3191
I second this. Was first trying to do an install on Ubuntu Bionic, with little success. Then I figured I could try to make my own package in a Vagrant box, but that failed to build as well. Ended up (bordering on going back to Racktables) installing Debian 8; having to make a lot of exceptions in our Puppet setup (:disappointed: ).

Also, I noticed it seems the packages are over a year old. Is a p

[2018-09-29 04:00] asdfII opened #3316 "Add cloud project issue on Ralph3"
![image](https://user-images.githubusercontent.com/4301280/46240751-b44e8180-c3de-11e8-89f8-b540bcf483bc.png)
![image](https://user-images.githubusercontent.com/4301280/46240775-3ccd2200-c3df-11e8-87e0-f5c816d4b818.png)

My env:
CentOS 6.9
Python 3.6.6
Ralph 3

Can't fill out and finish the form.

[2018-10-07 11:53] vi4m opened #3318 "Document import/export functionality"

[2018-10-11 10:41] managai commented on #2668
experienced same problem, working with json
as workaround I removed category (leaving category_str)
asset model import works but, as expected , no asset category is set for imported models

[2018-10-26 21:36] vi4m opened #3330 "[Images]"
<img width="1257" alt="zrzut ekranu 2018-10-26 o 23 41 24" src="https://user-images.githubusercontent.com/552398/47593757-d8b76280-d978-11e8-87c6-d4ba98d26f2a.png">

<img width="1011" alt="zrzut ekranu 2018-10-26 o 23 45 35" src="https://user-images.githubusercontent.com/552398/47593858-49f71580-d979-11e8-891f-d992a8fce6a8.png">

<img width="1025" alt="zrzut ekranu 2018-10-26 o 23 47 31" src="http

[2018-10-27 14:00] Skeen commented on #3195
During the docker build described in the docs (the experimental one), it fails with:
[code]
This is not just a network error, the project does not list such a release: https://github.com/sass/node-sass/releases/

The closest one is `linux-x64-64_binding.node`

[2018-10-30 09:45] vi4m commented on #3316
@romcheg

[2018-10-30 14:10] #3330 closed, assigned to nobody

[2018-11-01 01:42] knoppi opened #3334 "Building Docker image interrupted due to missing python executable"
With the most recent version of Ralph (pulled october 31st) I encountered problems during the build process.
 docker build .
gets interrupted in line 27:
`RUN $SCRIPTS_PATH/provision_js.sh`

In that line, among other packages, gyp is installed. That requires python with an executable called `python` or `python27`. To my understanding gyp does not run with python3. So I added a line before
`RUN apt

[2018-11-12 09:27] xsgb commented on #3191
Here's my modifications that allowed me to build ralph-ng on Stretch. https://github.com/allegro/ralph/pull/3340

[2018-11-12 09:28] xsgb commented on #3202
Hey you can take a look to my apache-wsgi-test branch: https://github.com/allegro/ralph/pull/3340

[2018-11-13 15:00] diedriko opened #3341 "components subpage for backoffice assets"
Hi,
Couldn't it be possible to add a components subpage for the back office assets conform the data center assets?
This would greatly reduce the categorization of our assets either they are data center based or back office.

[2018-11-13 20:38] vi4m commented on #3341
Yes, it's something we want to develop. No timeline for now, though.

[2018-11-13 20:39] vi4m commented on #3341
If it make it easier, we have models ready. There is just GUI missing in Back Office form.

[2018-11-14 07:41] diedriko commented on #3341
Can we already have a preview?

[2018-11-15 09:58] Blejwi commented on #3316
Hi @asdfII,

Originally all Cloud Models are intended to be created automatically by synchronization with OpenStack (or other cloud providers). [Link to documentation](https://ralph-ng.readthedocs.io/en/latest/installation/configuration/#synchronization-with-openstack).

Could you please describe your use case -- why do you need to add Cloud Project manually?

[2018-11-19 09:03] asdfII commented on #3316
Hi Damian,

I have some vms on AWS and Alibaba cloud.
Could you please give me a hand to deal with the case?

Thanks.
BR

[2018-11-19 13:20] didierm commented on #3341
@vi4m Anything we can help with ?

[2018-11-21 10:16] Blejwi commented on #3316
Hi @asdfII,

Unfortunately, we don't have synchronization facilities for mentioned cloud providers.
Best way to handle this case is to write your own synchronization.

There are two ways to achieve this:
- First one is to write full synchronization management command and run it periodically (in CRON probably). You can use this OpenStack synchronization as an example: https://github.com/allegro/ral

[2018-11-23 09:59] ErikSmedinga commented on #3248
Unfortunately not. The workaround still works though.
http://ralph.domain.local/accounts/ralphuser/353/password/
353 is the id of this user

[2018-11-23 10:58] vi4m commented on #3248
Adding this one to the hackatkon backlog (25-28 November)

[2018-11-28 18:25] ruapotato commented on #3101
I'm okay with colored services. Any updates. The green is killing me.

[2018-11-30 12:17] ElliotLepley opened #3348 "Fatal Python error: Py_Initialize: Unable to get the locale encoding"
Hey there, on attempt to initially run ralph migrate, a python error regarding importing a module fails. Any idea on how to resolve this on a clean install of Ubuntu 16.04?

`ralph migrate`
Fatal Python error: Py_Initialize: Unable to get the locale encoding
ImportError: No module named 'encodings'
Aborted (core dumped)

export DATABASE_NAME=ralph
export DATABASE_USER=ralphuser
export DATABASE_PAS

[2018-12-04 19:25] vi4m commented on #3348
It seems like python version mismatch... Can you install it on clean ubuntu14.04 system?

[2018-12-05 10:54] ElliotLepley commented on #3348
Hey vi4m, upon installing into a clean Ubuntu14.04 VM (GCP), I've got it to a different error now regarding statsd:

`Traceback (most recent call last):
  File "/opt/ralph/ralph-core/bin/ralph", line 11, in <module>
    sys.exit(prod())
  File "/opt/ralph/ralph-core/lib/python3.4/site-packages/ralph/__main__.py", line 29, in prod
    main('ralph.settings.prod')
  File "/opt/ralph/ralph-core/lib/py

[2018-12-05 11:13] ElliotLepley commented on #3348
`pip install statsd` resolved this.

[2018-12-05 12:59] vi4m commented on #3348
Yes, `pip install` solves the issue. We've fixed this in upcoming release scheduled till the end of December.

[2018-12-05 16:06] vi4m commented on #3236
This issue is fixed. Closing.

[2018-12-05 16:06] #3236 closed, assigned to nobody

[2018-12-07 10:28] #3348 closed, assigned to nobody

[2018-12-07 19:23] chuegel commented on #3132
Can confirm

[2018-12-11 16:02] vi4m commented on #3341
can you code? :)

[2018-12-11 16:04] #3182 closed, assigned to nobody

[2018-12-11 16:07] vi4m commented on #1461
Please reopen if still missing in Ralph3

[2018-12-11 16:07] #1461 closed, assigned to nobody

[2018-12-11 16:09] #1640 closed, assigned to nobody

[2018-12-11 16:12] vi4m commented on #1811
We've finished Ralph 3 :)

[2018-12-11 16:12] #1811 closed, assigned to nobody

[2018-12-11 18:57] didierm commented on #3341
PHP4 ? Sure thing !
;)

[2018-12-18 15:10] wardag21 commented on #2928
still the same issue

[2018-12-19 11:17] vi4m commented on #2928
I checked yesterday, it works when:

- you use amd64 architecture, i386 is not supported
- ubuntu 14.04 only for now.

[2018-12-19 11:24] vi4m commented on #3299
@mkurek it seems @juniorfoo can code in Python ;) The question is - is it just to use https://github.com/allegro/ralph/blob/77c04541a4b9be71a73dd8b79fad6f148034afdb/src/ralph/accounts/models.py#L31  Region mixin or to do something more advanced ?

[2018-12-19 11:30] mkurek commented on #3299
You should inherit from `Regionalizable` (https://github.com/allegro/ralph/blob/77c04541a4b9be71a73dd8b79fad6f148034afdb/src/ralph/accounts/models.py#L52)` abstract model

But.. the real question here is how to make sure that after adding regions existing apps will work as before

[2018-12-20 18:11] MylesL opened #3358 "issue importing rack information"
### Steps to reproduce

hi, i've encountered issue while try to import document(csv,json,xls)

![image](https://user-images.githubusercontent.com/44943949/50302190-a19d9300-0489-11e9-8117-70c5095b9588.png)
Django Version: 1.8.19
Python Version: 3.4.3
Installed Applications:
('ralph.admin',
 'django.contrib.admin',
 'django.contrib.auth',
 'django.contrib.contenttypes',
 'django.contrib.humanize',

[2019-01-03 08:30] h133gqa opened #3361 "'sudo ralphctl migrate' failed with Ubuntu 18.04"
Hello,

I got a problem with a fresh install of Ralph.

System Environment:
Ubuntu 18.04.01 LTS latest patch.
mysql  Ver 14.14 Distrib 5.7.24, for Linux (x86_64)

Installed ralph-core with Repo on instructions by [https://ralph-ng.readthedocs.io/en/latest/installation/installation/](https://ralph-ng.readthedocs.io/en/latest/installation/installation/)

    sudo apt-key adv --keyserver  hkp://keyse

[2019-01-03 08:44] szymi- commented on #3361
Try creating the database and user like this (you might need to first delete the old user):

    echo "create database ralph_ng" | sudo mysql
    echo "create user 'ralph_ng'@'127.0.0.1' identified by 'ralph_ng'" | sudo mysql
    echo "grant all privileges on ralph_ng.* to 'ralph_ng'@'127.0.0.1'" | sudo mysql

Let me know if it works, then I will fix the documentation.

[2019-01-03 09:21] h133gqa commented on #3361
Hi, yes it worked, but only because I used the simple password 'ralph_ng' with complex (other) password it does not work out.

the scripts went through correctly, but now I get this in the log and error 500:
`[03.01.2019 10:15:34,293] WARNING [MainProcess 8533] base - Not Found: /favicon.ico
[03.01.2019 10:17:29,790] WARNING [MainProcess 1552] collector - Statsd not installed or configured - metri

[2019-01-03 09:39] h133gqa commented on #3361
I deleted the sql user again and created it new. I removed the login restriction location (%).
Now it worked out.

[2019-01-03 10:14] szymi- commented on #3361
Thanks for your input, it will help us improve the documentation and the package. I think with the database password there are two problems here. First one appears to be on our side, i.e. the password in the /etc/ralph/conf.d/database.conf should be enclosed in quotation marks. I will fix that. The second one is bash related. I think creating the user in mysql shell instead of echoing mysql comman

[2019-01-03 10:33] #3361 closed, assigned to nobody

[2019-01-07 13:01] #3316 closed, assigned to nobody

[2019-01-09 14:08] #3143 closed, assigned to nobody

[2019-01-09 19:12] emil246 opened #3371 "Static files"
### Steps to reproduce

Fresh installation by guide https://ralph-ng.readthedocs.io/en/latest/installation/installation/
Do not serve static files.
### Expected behavior

Correct load static files in prod

### Actual behavior

The same symptoms
https://github.com/allegro/ralph/issues/2978

### Environment

* Ralph version: ?
* Operating system: Ubuntu 18.04
* Method of installation: Deb package

[2019-01-09 21:16] vi4m commented on #3371
@romcheg why is that?

[2019-01-09 21:16] vi4m commented on #3371
@emil246 did you use nginx?

[2019-01-10 03:08] emil246 commented on #3371
@vi4m yes, we use nginx.

[2019-01-10 08:38] szymi- commented on #3371
https://ralph-ng.readthedocs.io/en/latest/installation/installation/#nginx-configuration - is this the configuration you use? Did you restart nginx to load the configuration? Did you link the "default" site to sites-enabled (it should be enabled by default if you followed the howto step by step):

    $ sudo ln -s /etc/nginx/sites-available/default /etc/nginx/sites-enabled/

When installing ralph-

[2019-01-10 08:45] szymi- commented on #3371
And one more last thing: when you connect to ralph, do you connect to port 80 or 8000 (assuming the configuration from the tutorial)? If you connect to port 8000 (http://<ralph_installation_address>:8000), you are not actually connecting to nginx, only to gunicorn. You should connect to nginx via port 80.

[2019-01-10 11:50] emil246 commented on #3371
@szymi- I used port 8000, on port 80 static files is served. Thanks to all!

[2019-01-10 11:50] #3371 closed, assigned to nobody

[2019-01-17 21:19] sriccio commented on #3145
Hi,

Trying Ralph3 for the first time. Freshly installed. I have the same error when trying to multiadd blades.

I guess the solution could be that the slot number should automagically increments for each added item starting from slot number given in the original object form ?

[2019-01-22 10:50] manioo8 opened #3384 "Back office asset invoice date filter fails in a different language"
### Steps to reproduce

Go to top right corner -> my profile -> preferences and set your language to "polish"
Go to back office -> hardware
Find an asset with a certain invoice date, let's say 5/11/2018
Select a range in the filter on the left from 4/11/2018 to 6/11/2018
Press the "filter" button.

### Expected behavior

The system shows records that match the date.

### Actual behavior

The syste

[2019-01-24 06:38] xuebb commented on #3358
I got the same error.

[2019-01-24 15:16] look77 opened #3396 "ADD field "IMEI 2""
A lot of phones have dualSIM , so I have a request to add second IMEI field in assets for IMEI2

Environment
Ralph version: 20190111.1
Operating system: ubuntu 18.04 minimal/server on a VM, architecture: amd64
Method of installation: Deb package

[2019-01-24 15:54] manioo8 commented on #2934
Same issue here, the report displays assets with incorrect amounts.

we have a monitor model called U2415 added, with manufacturer selected as DELL. We also have another manufacturer than dell, called BELINEA. After adding a lot of assets with model selected as U2415 (which automatically assigns it's manufacturer to dell) and around 1-2 assets from belinea manufacturer, and going to Reports -> man

[2019-01-24 15:56] look77 opened #3397 "ADD new field "phone number" in user list"
It seems to me it will be good idea to add new field in User list/personal info  with phone number. If this field will be visible in USER LIST the potential user have clear view for contact details every user.
Now  we can see phone number only in SimCard, but not everyone have a phone number from company.

Otherwise, I have Sim Card assigned to user, but in
User list/"user"/Additional info       *

[2019-01-27 10:45] tsdogs opened #3398 "Mariadb maximum keylength 767"
### Steps to reproduce
Install on Ubuntu 18.04 with mariadb-server

### Expected behavior

ralphctl migrate complete successfully

### Actual behavior

Exception raised
Applying accounts.0001_initial...Traceback (most recent call last):
  File "/opt/ralph/ralph-core/lib/python3.6/site-packages/django/db/backends/utils.py", line 62, in execute
    return self.cursor.execute(sql)
  File "/opt/ralph/

[2019-01-28 22:48] vi4m commented on #3398
This is weird. @romcheg

[2019-01-29 14:33] chrisarnott86 opened #3400 "vagrant up failing"
### Steps to reproduce
`vagrant up`

### Expected behavior
Command finishes without error

### Actual behavior
Command is failing part way through, relevant output is

[code]

### Environment

* Ralph version: Latest checkout of ng branch (as on 20190129)
* Operating system: Ubuntu 18.04 (Vagrant 2.0.3)
* Method of installation: Git clone of repo

[2019-01-29 15:14] romcheg commented on #3400
Vagrant support is outdated and will be removed in a few days.

[2019-01-29 15:14] #3400 closed, assigned to nobody

[2019-01-30 10:36] chrisarnott86 commented on #3400
Ok, thanks for letting me know. What is (will be) the recommended process for building a .deb now?

[2019-02-05 14:09] tkuther commented on #3371
The `ralphctl collectstatic` step seems missing in the docker build's init-ralph.sh, too.

[2019-02-05 17:29] szymi- commented on #3371
It is not required. Docker container has ralph installed from deb package. The package contains static files. However gunicorn, which is used to serve the app, does not serve the files. A nginx or other Web server instance is required for that. See the docker/docker-compose.yml file for reference.

[2019-02-05 19:02] tkuther commented on #3371
Well, the ralph-static volume mounted under /usr/share/ralph/static also gets mounted to NGINX container under /opt/static - but it's empty at first, causing 404 on NGINX side, of course.

Kubernetes manifest used (derived from your docker-compose.yml): https://gist.github.com/tkuther/eeb7d4c3dc536fc28250f3a91beef179

[2019-02-06 09:52] szymi- commented on #3371
Static files are present in the allegro/ralph image. Are you sure nothing is missing in your manifest? Here's some output from freshly started container using docker-compose.yml from the repo:

[code]

[2019-02-06 12:27] tkuther commented on #3371
Ah, you're right. My issue is specific to Kubernetes then.

While docker copies existing files from the container to the host volume upon container initialization, Kubernetes does not. So /usr/share/ralph/static ends up being empty.

[2019-02-11 15:18] CaptainSifff commented on #3104
I still encounter this.

[2019-02-13 03:00] lordrocyu opened #3407 "How to use the reports template to export custom reports?"
I want to export custom reports as csv.

But I can't get any  manual from https://ralph-ng.readthedocs.io/en/latest/

I just get a template from http://ralph-demo.allegro.tech/.But I can't export the template's report.

Thanks

[2019-02-14 22:19] jeasoft opened #3408 "Plans to update for the latest Django LTS Version?"
Hi guys!

First of all, thank you for your awesome work with Ralph-NG, it's a very complete software.

Now I want to know if there's a plan to migrate Ralph to a newer version of Django. This is because there's not plans for more updates to Django 1.8.X and there is a risk for the security of some companies who can use Ralph outside an internal scope.

[2019-02-17 11:45] vi4m opened #3411 "SSL Certificates -> demo data is missing"
Demo data doesn't come with SSL Certificates examples.

[2019-02-17 21:40] vi4m opened #3412 "Incorrect padding"
![obrazek](https://user-images.githubusercontent.com/552398/52919665-1152c180-3305-11e9-8d20-6e4fb566cf5e.jpg)

[2019-02-19 11:29] titago opened #3416 "Polish characters in name field results 500 error"
Hi,
i have fresh install of ralph and tried to populate it with polish names such as "Świat", "piętro" but im getting 500 sever error while POST. I don't think thats my env fault because your demo site also is giving 500 errs

/var/log/nginx/ralph-access.log:
POST /data_center/datacenter/add/ HTTP/2.0" 500 27 "https://*server_addr*/data_center/datacenter/add/" "Mozilla/5.0 (X11; Ubuntu; Linux x86_

[2019-02-20 10:06] djkormo opened #3417 "After deploying from container with docker-compose"
### Steps to reproduce

Login to

https://labs.play-with-docker.com

Cloning this repo

git clone https://github.com/allegro/ralph.git
cd cd ralph/docker/

docker-compose up -d

After deploying from  container  with docker-compose and  using credentials ralph/ralph
I have error 500

In container log of web app

django.db.utils.ProgrammingError: (1146, "Table 'ralph_ng.accounts_ralphuser' doesn't e

[2019-02-26 16:52] CaptainSifff opened #3419 "Modifying datacenterasset view"
Hi all,
what is the preferred way to modify the datacenterasset view, e.g. at
http://example.org/data_center/datacenterasset/
I'd like to have less/other fields  visible.

[2019-02-27 08:44] romcheg commented on #3419
@CaptainSifff this seems to be the perfect topic to post on Ralph's forum. Could you please do that here: https://ralph.discourse.group

[2019-02-27 12:07] romcheg commented on #1469
Closing a stale issue

[2019-02-27 12:07] #1469 closed, assigned to nobody

[2019-02-27 12:08] romcheg commented on #1452
Closing a stale proposal since we don't plan doing this in the observable future.

[2019-02-27 12:08] #1452 closed, assigned to mkurek

[2019-02-27 12:09] romcheg commented on #1482
Closing a stale proposal. Settings have been re-done within the packaging initiative.

[2019-02-27 12:09] #1482 closed, assigned to mkurek

[2019-02-27 12:10] romcheg commented on #1538
MySQL was removed from the official docker image.

[2019-02-27 12:10] #1538 closed, assigned to nobody

[2019-02-27 12:11] romcheg commented on #1653
Closing a stale bug.

[2019-02-27 12:11] #1653 closed, assigned to nobody

[2019-02-27 12:12] romcheg commented on #1728
Closing a stale issue. Please re-open, if needed.

[2019-02-27 12:12] #1728 closed, assigned to nobody

[2019-02-27 12:13] romcheg commented on #1729
Ralph's API is pretty simple and straightforward, so DRF visualization is descriptive enough for it. Anyway, the issue is stale, so I'm closing it.

[2019-02-27 12:13] #1729 closed, assigned to nobody

[2019-02-27 12:16] romcheg commented on #1776
Closing a stale issue.

[2019-02-27 12:16] #1776 closed, assigned to nobody

[2019-02-27 12:21] romcheg commented on #1781
It would be great to have a generic notification subsystem in Ralph. If this is still relevant, you're welcome to make a suggestion on Ralph's forum: https://ralph.discourse.group.

[2019-02-27 12:21] #1781 closed, assigned to nobody

[2019-02-27 12:22] romcheg commented on #1792
Not relevant anymore.

[2019-02-27 12:22] #1792 closed

[2019-02-27 12:23] romcheg commented on #1782
Closing a stale issue. If it is still relevant, please re-open it or start a topic at  Ralph forum: https://ralph.discourse.group

[2019-02-27 12:23] #1782 closed, assigned to nobody

[2019-02-27 12:24] romcheg commented on #1806
Closing a stale issue. If it is still relevant, please re-open it or start a topic at  Ralph forum: https://ralph.discourse.group

[2019-02-27 12:24] #1806 closed, assigned to nobody

[2019-02-27 12:24] romcheg commented on #1849
Not relevant anymore.

[2019-02-27 12:24] #1849 closed, assigned to nobody

[2019-02-27 12:25] romcheg commented on #1882
Closing a stale issue. If it is still relevant, please re-open it or start a topic at  Ralph forum: https://ralph.discourse.group

[2019-02-27 12:25] #1882 closed, assigned to nobody

[2019-02-27 12:25] romcheg commented on #1913
Not relevant anymore.

[2019-02-27 12:25] #1913 closed, assigned to nobody

[2019-02-27 12:25] romcheg commented on #1927
Closing a stale issue. If it is still relevant, please re-open it or start a topic at  Ralph forum: https://ralph.discourse.group

[2019-02-27 12:25] #1927 closed, assigned to nobody

[2019-02-27 12:26] romcheg commented on #2193
Closing a stale issue. If it is still relevant, please re-open it or start a topic at  Ralph forum: https://ralph.discourse.group

[2019-02-27 12:26] #2193 closed, assigned to nobody

[2019-02-27 12:27] romcheg commented on #2225
Closing a stale issue. If it is still relevant, please re-open it or start a topic at  Ralph forum: https://ralph.discourse.group

[2019-02-27 12:27] #2225 closed, assigned to nobody

[2019-02-27 12:27] romcheg commented on #2226
Closing a stale issue. If it is still relevant, please re-open it or start a topic at  Ralph forum: https://ralph.discourse.group

[2019-02-27 12:27] #2226 closed, assigned to nobody

[2019-02-27 12:27] romcheg commented on #2237
Closing a stale issue. If it is still relevant, please re-open it or start a topic at  Ralph forum: https://ralph.discourse.group

[2019-02-27 12:27] #2237 closed, assigned to romcheg

[2019-02-27 12:28] romcheg commented on #2264
Closing a stale issue. If it is still relevant, please re-open it or start a topic at  Ralph forum: https://ralph.discourse.group

[2019-02-27 12:28] #2264 closed, assigned to nobody

[2019-02-27 12:28] romcheg commented on #2283
Closing a stale issue. If it is still relevant, please re-open it or start a topic at  Ralph forum: https://ralph.discourse.group

[2019-02-27 12:28] #2283 closed, assigned to nobody

[2019-02-27 12:29] romcheg commented on #2379
Closing a stale issue. If it is still relevant, please re-open it or start a topic at  Ralph forum: https://ralph.discourse.group

[2019-02-27 12:29] #2379 closed, assigned to nobody

[2019-02-27 12:30] romcheg commented on #2378
Closing a stale issue. If it is still relevant, please re-open it or start a topic at  Ralph forum: https://ralph.discourse.group

[2019-02-27 12:30] #2378 closed, assigned to nobody

[2019-02-27 12:30] romcheg commented on #2376
Closing a stale issue. If it is still relevant, please re-open it or start a topic at  Ralph forum: https://ralph.discourse.group

[2019-02-27 12:30] #2376 closed, assigned to nobody

[2019-02-27 12:30] romcheg commented on #2298
Closing a stale issue. If it is still relevant, please re-open it or start a topic at  Ralph forum: https://ralph.discourse.group

[2019-02-27 12:30] #2298 closed, assigned to nobody

[2019-02-27 12:30] romcheg commented on #2297
Closing a stale issue. If it is still relevant, please re-open it or start a topic at  Ralph forum: https://ralph.discourse.group

[2019-02-27 12:30] #2297 closed, assigned to nobody

[2019-02-27 12:32] romcheg commented on #3253
Closing a stale issue. If it is still relevant, please re-open it or start a topic at  Ralph forum: https://ralph.discourse.group

[2019-02-27 12:32] romcheg commented on #2430
Closing a stale issue. If it is still relevant, please re-open it or start a topic at  Ralph forum: https://ralph.discourse.group

[2019-02-27 12:32] #2430 closed, assigned to nobody

[2019-02-27 12:32] romcheg commented on #2430
But yes, it is :)

[2019-02-27 12:33] romcheg commented on #2418
Closing a stale issue. If it is still relevant, please re-open it or start a topic at  Ralph forum: https://ralph.discourse.group

[2019-02-27 12:33] #2418 closed, assigned to nobody

[2019-02-27 12:33] romcheg commented on #2383
Closing a stale issue. If it is still relevant, please re-open it or start a topic at  Ralph forum: https://ralph.discourse.group

[2019-02-27 12:33] #2383 closed, assigned to nobody

[2019-02-27 12:33] romcheg commented on #2382
Closing a stale issue. If it is still relevant, please re-open it or start a topic at  Ralph forum: https://ralph.discourse.group

[2019-02-27 12:33] #2382 closed, assigned to nobody

[2019-02-27 12:33] romcheg commented on #2380
Closing a stale issue. If it is still relevant, please re-open it or start a topic at  Ralph forum: https://ralph.discourse.group

[2019-02-27 12:33] #2380 closed, assigned to nobody

[2019-02-27 12:34] romcheg commented on #2531
Packaging was re-done recently and no supports the latest LTS version of Ubuntu which is Bionic

[2019-02-27 12:34] #2531 closed, assigned to nobody

[2019-02-27 12:34] romcheg commented on #2515
Closing a stale issue. If it is still relevant, please re-open it or start a topic at  Ralph forum: https://ralph.discourse.group

[2019-02-27 12:34] #2515 closed, assigned to nobody

[2019-02-27 12:35] romcheg commented on #2499
Closing a stale issue. If it is still relevant, please re-open it or start a topic at  Ralph forum: https://ralph.discourse.group

[2019-02-27 12:35] #2499 closed, assigned to nobody

[2019-02-27 12:35] romcheg commented on #2488
Closing a stale issue. If it is still relevant, please re-open it or start a topic at  Ralph forum: https://ralph.discourse.group

[2019-02-27 12:35] #2488 closed, assigned to nobody

[2019-02-27 12:35] romcheg commented on #2442
Closing a stale issue. If it is still relevant, please re-open it or start a topic at  Ralph forum: https://ralph.discourse.group

[2019-02-27 12:35] #2442 closed, assigned to nobody

[2019-02-27 12:35] romcheg commented on #2436
Closing a stale issue. If it is still relevant, please re-open it or start a topic at  Ralph forum: https://ralph.discourse.group

[2019-02-27 12:35] #2436 closed, assigned to nobody

[2019-02-27 12:36] romcheg commented on #2580
Closing a stale issue. If it is still relevant, please re-open it or start a topic at  Ralph forum: https://ralph.discourse.group

[2019-02-27 12:36] #2580 closed, assigned to nobody

[2019-02-27 12:36] romcheg commented on #2667
Closing a stale issue. If it is still relevant, please re-open it or start a topic at  Ralph forum: https://ralph.discourse.group

[2019-02-27 12:36] #2667 closed, assigned to nobody

[2019-02-27 12:36] romcheg commented on #2668
Closing a stale issue. If it is still relevant, please re-open it or start a topic at  Ralph forum: https://ralph.discourse.group

[2019-02-27 12:36] #2668 closed, assigned to nobody

[2019-02-27 12:37] romcheg commented on #2731
Closing a stale issue. If it is still relevant, please re-open it or start a topic at  Ralph forum: https://ralph.discourse.group

[2019-02-27 12:37] #2731 closed, assigned to nobody

[2019-02-27 12:37] romcheg commented on #2747
Closing a stale issue. If it is still relevant, please re-open it or start a topic at  Ralph forum: https://ralph.discourse.group

[2019-02-27 12:37] #2747 closed, assigned to nobody

[2019-02-27 12:37] romcheg commented on #2749
Closing a stale issue. If it is still relevant, please re-open it or start a topic at  Ralph forum: https://ralph.discourse.group

[2019-02-27 12:37] #2749 closed, assigned to nobody

[2019-02-27 12:37] romcheg commented on #2750
Closing a stale issue. If it is still relevant, please re-open it or start a topic at  Ralph forum: https://ralph.discourse.group

[2019-02-27 12:37] #2750 closed, assigned to nobody

[2019-02-27 12:37] romcheg commented on #2808
Not relevant

[2019-02-27 12:37] #2808 closed, assigned to nobody

[2019-02-27 12:38] romcheg commented on #2839
Closing a stale issue. If it is still relevant, please re-open it or start a topic at  Ralph forum: https://ralph.discourse.group

[2019-02-27 12:38] #2839 closed, assigned to nobody

[2019-02-27 12:38] romcheg commented on #2842
Closing a stale issue. If it is still relevant, please re-open it or start a topic at  Ralph forum: https://ralph.discourse.group

[2019-02-27 12:38] #2842 closed, assigned to nobody

[2019-02-27 12:38] romcheg commented on #2853
Closing a stale issue. If it is still relevant, please re-open it or start a topic at  Ralph forum: https://ralph.discourse.group

[2019-02-27 12:38] #2853 closed, assigned to nobody

[2019-02-27 12:38] romcheg commented on #2855
Closing a stale issue. If it is still relevant, please re-open it or start a topic at  Ralph forum: https://ralph.discourse.group

[2019-02-27 12:38] #2855 closed, assigned to nobody

[2019-02-27 12:38] romcheg commented on #2857
Closing a stale issue. If it is still relevant, please re-open it or start a topic at  Ralph forum: https://ralph.discourse.group

[2019-02-27 12:38] #2857 closed, assigned to nobody

[2019-02-27 12:39] romcheg commented on #2866
Closing a stale issue. If it is still relevant, please re-open it or start a topic at  Ralph forum: https://ralph.discourse.group

[2019-02-27 12:39] #2866 closed, assigned to nobody

[2019-02-27 12:39] romcheg commented on #2922
Closing a stale issue. If it is still relevant, please re-open it or start a topic at  Ralph forum: https://ralph.discourse.group

[2019-02-27 12:39] #2922 closed, assigned to nobody

[2019-02-27 12:42] romcheg commented on #2941
We are not planning to implement this feature in the observable future. Any contributions, however, are welcome.

[2019-02-27 12:42] #2941 closed, assigned to nobody

[2019-02-27 12:42] romcheg commented on #2942
Closing a stale issue. If it is still relevant, please re-open it or start a topic at  Ralph forum: https://ralph.discourse.group

[2019-02-27 12:42] #2942 closed, assigned to nobody

[2019-02-27 12:45] romcheg commented on #3093
RHEL 7 does not provide python 3 and we cannot make a package that depends on external repositories. RHEL8 Beta is available atm and it does provide python 3 package, however, we are not sure, if we are going to make a rhel package due to lack of resources. You are welcome to create a topic on [Ralph forum ](https://ralph.discourse.group) to discuss the question.

[2019-02-27 12:45] #3093 closed, assigned to nobody

[2019-02-27 12:47] romcheg commented on #2931
No changes have been done about this yet. I'm going to close the issue for now since we are cleaning up the issue board for the project. Any contributions regarding this are welcome. Otherwise, please create a topic at  Ralph forum: https://ralph.discourse.group

[2019-02-27 12:47] #2931 closed, assigned to nobody

[2019-02-27 12:48] romcheg commented on #2958
Closing a stale issue. If it is still relevant, please start a topic at  Ralph forum: https://ralph.discourse.group

[2019-02-27 12:48] #2958 closed, assigned to nobody

[2019-02-27 12:48] romcheg commented on #2957
Closing a stale issue. If it is still relevant, please start a topic at Ralph forum: https://ralph.discourse.group

[2019-02-27 12:48] #2957 closed, assigned to nobody

[2019-02-27 12:49] romcheg commented on #2955
Closing a stale issue. If it is still relevant, please re-open it or start a topic at  Ralph forum: https://ralph.discourse.group

[2019-02-27 12:49] #2955 closed, assigned to nobody

[2019-02-27 12:50] romcheg commented on #2978
Please refer to the official documentation: https://ralph-ng.readthedocs.io/en/stable/installation/installation/

[2019-02-27 12:50] #2978 closed, assigned to nobody

[2019-02-27 12:51] romcheg commented on #2975
Closing a stale issue. If it is still relevant, please re-open it or start a topic at  Ralph forum: https://ralph.discourse.group

[2019-02-27 12:51] #2975 closed, assigned to nobody

[2019-02-27 12:52] romcheg commented on #2963
Closing a stale issue. If it is still relevant, please re-open it or start a topic at  Ralph forum: https://ralph.discourse.group

[2019-02-27 12:52] #2963 closed, assigned to nobody

[2019-02-27 12:52] romcheg commented on #2960
Closing a stale issue. If it is still relevant, please re-open it or start a topic at  Ralph forum: https://ralph.discourse.group

[2019-02-27 12:52] #2960 closed, assigned to nobody

[2019-02-27 12:53] romcheg commented on #3089
Closing a stale issue. If it is still relevant, please re-open it or start a topic at  Ralph forum: https://ralph.discourse.group

[2019-02-27 12:53] #3089 closed, assigned to nobody

[2019-02-27 12:53] romcheg commented on #3038
Closing a stale issue. If it is still relevant, please re-open it or start a topic at  Ralph forum: https://ralph.discourse.group

[2019-02-27 12:53] #3038 closed, assigned to nobody

[2019-02-27 12:54] romcheg commented on #3092
Docker image was re-done completely.

[2019-02-27 12:54] #3092 closed, assigned to nobody

[2019-02-27 12:54] romcheg commented on #3084
Closing a stale issue. If it is still relevant, please re-open it or start a topic at  Ralph forum: https://ralph.discourse.group

[2019-02-27 12:54] #3084 closed, assigned to nobody

[2019-02-27 12:55] romcheg commented on #2988
Closing a stale issue. If it is still relevant, please re-open it or start a topic at  Ralph forum: https://ralph.discourse.group

[2019-02-27 12:55] #2988 closed, assigned to ar4s

[2019-02-27 12:55] romcheg commented on #3099
Closing a stale issue. If it is still relevant, please re-open it or start a topic at  Ralph forum: https://ralph.discourse.group

[2019-02-27 12:55] #3099 closed, assigned to nobody

[2019-02-27 12:56] romcheg commented on #3101
atm we have no time to change this. Any contribution, however, will be reviewed and appreciated.

[2019-02-27 12:56] #3101 closed, assigned to nobody

[2019-02-27 12:57] romcheg commented on #3110
Closing a stale issue. If it is still relevant, please re-open it or start a topic at  Ralph forum: https://ralph.discourse.group

[2019-02-27 12:57] #3110 closed, assigned to ar4s

[2019-02-27 12:59] romcheg commented on #3127
The app is not available and is not officially maintained by Ralph maintainers. Frankly, we have neither time not required skills to maintain something like that.

[2019-02-27 12:59] #3127 closed, assigned to nobody

[2019-02-27 13:00] romcheg commented on #3111
Closing a stale issue. If it is still relevant, please re-open it or start a topic at  Ralph forum: https://ralph.discourse.group

[2019-02-27 13:00] #3111 closed, assigned to romcheg

[2019-02-27 13:02] romcheg commented on #3119
Closing a stale issue. If it is still relevant, please re-open it or start a topic at  Ralph forum: https://ralph.discourse.group

[2019-02-27 13:02] #3119 closed, assigned to nobody

[2019-02-27 13:02] romcheg commented on #3129
Closing a stale issue. If it is still relevant, please re-open it or start a topic at  Ralph forum: https://ralph.discourse.group

[2019-02-27 13:02] #3129 closed, assigned to nobody

[2019-02-27 13:03] romcheg commented on #3156
Vagrant support was deprecated

[2019-02-27 13:03] #3156 closed, assigned to nobody

[2019-02-27 13:03] romcheg commented on #3157
Closing a stale issue. If it is still relevant, please re-open it or start a topic at  Ralph forum: https://ralph.discourse.group

[2019-02-27 13:03] #3157 closed, assigned to nobody

[2019-02-27 13:03] romcheg commented on #3163
Closing a stale issue. If it is still relevant, please re-open it or start a topic at  Ralph forum: https://ralph.discourse.group

[2019-02-27 13:03] #3163 closed, assigned to nobody

[2019-02-27 13:04] romcheg commented on #3185
Closing a stale issue. If it is still relevant, please re-open it or start a topic at  Ralph forum: https://ralph.discourse.group

[2019-02-27 13:04] #3185 closed, assigned to nobody

[2019-02-27 13:05] romcheg commented on #3135
Not relevant anymore.

[2019-02-27 13:05] #3135 closed, assigned to nobody

[2019-02-27 13:07] romcheg commented on #3132
Ralph package was re-done entirely. Please refer to the official documentation for more details. In case of any questions you can ask for help at the official gitter channel or to  start a topic at  Ralph forum: https://ralph.discourse.group

[2019-02-27 13:07] #3132 closed, assigned to nobody

[2019-02-27 13:09] romcheg commented on #3243
Closing a stale issue. If it is still relevant, please re-open it or start a topic at  Ralph forum: https://ralph.discourse.group

[2019-02-27 13:09] #3243 closed, assigned to nobody

[2019-02-27 13:10] romcheg commented on #3223
Closing a stale issue. If it is still relevant, please re-open it or start a topic at  Ralph forum: https://ralph.discourse.group

[2019-02-27 13:10] #3223 closed, assigned to nobody

[2019-02-27 13:10] romcheg commented on #3210
Closing a stale issue. If it is still relevant, please re-open it or start a topic at  Ralph forum: https://ralph.discourse.group

[2019-02-27 13:10] #3210 closed, assigned to nobody

[2019-02-27 13:12] romcheg commented on #3202
You can install use either the new official debian package (https://ralph-ng.readthedocs.io/en/stable/installation/installation/) or the set of docker images in order to do that.

[2019-02-27 13:12] #3202 closed, assigned to nobody

[2019-02-27 13:13] romcheg commented on #3195
Docker containers are being published to dockerhub now and don't require building:
 - https://hub.docker.com/r/allegro/ralph
 - https://hub.docker.com/r/allegro/ralph-static-nginx

[2019-02-27 13:13] #3195 closed, assigned to nobody

[2019-02-27 13:14] romcheg commented on #3191
The debian package was re-done dramatically. Could you please check it out? https://ralph-ng.readthedocs.io/en/stable/installation/installation/

[2019-02-27 13:14] #3191 closed, assigned to nobody

[2019-02-27 13:17] romcheg commented on #3190
Closing a stale issue. If it is still relevant, please re-open it or start a topic at  Ralph forum: https://ralph.discourse.group

[2019-02-27 13:17] #3190 closed, assigned to nobody

[2019-02-27 13:18] romcheg commented on #3138
We will definitely do that at some point, but for now we don't have time to deal with that. Closing the issue to keep the board in the manageable state.

[2019-02-27 13:18] #3138 closed, assigned to ar4s

[2019-02-27 13:23] romcheg commented on #3152
Closing a stale issue. If it is still relevant, please re-open it or start a topic at  Ralph forum: https://ralph.discourse.group

[2019-02-27 13:23] #3152 closed, assigned to nobody

[2019-02-27 13:23] romcheg commented on #3142
Closing a stale issue. If it is still relevant, please re-open it or start a topic at  Ralph forum: https://ralph.discourse.group

[2019-02-27 13:23] #3142 closed, assigned to nobody

[2019-02-27 13:24] romcheg commented on #3151
Closing a stale issue. If it is still relevant, please re-open it or start a topic at  Ralph forum: https://ralph.discourse.group

[2019-02-27 13:24] #3151 closed, assigned to nobody

[2019-02-27 13:24] romcheg commented on #3153
Closing a stale issue. If it is still relevant, please re-open it or start a topic at  Ralph forum: https://ralph.discourse.group

[2019-02-27 13:24] #3153 closed, assigned to nobody

[2019-02-27 13:26] romcheg commented on #3318
We will arrange a big documentation initiative to document everything. Closing individual issues for new documents for now.

[2019-02-27 13:26] #3318 closed, assigned to nobody

[2019-02-27 13:27] romcheg commented on #3259
Closing a stale issue. If it is still relevant, please re-open it or start a topic at  Ralph forum: https://ralph.discourse.group

[2019-02-27 13:27] #3259 closed, assigned to nobody

[2019-02-27 13:28] romcheg commented on #3247
Closing a stale issue. If it is still relevant, please re-open it or start a topic at  Ralph forum: https://ralph.discourse.group

[2019-02-27 13:28] #3247 closed, assigned to nobody

[2019-02-27 13:30] romcheg commented on #3417
You need to run `docker-compose run web init`. I'm working on the documentation for this. Please let me know if it helps.

[2019-02-27 13:31] romcheg commented on #3288
Docker packaging was re-done entirely.

[2019-02-27 13:31] #3288 closed, assigned to nobody

[2019-02-27 13:33] romcheg commented on #3267
Closing a stale issue. If it is still relevant, please re-open it or start a topic at  Ralph forum: https://ralph.discourse.group

[2019-02-27 13:33] #3267 closed, assigned to nobody

[2019-02-27 13:33] romcheg commented on #3304
Closing a stale issue. If it is still relevant, please re-open it or start a topic at  Ralph forum: https://ralph.discourse.group

[2019-02-27 13:33] #3304 closed, assigned to nobody